<dx-popup
  [width]="800 "
  [height]="700"
  [showTitle]="true"
  title="Select File"
  [dragEnabled]="false"
  [hideOnOutsideClick]="false"
  [(visible)]="imageSelectVisible"
  [showCloseButton]="false">

  <dx-file-manager #fileManager
    id="fileManager"
    [fileSystemProvider]="fileSystemProvider"
    selectionMode="single"
    [itemView]="{showFolders: false}"
    (onSelectionChanged)="onItemClick($event)">
      <dxo-permissions
        [create]="true"
        [copy]="true"
        [move]="true"
        [delete]="true"
        [rename]="true"
        [upload]="true"
        [download]="true">
      </dxo-permissions>
  </dx-file-manager>

  <div class="row d-flex my-5 justify-content-around" style="margin: 0 auto;">
    <div class="col-lg-6 text-center">
      <dx-button width="100" stylingMode="contained" text="Select" type="default" (onClick)="selectImage($event)"></dx-button>
    </div>
    <div class="col-lg-6 text-center">
      <dx-button width="100" stylingMode="contained" text="Cancel" type="default" (onClick)="closeImageWindow()"></dx-button>
    </div>
  </div>
</dx-popup>
