<ng-template [ngIf] = "loading | async">

  <ng-template [ngIf]="currentCard != null">

    <ng-template [ngIf]="mode=='edit'">
      <div class="card">
        <div class="card-body">
          <div class="form">
            <div class="dx-field">
              <div class="dx-field-label"><h3>Card Name</h3></div>
              <div class="dx-field-value">
                <dx-text-box style="float:left; width: 80%;"[(ngModel)]="currentCard.name"></dx-text-box>
                <dx-button style="float: right" name="angulareditor" location="after" (onClick)="preview()">Preview</dx-button>
              </div>
            </div>
            <hr color="#091D45" width="100%"/>
            <app-card-header-view [card]="currentCard" [view]="mode"></app-card-header-view>
            <app-card-body-view [card]="currentCard" [view]="mode"></app-card-body-view>
          </div>
        </div>
      </div>
      <div class="add-item-modal__button-group">
        <dx-button
          text="CANCEL"
          stylingMode="contained"
          type="normal"
          (onClick)="showCancelPopup()">
        </dx-button>
        <dx-button
          text="SAVE"
          stylingMode="contained"
          type="normal"
          (onClick)="showSavePopup()">
        </dx-button>
      </div>
    </ng-template>

    <ng-template [ngIf]="mode=='preview'">
      <dx-button style="float: right" name="angulareditor" location="after" (onClick)="preview()">Preview</dx-button>
      <ng-template [ngIf]="currentCard.card_section == 'Card' || currentCard.card_section == '' || currentCard.card_section == null">
        <div class="card" id="card-display" [style.background-color]="currentCard.card_color">
          <div class="card-body">
            <app-card-header-view [view]="mode" [card]="currentCard"></app-card-header-view>
            <app-card-body-view [view]="mode" [card]="currentCard"></app-card-body-view>
            <ng-container *ngIf="currentCard.line == true">
              <hr [ngStyle]="card_line">
            </ng-container>
          </div>
        </div>
      </ng-template>

      <ng-template [ngIf]="currentCard.card_section == 'Section'">
        <div class="card" id="section-display"  [style.background-color]="currentCard.card_color">
          <div class="section-body">
            <app-card-header-view [view]="mode" [card]="currentCard"></app-card-header-view>
            <app-card-body-view [view]="mode" [card]="currentCard"></app-card-body-view>
            <ng-container *ngIf="currentCard.line == true">
              <hr [ngStyle]="card_line">
            </ng-container>
          </div>
        </div>
      </ng-template>

    </ng-template>

  </ng-template>

</ng-template>

<ng-container *ngIf="confirmPageSaveVisible">
  <dx-popup
    [width]="300"
    [height]="250"
    [showTitle]="true"
    title="Save Card Changes?"
    [dragEnabled]="false"
    [hideOnOutsideClick]="true"
    [(visible)]="confirmPageSaveVisible">
    <p>Are you sure you want to save this Card?</p>
    <div class="row d-flex mt-5 justify-content-around" style="margin: 0 auto;">
      <div class="col-lg-6 text-center">
        <dx-button width="100" stylingMode="contained" text="Save" type="default" (onClick)="saveChanges()"></dx-button>
      </div>
      <div class="col-lg-6 text-center">
        <dx-button width="100" stylingMode="contained" text="Cancel" type="default" (onClick)="closeSaveChanges()"></dx-button>
      </div>
    </div>
  </dx-popup>
</ng-container>

<ng-container *ngIf="confirmPageCancelVisible">
  <dx-popup
    [width]="300"
    [height]="250"
    [showTitle]="true"
    title="Cancel Card Changes?"
    [dragEnabled]="false"
    [hideOnOutsideClick]="true"
    [(visible)]="confirmPageCancelVisible">
    <p>Are you sure you want to cancel this Card? This will cause you to lose any of your current changes?</p>
    <div class="row d-flex mt-5 justify-content-around" style="margin: 0 auto;">
      <div class="col-lg-6 text-center">
        <dx-button width="100" stylingMode="contained" text="Save" type="default" (onClick)="cancelChanges()"></dx-button>
      </div>
      <div class="col-lg-6 text-center">
        <dx-button width="100" stylingMode="contained" text="Cancel" type="default" (onClick)="closeCancelChanges()"></dx-button>
      </div>
    </div>
  </dx-popup>
</ng-container>
