<dx-form [formData]="card">
  <dxi-item itemType="tabbed">
    <dxi-tab title="Info">
      <dxi-item dataField="name"></dxi-item>
      <dxi-item>
        <div *dxTemplate>
          <app-card-header-view [card]="card" [view]="mode"></app-card-header-view>
          <app-card-body-view [card]="card" [view]="mode"></app-card-body-view>
        </div>
      </dxi-item>
    </dxi-tab>
    <dxi-tab title="Preview">
      <app-card-previewer [card]="card" [mode]="'preview'"></app-card-previewer>
    </dxi-tab>
  </dxi-item>
</dx-form>


