<dx-data-grid class="dx-card wide-card"
  #grid
  [dataSource]="dataSource"
  [width]="'100%'"
  [showBorders]="false"
  [focusedRowEnabled]="true"
  [columnAutoWidth]="true"
  [columnHidingEnabled]="true"
  (onRowUpdating)="onRowUpdating($event)">

  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
  <dxo-search-panel
    [visible]="true"
    [width]="240"
    placeholder="Search...">
  </dxo-search-panel>
  <dxo-toolbar>
    <dxi-item location="before">
      <div *dxTemplate>
        <div class="toolbar-label">
          <b>Lunch and Learns</b>
        </div>
      </div>
    </dxi-item>

    <dxi-item name="addRowButton"></dxi-item>
    <dxi-item name="searchPanel"></dxi-item>
  </dxo-toolbar>
  <dxo-editing
    mode="popup"
    [allowAdding]="true"
    [allowUpdating]="true"
    [allowDeleting]="true"
    [useIcons]="true">
    <dxo-popup
      title="Lunch and Learn"
      [showTitle]="true"
      [width]="800"
      [height]="800">
    </dxo-popup>
    <dxo-form [colCount]="1">
      <dxi-item itemType="group" [colCount]="3" [colSpan]="1">
        <dxi-item dataField="firstName" [colSpan]="1"></dxi-item>
        <dxi-item dataField="lastName" [colSpan]="1"></dxi-item>
        <dxi-item dataField="email" [colSpan]="2"></dxi-item>
      </dxi-item>
      <dxi-item itemType="group" caption="Information" [colCount]="2" [colSpan]="1">
        <dxi-item dataField="requestedStartDateTime" [colSpan]="1"></dxi-item>
        <dxi-item dataField="requestedEndDateTime" [colSpan]="1"></dxi-item>
      </dxi-item>
      <dxi-item itemType="group" caption="Address" [colCount]="4" [colSpan]="1">
        <dxi-item dataField="locationName" [colSpan]="4"></dxi-item>
        <dxi-item dataField="locationAddress.address1" [colSpan]="4"></dxi-item>
        <dxi-item dataField="locationAddress.address2" [colSpan]="4"></dxi-item>
        <dxi-item dataField="locationAddress.city" [colSpan]="2"></dxi-item>
        <dxi-item dataField="locationAddress.state" [colSpan]="2"></dxi-item>
        <dxi-item dataField="locationAddress.zip" [colSpan]="2"></dxi-item>
        <dxi-item dataField="locationAddress.country" [colSpan]="2"></dxi-item>
      </dxi-item>
      <dxi-item itemType="group" caption="Contact Information" [colCount]="3" [colSpan]="1">
        <dxi-item dataField="coordinator" [colSpan]="3"></dxi-item>
        <dxi-item dataField="coordinatorPhone.countryCode" [colSpan]="1"></dxi-item>
        <dxi-item dataField="coordinatorPhone.number" [colSpan]="1" ></dxi-item>
        <dxi-item dataField="coordinatorPhone.type" [colSpan]="1"></dxi-item>
      </dxi-item>
    </dxo-form>
  </dxo-editing>

  <dxi-column dataField="email"></dxi-column>
  <dxi-column dataField="firstName"></dxi-column>
  <dxi-column dataField="lastName"></dxi-column>
  <dxi-column dataField="requestedStartDateTime"  [dataType]="'datetime'" [caption]="'Start Time'"></dxi-column>
  <dxi-column dataField="requestedEndDateTime"  [dataType]="'datetime'" [caption]="'End Time'"></dxi-column>
  <dxi-column dataField="locationName"></dxi-column>
  <dxi-column dataField="locationAddress.address1" [visible]="false" [caption]="'Address 1'"></dxi-column>
  <dxi-column dataField="locationAddress.address2" [visible]="false" [caption]="'Address 2'"></dxi-column>
  <dxi-column dataField="locationAddress.city" [visible]="false" [caption]="'City'"></dxi-column>
  <dxi-column dataField="locationAddress.state" [visible]="false" [caption]="'State'"></dxi-column>
  <dxi-column dataField="locationAddress.zip" [visible]="false" [caption]="'Zip Code'"></dxi-column>
  <dxi-column dataField="locationAddress.country" [visible]="false" [caption]="'Country'"></dxi-column>
  <dxi-column dataField="coordinator"></dxi-column>
  <dxi-column dataField="coordinatorPhone.countryCode" [caption]="'Country Code'" [visible]="false"></dxi-column>
  <dxi-column dataField="coordinatorPhone.number" [caption]="'Number'" [editorOptions]="{ mask: '(000) 000-0000' }" cellTemplate="phoneNumberCellTemplate"></dxi-column>
  <dxi-column dataField="coordinatorPhone.type" [caption]="'Type'">
    <dxo-lookup [dataSource]="phone_types"></dxo-lookup>
  </dxi-column>

  <div *dxTemplate="let cell of 'phoneNumberCellTemplate'">
    <div class="">
      {{ cell.data.phone | phoneNumberMask : false }}
    </div>
  </div>
</dx-data-grid>
