<ng-container *ngIf="view=='edit'">
    <div class="mt-5 mb-5 text-center justify-content-around">
        <button class="btn btn-primary mr-3" id="edit-component-buttons" (click)="showPopup()">Configure Single Checkbox Input</button>
    </div>
    <ng-container *ngIf="viewConfig">
        <dx-popup
            [width]="400"
            [height]="getScreenHeight()"
            [showTitle]="true"
            title="Configure Single Checkbox Input"
            [dragEnabled]="true"
            [hideOnOutsideClick]="false"
            [(visible)]="viewConfig"
            [showCloseButton]="true">
            <dx-scroll-view [showScrollbar]="'true'" style="height:85%;">
                <div class="dx-field">
                    <div class="dx-field-label">Results Order</div>
                    <div class="dx-field-value">
                        <dx-number-box [(value)]="input.result_order"></dx-number-box>
                    </div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label">Required</div>
                    <div class="dx-field-value">
                        <dx-select-box [(value)]="input.required" [items]="[true, false]"></dx-select-box>
                    </div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label">Label</div>
                    <div class="dx-field-value">
                    <dx-text-box [(value)]="input.singleCheckbox.label"></dx-text-box>
                    </div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label">Field Name</div>
                    <div class="dx-field-value">
                    <dx-text-box [(value)]="input.singleCheckbox.field_name"></dx-text-box>
                    </div>
                </div>
                <div class="row d-flex mt-5 justify-content-around" style="margin: 0 auto;">
                    <div class="col-lg-6 text-center">
                        <dx-button width="100" stylingMode="contained" text="Save" type="default" (onClick)="viewConfig = false"></dx-button>
                    </div>
                    <div class="col-lg-6 text-center">
                        <dx-button width="100" stylingMode="contained" text="Cancel" type="default" (onClick)="resetForm()"></dx-button>
                    </div>
                </div>
            </dx-scroll-view>
        </dx-popup>
    </ng-container>
</ng-container>


<!--Single Checkbox Display-->
<ng-container *ngIf="view == 'display' || view == 'preview'">
    <ng-container *ngIf="form.position == 'top' || form.position == 'placeholder'">
        <label class="align-text-middle pt-2" for="{{input.singleCheckbox.label}}">{{input.singleCheckbox.label}} </label>
        <br>
        <dx-check-box
            [value]="false"
            [(value)]="formToSubmit[input.singleCheckbox.field_name]">
        </dx-check-box>
    </ng-container>
    <ng-container *ngIf="form.position == 'left'">
        <label class="align-text-middle pt-2" for="{{input.singleCheckbox.label}}" style="margin-right: 2%">{{input.singleCheckbox.label}} </label>
        <dx-check-box
            [value]="false"
            [(value)]="formToSubmit[input.singleCheckbox.field_name]">
        </dx-check-box>
    </ng-container>
</ng-container>
