<ng-container *ngIf="view=='edit'">
        <div class="row">
            <div class="col">
                <h3>Component Header</h3>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <div class="dx-field">
                    <div class="dx-field-label" style="width: 19%;">Heading</div>
                    <div class="dx-field-value" style="width: 81%;">
                        <dx-text-box style="float:left; width: 90%;" [(ngModel)]="component.header.header_value"></dx-text-box>
                        <dx-button style="float: right" [icon]="'edit'" (onClick)="displayCardEditor('header_value', component.header)"></dx-button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="dx-field">
                    <div class="dx-field-label" style="width: 19%;">Sub Heading</div>
                    <div class="dx-field-value" style="width: 81%;">
                        <dx-text-box style="float:left; width: 90%;" [(ngModel)]="component.header.sub_header_value"></dx-text-box>
                        <dx-button style="float: right" [icon]="'edit'" (onClick)="displayCardEditor('sub_header_value', component.header)"></dx-button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
              <div class="dx-field">
                <div class="dx-field-label">Add Divider Line?</div>
                <div class="dx-field-value">
                  <dx-check-box [(ngModel)]="component.header.line" [value]="false"></dx-check-box>
                </div>
              </div>
              <ng-container *ngIf="component.header.line == true">
              <div class="dx-field">
                <div class="dx-field-label">Line Color</div>
                <div class="dx-field-value">
                  <dx-color-box [(ngModel)]="component.header.line_color" [showClearButton]="true" ></dx-color-box>
                </div>
              </div>
              <div class="dx-field">
                <div class="dx-field-label">Line Width (%)</div>
                <div class="dx-field-value">
                  <dx-number-box [(ngModel)]="component.header.line_width"></dx-number-box>
                </div>
              </div>
              <div class="dx-field">
                <div class="dx-field-label">Line Height</div>
                <div class="dx-field-value">
                  <dx-number-box [(ngModel)]="component.header.line_height"></dx-number-box>
                </div>
              </div>
            </ng-container>
            </div>
          </div>
        <hr color="#091D45" width="100%"/>

        <app-card-text-editor
          [card]="editedComponent"
          [field]="editedField"
          [textEditorVisible]="textEditorVisible"
          (textEditorClosed)="closeEditorWindow()"
          [htmlContent]="htmlContent">
        </app-card-text-editor>
</ng-container>

<ng-container *ngIf="view == 'display' || view == 'preview'">
  <div *ngIf="component.header.header_value">
    <div class="card-title" [innerHTML]="component.header.header_value | safeHTMLUrl"></div>
  </div>
  <div *ngIf="component.header.sub_header_value">
    <div class="card-title" [innerHTML]="component.header.sub_header_value | safeHTMLUrl"></div>
  </div>
  <ng-container *ngIf="component.header.line == true">
    <hr [ngStyle]="component_line">
  </ng-container>
</ng-container>
