<div class="content-block">
  <dx-data-grid class="dx-card wide-card"
    #grid
    [dataSource]="dataSource | async"
    [width]="'100%'"
    [showBorders]="false"
    [focusedRowEnabled]="true"
    [columnAutoWidth]="true"
    [columnHidingEnabled]="true"
    [rowAlternationEnabled]="true"
    (onRowUpdating)="onRowUpdating($event)">

    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
    <dxo-filter-row [visible]="false"></dxo-filter-row>
    <dxo-header-filter [visible]="false"></dxo-header-filter>
    <dxo-search-panel
      [visible]="true"
      [width]="240"
      placeholder="Search...">
    </dxo-search-panel>
    <dxo-toolbar>
      <dxi-item location="before">
        <div *dxTemplate>
          <div class="toolbar-label">
            <b>Courses</b>
          </div>
        </div>
      </dxi-item>

      <dxi-item name="addRowButton"></dxi-item>
      <dxi-item name="searchPanel"></dxi-item>
    </dxo-toolbar>
    <dxo-editing
      mode="popup"
      [allowAdding]="true"
      [allowUpdating]="true"
      [allowDeleting]="true"
      [useIcons]="true">
      <dxo-popup
        title="Add/Edit Course"
        [showTitle]="true"
        [width]="1000"
        [height]="850">
      </dxo-popup>
      <dxo-form [colCount]="1">
        <dxi-item itemType="group" caption="Course" [colCount]="2" [colSpan]="1">
          <dxi-item dataField="title" [colSpan]="1"></dxi-item>
          <dxi-item dataField="length" [colSpan]="1"></dxi-item>
          <dxi-item dataField="shortDescription" [colSpan]="2" [editorType]="'dxTextArea'" [editorOptions]="{ height: 100 }"></dxi-item>
          <dxi-item dataField="longDescription" [colSpan]="2" [editorType]="'dxTextArea'" [editorOptions]="{ height: 300 }"></dxi-item>
          <dxi-item dataField="resources" [colSpan]="1"></dxi-item>
        </dxi-item>
      </dxo-form>
    </dxo-editing>

    <dxi-column dataField="title"></dxi-column>
    <dxi-column dataField="shortDescription" [caption]="'Description'" [visible]="false"></dxi-column>
    <dxi-column dataField="longDescription" [caption]="'Details'" [visible]="false"></dxi-column>
    <dxi-column dataField="resources" [caption]="'Resources'"></dxi-column>
    <dxi-column dataField="length"></dxi-column>
  </dx-data-grid>
</div>

