<ng-container *ngIf="view=='edit'">
  <div class="dx-field">
    <div class="dx-field-label">Image Url</div>
    <div class="dx-field-value">
      <dx-text-box [(value)]="component.footer.image.url" style="width: 90%; float: left"></dx-text-box>
      <dx-button style="float: right" [icon]="'add'" (onClick)="displayImageSelection('url', component.footer.image)"></dx-button>
    </div>
  </div>
  <div class="dx-field">
    <div class="dx-field-label">Height</div>
    <div class="dx-field-value">
      <dx-number-box [(value)]="component.image.height"></dx-number-box>
    </div>
  </div>
  <div class="dx-field">
    <div class="dx-field-label">Make Image Clickable?</div>
    <div class="dx-field-value">
      <dx-select-box #imageclickable
      [value]="component.footer.link_external ? 'External Link': 'Internal Link'"
        [items]="['No', 'External Link', 'Internal Link']"
        (onValueChanged)="onSelectionChanged($event)"
        [searchEnabled]="true"></dx-select-box>
    </div>
  </div>
  <ng-container *ngIf="imageclickable.value=='External Link'">
    <div class="dx-field">
      <div class="dx-field-label">On Click URL</div>
      <div class="dx-field-value">
        <dx-text-box [(value)]="component.footer.link.link"></dx-text-box>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="imageclickable.value=='Internal Link'">
    <div class="dx-field">
      <div class="dx-field-label">On Click URL</div>
      <div class="dx-field-value">
        <dx-text-box [(value)]="component.footer.link.label" style="width: 90%; float: left"></dx-text-box>
        <dx-button style="float: right" [icon]="'add'" (onClick)="displayPageSelection('link', component.footer)"></dx-button>
      </div>
    </div>
  </ng-container>

  <dx-popup
    [width]="500"
    [height]="500"
    [showTitle]="true"
    title="Select File"
    [dragEnabled]="false"
    [hideOnOutsideClick]="false"
    [(visible)]="pageSelectVisible"
    [showCloseButton]="false">

    <div class="row">
      <div class="col-12">
        <dx-list
          height="250"
          [displayExpr]="'name'"
          [dataSource]="pageList"
          selectionMode="single"
          [showSelectionControls]="true"
          [showScrollbar]="'always'"
          [(selectedItems)]="selectedPage">
      </dx-list>
      </div>
    </div>
    <div class="row d-flex mt-5 justify-content-around" style="margin: 0 auto;">
      <div class="col-lg-6 text-center">
        <dx-button width="100" stylingMode="contained" text="Save" type="default" (onClick)="selectPage($event)"></dx-button>
      </div>
      <div class="col-lg-6 text-center">
        <dx-button width="100" stylingMode="contained" text="Cancel" type="default" (onClick)="closePageWindow()"></dx-button>
      </div>
    </div>
  </dx-popup>

  <app-card-image-uploader
    [card]="editedComponent"
    [field]="editedField"
    [imageSelectVisible]="imageSelectVisible"
    (imageSelectClosed)="imageSelectClosed($event)">
  </app-card-image-uploader>
</ng-container>

<ng-container *ngIf="view == 'display' || view == 'preview'">
  <ng-container *ngIf="component.footer.image.url">
      <a (click)="selectItem(component.footer)">
        <img [ngStyle]="img_component" class="img-responsive footer-image" src="{{component.footer.image.url}}" alt="{{component.footer.image.name}}"/>
      </a>
  </ng-container>
</ng-container>
