<dx-toolbar class="content-list__header py-2 px-2 px-2">
  <dxi-item location="after">
    <div *dxTemplate>
      <dx-button class="icon-button manage-button" hint="MANAGE CARDS">
        <div *dxTemplate="let data of 'content'">
          <div class="d-flex">
            <i class="dx-icon-preferences"></i>
          </div>
          <dx-context-menu
            target=".manage-button"
            showEvent="dxclick"
            [position]="{ my: { x: 'center', y: 'top' }, at: 'left bottom' }">
            <dxi-item text="Icons" icon="add" [onClick]="this.displayIconScreen"></dxi-item>
          </dx-context-menu>
        </div>
      </dx-button>
    </div>
  </dxi-item>
</dx-toolbar>
<dx-tree-list
    #menuItems
    id="menuItems"
    [dataSource]="store"
    keyExpr="dbId"
    [rootValue]="'Root'"
    itemsExpr="subItems"
    [showRowLines]="true"
    [showBorders]="true"
    (onRowPrepared)="onRowPrepared($event)"
    (onRowUpdated)="onRowUpdated($event)"
    (onRowUpdating)="onRowUpdating($event)"
    (onRowRemoving)="onRowRemoving($event)"
    (onEditorPreparing)="onEditorPreparing($event)"
    (onEditCanceled)="onEditCanceled($event)">
    <dxo-row-dragging
        [onReorder]="onReorder"
        [allowReordering]="true"
        [allowDropInsideItem]="true"
        [showDragIcons]="true">
    </dxo-row-dragging>
    <dxo-editing
        mode="form"
        [useIcons]="true"
        [allowUpdating]="true"
        [allowDeleting]="true">
    </dxo-editing>
    <dxi-column dataField="label"></dxi-column>
    <dxi-column dataField="type">
        <dxo-lookup [dataSource]="['folder', 'link']"></dxo-lookup>
    </dxi-column>
    <!--<dxi-column dataField="is_external" [dataType]="'boolean'"></dxi-column>-->
    <dxi-column dataField="link" [visible]="true" caption="Page">
        <dxo-lookup [dataSource]="pageList" valueExpr="id" displayExpr="name" [allowClearing]="true"></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="icon"></dxi-column>
    <dxi-column dataField="parentId" [visible]="false" caption="Parent Folder">
        <dxo-lookup [dataSource]="parentList" valueExpr="id" displayExpr="name"></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="visibleTo" [visible]="false" editCellTemplate="tagBoxEditor"></dxi-column>
    <dxi-column type="buttons">
        <dxi-button name="edit"></dxi-button>
        <dxi-button name="delete"></dxi-button>
    </dxi-column>

    <div *dxTemplate="let cellInfo of 'tagBoxEditor'">
        <dx-tag-box
            [dataSource]="roles"
            [value]="cellInfo.value"
            [showSelectionControls]="true"
            applyValueMode="useButtons"
            [searchEnabled]="true"
            (onValueChanged)="cellInfo.setValue($event.value)"
            (onSelectionChanged)="cellInfo.component.updateDimensions()">
        </dx-tag-box>
    </div>

    <div *dxTemplate="let cellInfo of 'linkBoxEditor'">
        <dx-select-box *ngIf="selectedMenuItem.is_external==false"
            [dataSource]="pageList"
            valueExpr="id"
            displayExpr="name"
            [(value)]="cellInfo.value">
        </dx-select-box>

        <dx-text-box *ngIf="selectedMenuItem.is_external==true"
            [(value)]="cellInfo.value">
        </dx-text-box>
    </div>
</dx-tree-list>


<ng-container *ngIf="showIconList">
    <dx-popup [width]="800" [height]="600" [showTitle]="true" title="View Icons" [dragEnabled]="false" [hideOnOutsideClick]="true" [(visible)]="showIconList">
        <dx-tabs #apiTabs [dataSource]="tabs" [selectedIndex]="0" (onItemClick)="selectTab($event)">
        </dx-tabs>
        <ng-template [ngIf]="selectedTab == 'MaterialDesign'">
            <dx-scroll-view width="100%" height="100%"
                showScrollbar="always"
                [scrollByContent]="true"
                [useNative]="false">
                <app-materialdesign></app-materialdesign>
            </dx-scroll-view>
        </ng-template>
        <ng-template [ngIf]="selectedTab == 'FontAwesome'">
            <dx-scroll-view width="100%" height="100%"
                showScrollbar="always"
                [scrollByContent]="true"
                [useNative]="false">
                <app-fontawesome></app-fontawesome>
            </dx-scroll-view>
        </ng-template>
        <ng-template [ngIf]="selectedTab == 'Drip'">
            <dx-scroll-view width="100%" height="100%"
                showScrollbar="always"
                [scrollByContent]="true"
                [useNative]="false">
                <app-dripicons></app-dripicons>
            </dx-scroll-view>
        </ng-template>
        <ng-template [ngIf]="selectedTab == 'Remix'">
            <dx-scroll-view width="100%" height="100%"
                showScrollbar="always"
                [scrollByContent]="true"
                [useNative]="false">
                <app-remix></app-remix>
            </dx-scroll-view>
        </ng-template>
    </dx-popup>
</ng-container>
