<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <dx-tree-list
                #menuItems
                id="menuItems"
                [dataSource]="store"
                keyExpr="dbId"
                [rootValue]="'Root'"
                itemsExpr="subItems"
                [showRowLines]="true"
                [showBorders]="true"
                (onToolbarPreparing)="onToolbarPreparing($event)"
                (onRowPrepared)="onRowPrepared($event)"
                (onRowUpdated)="onRowUpdated($event)"
                (onRowUpdating)="onRowUpdating($event)"
                (onRowRemoving)="onRowRemoving($event)"
                (onEditorPreparing)="onEditorPreparing($event)"
                (onEditCanceled)="onEditCanceled($event)">
                <dxo-row-dragging
                    [onReorder]="onReorder"
                    [allowReordering]="true"
                    [allowDropInsideItem]="true"
                    [showDragIcons]="true">
                </dxo-row-dragging>
                <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
                <dxo-sorting mode="multiple"></dxo-sorting>
                <dxo-editing
                    mode="form"
                    [useIcons]="true"
                    [allowUpdating]="true"
                    [allowDeleting]="true"
                    [allowAdding]="true">
                </dxo-editing>
                <dxi-column dataField="label"></dxi-column>
                <dxi-column dataField="type">
                    <dxo-lookup [dataSource]="['folder', 'link']"></dxo-lookup>
                </dxi-column>
                <!--<dxi-column dataField="is_external" [dataType]="'boolean'"></dxi-column>-->
                <dxi-column dataField="link" [visible]="true" caption="Page">
                    <dxo-lookup [dataSource]="pageList" valueExpr="id" displayExpr="name" [allowClearing]="true"></dxo-lookup>
                </dxi-column>
                <dxi-column dataField="icon"></dxi-column>
                <dxi-column dataField="parentId" [visible]="false" caption="Parent Folder">
                    <dxo-lookup [dataSource]="parentList" valueExpr="id" displayExpr="name"></dxo-lookup>
                </dxi-column>
                <dxi-column dataField="visibleTo" [visible]="false" editCellTemplate="tagBoxEditor"></dxi-column>
                <dxi-column type="buttons">
                    <dxi-button name="edit"></dxi-button>
                    <dxi-button name="delete"></dxi-button>
                </dxi-column>

                <div *dxTemplate="let cellInfo of 'tagBoxEditor'">
                    <dx-tag-box
                        [dataSource]="roles"
                        [value]="cellInfo.value"
                        [showSelectionControls]="true"
                        applyValueMode="useButtons"
                        [searchEnabled]="true"
                        (onValueChanged)="cellInfo.setValue($event.value)"
                        (onSelectionChanged)="cellInfo.component.updateDimensions()">
                    </dx-tag-box>
                </div>

                <div *dxTemplate="let cellInfo of 'linkBoxEditor'">
                    <dx-select-box *ngIf="selectedMenuItem.is_external==false"
                        [dataSource]="pageList"
                        valueExpr="id"
                        displayExpr="name"
                        [(value)]="cellInfo.value">
                    </dx-select-box>

                    <dx-text-box *ngIf="selectedMenuItem.is_external==true"
                        [(value)]="cellInfo.value">
                    </dx-text-box>
                </div>
            </dx-tree-list>
        </div>
    </div>

</div>

<ng-container *ngIf="showIconList">
    <dx-popup [width]="800" [height]="600" [showTitle]="true" title="View Icons" [dragEnabled]="false" [hideOnOutsideClick]="true" [(visible)]="showIconList">
        <dx-tabs #apiTabs [dataSource]="tabs" [selectedIndex]="0" (onItemClick)="selectTab($event)">
        </dx-tabs>
        <ng-template [ngIf]="selectedTab == 'MaterialDesign'">
            <dx-scroll-view width="100%" height="100%"
                showScrollbar="always"
                [scrollByContent]="true"
                [useNative]="false">
                <app-materialdesign></app-materialdesign>
            </dx-scroll-view>
        </ng-template>
        <ng-template [ngIf]="selectedTab == 'FontAwesome'">
            <dx-scroll-view width="100%" height="100%"
                showScrollbar="always"
                [scrollByContent]="true"
                [useNative]="false">
                <app-fontawesome></app-fontawesome>
            </dx-scroll-view>
        </ng-template>
        <ng-template [ngIf]="selectedTab == 'Drip'">
            <dx-scroll-view width="100%" height="100%"
                showScrollbar="always"
                [scrollByContent]="true"
                [useNative]="false">
                <app-dripicons></app-dripicons>
            </dx-scroll-view>
        </ng-template>
        <ng-template [ngIf]="selectedTab == 'Remix'">
            <dx-scroll-view width="100%" height="100%"
                showScrollbar="always"
                [scrollByContent]="true"
                [useNative]="false">
                <app-remix></app-remix>
            </dx-scroll-view>
        </ng-template>
    </dx-popup>
</ng-container>
