<ng-container *ngIf="view=='edit'">
  <hr color="#091D45" width="100%"/>
  <div class="row">
      <div class="col">
          <h3>Component Footer</h3>
      </div>
  </div>
  <div class="row mb-2">
      <div class="col">
          <div class="dx-field">
              <div class="dx-field-label">Type</div>
              <div class="dx-field-value">
                <dx-select-box  [searchEnabled]="true" [items]="ctaStyles" [(ngModel)]="component.footer.type" ></dx-select-box>
              </div>
          </div>
      </div>
  </div>
  <ng-container *ngIf="component.footer.type == 'link'">
    <app-footer-link-view [component]="component"></app-footer-link-view>
  </ng-container>
  <ng-container *ngIf="component.footer.type == 'image'">
    <app-footer-image-view [component]="component"></app-footer-image-view>
  </ng-container>
  <ng-container *ngIf="component.footer.type == 'button'">
    <app-footer-button-view [component]="component"></app-footer-button-view>
  </ng-container>
</ng-container>

<ng-container *ngIf="view == 'display' || view == 'preview'">
  <div class="row d-flex justify-content-around mt-4">
    <ng-container *ngIf="component.footer.type == 'link'">
      <app-footer-link-view [view]="view" [component]="component"></app-footer-link-view>
    </ng-container>
    <ng-container *ngIf="component.footer.type == 'image'">
      <app-footer-image-view [view]="view" [component]="component"></app-footer-image-view>
    </ng-container>
    <ng-container *ngIf="component.footer.type == 'button'">
      <app-footer-button-view [view]="view" [component]="component"></app-footer-button-view>
    </ng-container>
  </div>
</ng-container>
