<ng-container *ngIf="view=='edit'">
  <dx-form [formData]="card">
    <dxi-item itemType="group" caption="Card Header Configuration" [colCount]="8">
      <dxi-item dataField="card_section" [colSpan]="4">
        <div *dxTemplate>
          <dx-select-box  [searchEnabled]="true" [items]="['Section', 'Card']" [(value)]="card.card_section" ></dx-select-box>
        </div>
      </dxi-item>
      <dxi-item dataField="card_color" [colSpan]="4">
        <div *dxTemplate>
          <dx-color-box [(value)]="card.card_color" ></dx-color-box>
        </div>
      </dxi-item>
      <dxi-item dataField="line" [colSpan]="2">
        <div *dxTemplate>
          <dx-check-box [(value)]="card.line"></dx-check-box>
        </div>
      </dxi-item>
      <dxi-item dataField="line_color" *ngIf="card.line == true" [colSpan]="2">
        <div *dxTemplate>
          <dx-color-box [(value)]="card.line_color" [showClearButton]="true" ></dx-color-box>
        </div>
      </dxi-item>
      <dxi-item dataField="line_width" *ngIf="card.line == true" [colSpan]="2">
        <div *dxTemplate>
          <dx-number-box [(value)]="card.line_width"></dx-number-box>
        </div>
      </dxi-item>
      <dxi-item dataField="line" *ngIf="card.line == true" [colSpan]="2">
        <div *dxTemplate>
          <dx-number-box [(value)]="card.line_height"></dx-number-box>
        </div>
      </dxi-item>
    </dxi-item>
  </dx-form>

  <app-card-text-editor
    [card]="card"
    [field]="editedField"
    [textEditorVisible]="textEditorVisible"
    (textEditorClosed)="closeEditorWindow()"
    [htmlContent]="htmlContent">
  </app-card-text-editor>
</ng-container>
