<ng-container *ngIf="view=='edit'">
  <div class="mt-5 mb-5 text-center justify-content-around">
    <button class="btn btn-primary mr-3" id="edit-component-buttons" (click)="showPopup()">Configure Content</button>
  </div>

  <!--Form Popup Configuration-->
  <dx-popup
    [width]="800"
    [height]="getScreenHeight()"
    [showTitle]="true"
    title="Configure Form"
    [dragEnabled]="true"
    [hideOnOutsideClick]="false"
    [(visible)]="viewConfig"
    [showCloseButton]="true"
    [position]="{ my: 'top', at: 'top'}">
    <dx-scroll-view [showScrollbar]="'always'" style="height:85%;">
      <app-component-header-view [component]="component" [view]="view"></app-component-header-view>
      <br>
      <div class="row">
        <div class="col">
          <div class="dx-field-label">Form Name</div>
          <div class="dx-field-value">
            <dx-text-box [(value)]="component.form.name"></dx-text-box>
          </div>
        </div>
        <div class="col">
          <div class="dx-field-label">Form Width (%)</div>
          <div class="dx-field-value">
            <dx-number-box [(value)]="component.form.width"></dx-number-box>
          </div>
        </div>
      </div>
      <div class="row mt-2 mb-2">
        <div class="col">
          <div class="dx-field-label">Form Alignment</div>
          <div class="dx-field-value">
            <dx-select-box  [searchEnabled]="true" [items]="['Horizontal', 'Vertical']" [(value)]="component.form.alignment"></dx-select-box>
          </div>
        </div>
        <div class="col">
          <div class="dx-field-label">Use Place Holder</div>
          <div class="dx-field-value">
            <dx-select-box  [searchEnabled]="true" [items]="[true, false]" [(value)]="component.form.usePlaceholder"></dx-select-box>
          </div>
        </div>
      </div>
      <div class="row mt-2 mb-2">
        <div class="col">
          <div class="dx-field-label">Margin Top (%)</div>
          <div class="dx-field-value">
            <dx-number-box  [(value)]="component.form.margin_top"></dx-number-box>
          </div>
        </div>
        <div class="col">
          <div class="dx-field-label">Margin Bottom (%)</div>
          <div class="dx-field-value">
            <dx-number-box [(value)]="component.form.margin_bottom"></dx-number-box>
          </div>
        </div>
      </div>
      <div class="row mt-2 mb-2">
        <div class="col">
          <div class="dx-field-label">Add Submit Button?</div>
          <div class="dx-field-value">
            <dx-check-box [(value)]="component.form.button"[value]="false"></dx-check-box>
          </div>
        </div>
        <ng-container *ngIf="component.form.button == true" >
          <div class="dx-field">
            <div class="dx-field-label">Button Value</div>
            <div class="dx-field-value">
              <dx-text-box [(value)]="component.form.button_name"></dx-text-box>
            </div>
          </div>
          <div class="dx-field">
            <div class="dx-field-label">Button</div>
            <div class="dx-field-value">
              <dx-select-box
                #cardButtonSelect
                [items]="buttonStyles"
                [(value)]="component.form.button_style"
                [searchEnabled]="true">
              </dx-select-box>
              <div *ngIf="cardButtonSelect.value" class="mt-2 text-center" style="background-color: darkgrey;">
                <button
                  type="button"
                  class="btn-link {{component.form.button_style}}">
                    {{component.form.button_name}}
                  </button>
              </div>
            </div>
          </div>
          <div class="dx-field">
            <div class="dx-field-label">Button Size</div>
            <div class="dx-field-value">
                <dx-number-box [(value)]="component.form.button_size"></dx-number-box>
            </div>
          </div>
          <div class="dx-field">
            <div class="dx-field-label">Button Border Width</div>
            <div class="dx-field-value">
                <dx-number-box [(value)]="component.form.button_border"></dx-number-box>
            </div>
          </div>
          <div class="dx-field">
            <div class="dx-field-label">Button Margin Top (%)</div>
            <div class="dx-field-value">
              <dx-number-box [(value)]="component.form.button_margin_top"></dx-number-box>
            </div>
          </div>
          <div class="dx-field">
            <div class="dx-field-label">Button Margin Left (%)</div>
            <div class="dx-field-value">
              <dx-number-box [(value)]="component.form.button_margin_left"></dx-number-box>
            </div>
          </div>
          <div class="dx-field">
            <div class="dx-field-label">URL</div>
            <div class="dx-field-value">
              <dx-select-box #imageclickable
                [value]="component.form.link_external ? 'External Link': 'Internal Link'"
                [items]="['External Link', 'Internal Link']"
                (onValueChanged)="onSelectionChanged($event)"
                [searchEnabled]="true"></dx-select-box>
            </div>
          </div>
          <ng-container *ngIf="imageclickable.value=='External Link'">
            <div class="dx-field">
              <div class="dx-field-label">On Click URL</div>
              <div class="dx-field-value">
                <dx-text-box [(value)]="component.button.link.link"></dx-text-box>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="imageclickable.value=='Internal Link'">
            <div class="dx-field">
              <div class="dx-field-label">On Click URL</div>
              <div class="dx-field-value">
                <dx-text-box [(value)]="component.button.link.label" style="width: 90%; float: left"></dx-text-box>
                <dx-button style="float: right" [icon]="'add'" (onClick)="displayPageSelection('link', component.button)"></dx-button>
              </div>
            </div>
          </ng-container>
          <div class="dx-field">
            <div class="dx-field-label">Background Area </div>
            <div class="dx-field-value">
              <dx-color-box [(value)]="component.button.button_area" [showClearButton]="true" ></dx-color-box>
            </div>
          </div>
        </ng-container>
      </div>
      <br>
      <div class="row">
        <div class="col">
            <h3>Component Body</h3>
        </div>
      </div>
      <div>
        <dx-data-grid
          id="gridContainer"
          class="form-grid-container"
          [width]="'95%'"
          [height]="300"
          [dataSource]="component.form.items"
          (onRowInserted)="onRowInserted($event)"
          (onToolbarPreparing)="onToolbarPreparing($event)"
          [showBorders]="true">

          <dxo-editing
            mode="popup"
            [allowUpdating]="true"
            [allowDeleting]="true"
            [useIcons]="true">
            <dxo-popup
              title="Field Info"
              [showTitle]="true"
              [width]="600"
              [height]="getScreenHeight()">
            </dxo-popup>
          </dxo-editing>

          <dxo-scrolling mode="virtual"></dxo-scrolling>

          <dxo-sorting mode="none"></dxo-sorting>

          <dxi-column dataField="label" caption="Label" [width]="'50%'"></dxi-column>
          <dxi-column dataField="data_type" caption="Data Type"></dxi-column>
          <dxi-column type="buttons" [width]="110">
            <dxi-button name="edit" [onClick]="displayEditPage.bind(this)"></dxi-button>
            <dxi-button name="delete"></dxi-button>
          </dxi-column>
        </dx-data-grid>
      </div>
      <app-footer-view [component]="component" [view]="view"></app-footer-view>
    </dx-scroll-view>
    <div class="row d-flex my-5 justify-content-around" style="margin: 0 auto;">
      <div class="col-lg-6 text-center">
        <dx-button width="100" stylingMode="contained" text="Save" type="default" (onClick)="viewConfig = false"></dx-button>
      </div>
      <div class="col-lg-6 text-center">
        <dx-button width="100" stylingMode="contained" text="Cancel" type="default" (onClick)="resetForm()"></dx-button>
      </div>
    </div>
  </dx-popup>
</ng-container>

<!--Input Popup Configuration-->
<dx-popup
  [width]="600"
  [height]="600"
  [showTitle]="true"
  title="Add/Edit Field"
  [dragEnabled]="true"
  [hideOnOutsideClick]="false"
  [(visible)]="viewEditPage"
  [showCloseButton]="true">
  <div class="card">
    <div class="card-body">
      <div class="form">
        <div class="dx-field">
          <div class="dx-field-label">Label</div>
          <div class="dx-field-value">
            <dx-text-box [(value)]="selectedField.label"></dx-text-box>
          </div>
        </div>
        <div class="dx-field">
          <div class="dx-field-label">Data Type</div>
          <div class="dx-field-value">
            <dx-select-box  [searchEnabled]="true" #dataType [items]="card_form_data_type_values" [(value)]="selectedField.data_type"></dx-select-box>
          </div>
        </div>
        <ng-container *ngIf="dataType.value == 'text area'">
          <div class="dx-field">
            <div class="dx-field-label">Area Height</div>
            <div class="dx-field-value">
                <dx-number-box [(value)]="selectedField.height"></dx-number-box>
            </div>
        </div>
        </ng-container>
        <ng-container *ngIf="dataType.value=='select'">
          <div class="dx-field">
            <div class="dx-field-label">Select Values</div>
            <div class="dx-field-value">
              <dx-tag-box
                [(value)]="selectedField.select_values"
                displayExpr="value"
                [openOnFieldClick]="false"
                [acceptCustomValue]="true"
                (onCustomItemCreating)="onCustomItemCreating($event)">
              </dx-tag-box>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="dataType.value=='multiple check boxes'">
          <div class="dx-field">
            <div class="dx-field-label">CheckBox Names</div>
            <div class="dx-field-value">
              <dx-tag-box
                [(value)]="selectedField.check_values"
                displayExpr="value"
                [openOnFieldClick]="false"
                [acceptCustomValue]="true"
                (onCustomItemCreating)="onCustomItemCreating($event)">
              </dx-tag-box>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="dataType.value=='radio button group'">
          <div class="dx-field">
            <div class="dx-field-label">Radio Button Names</div>
            <div class="dx-field-value">
              <dx-tag-box
                [(value)]="selectedField.radio_values"
                displayExpr="value"
                [openOnFieldClick]="false"
                [acceptCustomValue]="true"
                (onCustomItemCreating)="onCustomItemCreating($event)">
              </dx-tag-box>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="dataType.value=='boolean'">
          <div class="dx-field">
            <div class="dx-field-label">On Value</div>
            <div class="dx-field-value">
              <dx-text-box [(value)]="selectedField.on_value"></dx-text-box>
            </div>
          </div>
          <div class="dx-field">
            <div class="dx-field-label">Off Value</div>
            <div class="dx-field-value">
              <dx-text-box [(value)]="selectedField.off_value"></dx-text-box>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-end mt-2">
    <button class="btn btn-primary mr-5" (click)="saveEditPage($event)">Save</button>
  </div>
</dx-popup>



<!--Simple Form Display-->
<ng-container *ngIf="view == 'display' || view == 'preview'">
  <app-component-header-view [component]="component" [view]="view"></app-component-header-view>
  <div class="row" [style]="'width:' + component.form.width + '%; margin-top:' + component.form.margin_top + '%; margin_bottom:' + component.form.margin_bottom + '%;'" id="simple-form-row">
    <div class="{{component.form.alignment == 'Horizontal' ? 'col-' + 12/(component.form.items.length+1) : 'col-12' }}" *ngFor="let item of component.form.items">
      <div class="row" *ngIf="item.data_type == 'text'">
        <div class="col-12" *ngIf="!component.form.usePlaceholder">
          <label class="align-text-middle pt-2" for="{{item.label}}">{{item.label}}</label>
        </div>
        <div class="{{component.form.alignment == 'Horizontal' ? 'col-11' : 'col-8' }} mb-1">
          <dx-text-box id="{{item.label}}" [(value)]="formToSubmit[item.field_name]" [placeholder]="component.form.usePlaceholder? item.label: ''"></dx-text-box>
        </div>
      </div>
      <div class="row" *ngIf="item.data_type == 'text area'">
        <div class="col-12" *ngIf="!component.form.usePlaceholder">
          <label class="align-text-middle pt-2" for="{{item.label}}">{{item.label}}</label>
        </div>
        <div class="{{component.form.alignment == 'Horizontal' ? 'col-11' : 'col-8' }} mb-1">
          <dx-text-area [(value)]="formToSubmit[item.field_name]" [height]="item.height" [placeholder]="component.form.usePlaceholder? item.label: ''"></dx-text-area>
        </div>
      </div>
      <div class="row" *ngIf="item.data_type == 'date'">
        <div class="col-12" *ngIf="!component.form.usePlaceholder">
          <label class="align-text-middle pt-2" for="{{item.label}}">{{item.label}}</label>
        </div>
        <div class="{{component.form.alignment == 'Horizontal' ? 'col-11' : 'col-8' }} mb-1">
          <dx-date-box
            [(value)]="formToSubmit[item.field_name]"
            [value]="now"
            [placeholder]="component.form.usePlaceholder? item.label: ''"
            type="date">
          </dx-date-box>
        </div>
      </div>
      <div class="row" *ngIf="item.data_type == 'date time'">
        <div class="col-12" *ngIf="!component.form.usePlaceholder">
          <label class="align-text-middle pt-2" for="{{item.label}}">{{item.label}}</label>
        </div>
        <div class="{{component.form.alignment == 'Horizontal' ? 'col-11' : 'col-8' }} mb-1">
          <dx-date-box
            [(value)]="formToSubmit[item.field_name]"
            [value]="now"
            [placeholder]="component.form.usePlaceholder? item.label: ''"
            type="datetime">
          </dx-date-box>
        </div>
      </div>
      <div class="row" *ngIf="item.data_type == 'number'">
        <div class="col-12" *ngIf="!component.form.usePlaceholder">
          <label class="align-text-middle pt-2" for="{{item.label}}">{{item.label}}</label>
        </div>
        <div class="{{component.form.alignment == 'Horizontal' ? 'col-11' : 'col-8' }} mb-1">
          <dx-number-box [(value)]="formToSubmit[item.field_name]" [showSpinButtons]="true" [showClearButton]="true" [placeholder]="component.form.usePlaceholder? item.label: ''"></dx-number-box>
        </div>
      </div>
      <div class="row" *ngIf="item.data_type == 'color box'">
        <div class="col-12" *ngIf="!component.form.usePlaceholder">
          <label class="align-text-middle pt-2" for="{{item.label}}">{{item.label}}</label>
        </div>
        <div class="{{component.form.alignment == 'Horizontal' ? 'col-11' : 'col-8' }} mb-1">
          <dx-color-box [(value)]="formToSubmit[item.field_name]" [showClearButton]="true" [placeholder]="component.form.usePlaceholder? item.label: ''"></dx-color-box>
        </div>
      </div>
      <div class="row" *ngIf="item.data_type == 'select'">
        <div class="col-12" *ngIf="!component.form.usePlaceholder">
          <label class="align-text-middle pt-2" for="{{item.label}}">{{item.label}}</label>
        </div>
        <div class="{{component.form.alignment == 'Horizontal' ? 'col-11' : 'col-8' }} mb-1">
          <dx-select-box
            [searchEnabled]="true"
            [(value)]="formToSubmit[item.field_name]"
            [items]="item.select_values"
            [displayExpr]="'value'"
            [valueExpr]="'value'"
            [placeholder]="component.form.usePlaceholder? item.label: ''">
          </dx-select-box>
        </div>
      </div>
      <div class="row justify-content-center text-center" *ngIf="item.data_type == 'boolean'">
        <div class="col-12" *ngIf="!component.form.usePlaceholder">
          <label class="pt-2" for="{{item.label}}">{{item.label}}</label>
        </div>
        <div class="{{component.form.alignment == 'Horizontal' ? 'col-11' : 'col-8' }} mb-1 d-flex justify-content-around pt-1">
          <dx-switch [(value)]="formToSubmit[item.field_name]" [switchedOnText]="item.on_value" [switchedOffText]="item.off_value" [width]="100"></dx-switch>
        </div>
      </div>
      <div class="row" *ngIf="item.data_type == 'single checkbox'">
        <div class="{{component.form.alignment == 'Horizontal' ? 'col-11' : 'col-1' }} mb-1 d-flex pt-1 single-checkbox">
          <dx-check-box [value]="false" [(value)]="formToSubmit[item.field_name]"></dx-check-box>
        </div>
        <div class="col-11 single-checkbox-label" *ngIf="!component.form.usePlaceholder">
          <label class="align-text-middle pt-2" for="{{item.label}}">{{item.label}}</label>
        </div>
      </div>
      <div class="row justify-content-center text-center" *ngIf="item.data_type == 'multiple check boxes'">
        <div class="col-12" *ngIf="!component.form.usePlaceholder">
          <label class="align-text-middle pt-2" for="{{item.label}}">{{item.label}}</label>
        </div>
        <div class="{{component.form.alignment == 'Horizontal' ? 'col-11' : 'col-8' }} mb-1">
          <div class="row d-flex justify-content-around">
            <div class="col pt-1" *ngFor="let checkbox of item.check_values">
              <dx-check-box text="{{checkbox.value}}" [value]="false" (onValueChanged)="checkBoxValueChanged($event, checkbox.value, item.field_name)"></dx-check-box>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center text-center" *ngIf="item.data_type == 'radio button group'">
        <div class="col-12" *ngIf="!component.form.usePlaceholder">
          <label class="align-text-middle pt-2" for="{{item.label}}">{{item.label}}</label>
        </div>
        <div class="{{component.form.alignment == 'Horizontal' ? 'col-11' : 'col-8' }} mb-1 d-flex justify-content-around pt-1">
          <dx-radio-group
            [items]="item.radio_values"
            [value]="item.radio_values[0]"
            [displayExpr]="'value'"
            [valueExpr]="'value'"
            [(value)]="formToSubmit[item.field_name]"
            layout="horizontal">
          </dx-radio-group>
        </div>
      </div>
    </div>
    <ng-container *ngIf="component.form.button == true" class="{{component.form.alignment == 'Horizontal' ? 'col-' + 12/(component.form.items.length+1) : 'col-12' }}">
      <div class="row">
        <div class="col-12 mb-1 d-flex justify-content-around" [ngStyle]="button_area">
          <button class="btn btn-primary" [ngStyle]="button_component" (click)="saveForm(formToSubmit)">Submit</button>
        </div>
      </div>
    </ng-container>
  </div>

  <app-footer-view [component]="component" [view]="view"></app-footer-view>

</ng-container>
