<ng-container *ngIf="view=='edit'">
  <div class="mt-5 mb-5 text-center justify-content-around">
    <button class="btn btn-primary mr-3" id="edit-component-buttons" (click)="showPopup()">Configure Carousel</button>
  </div>

  <!--Carousel Popup Configuration-->
  <ng-container *ngIf="viewConfig">
    <dx-popup
      [width]="800"
      [height]="getScreenHeight()"
      [showTitle]="true"
      title="Configure Carousel"
      [dragEnabled]="true"
      [hideOnOutsideClick]="false"
      [(visible)]="viewConfig"
      [showCloseButton]="true"
      [position]="{ my: 'top', at: 'top'}">
      <dx-scroll-view [showScrollbar]="'always'" style="height:85%;">
        <div class="row mt-2">
          <div class="col-11">
              <h3>Carousel Images</h3>
          </div>
          <div class="col-1 mb-1">
            <dx-button name="angulareditor" [icon]="'add'" (onClick)="displayImageSelection($event)"></dx-button>
          </div>
        </div>
        <div>
          <dx-data-grid
            id="gridContainer"
            [width]="'100%'"
            [dataSource]="component.gallery.items"
            [showBorders]="true"
            [width]="'100%'"
            [height]="250">
            <dxo-editing
              mode="popup"
              [allowDeleting]="true"
              [allowUpdating]="true"
              [useIcons]="true">
            </dxo-editing>
            <dxo-row-dragging
              [allowReordering]="true"
              [onReorder]="onReorder"
              [showDragIcons]="true">
            </dxo-row-dragging>
            <dxo-scrolling mode="infinite"></dxo-scrolling>
            <dxo-sorting mode="multiple"></dxo-sorting>
            <dxi-column dataField="item_type" caption="Type" dataType="number" [width]="75"></dxi-column>
            <dxi-column dataField="item_name" caption="Name" dataType="number"></dxi-column>
            <dxi-column dataField="item_width" caption="Width" dataType="number" [width]="75"></dxi-column>
            <dxi-column dataField="item_height" caption="Height" dataType="number" [width]="75"></dxi-column>
            <dxi-column type="buttons" [width]="110">
              <dxi-button name="edit" [onClick]="displayImageSelection.bind(this)"></dxi-button>
              <dxi-button name="delete"></dxi-button>
            </dxi-column>
          </dx-data-grid>
        </div>
      <app-footer-view [component]="component" [view]="view"></app-footer-view>
      </dx-scroll-view>
      <div class="row d-flex my-5 justify-content-around" style="margin: 0 auto;">
        <div class="col-lg-6 text-center">
          <dx-button width="100" stylingMode="contained" text="Save" type="default" (onClick)="viewConfig = false"></dx-button>
        </div>
        <div class="col-lg-6 text-center">
          <dx-button width="100" stylingMode="contained" text="Cancel" type="default" (onClick)="resetForm()"></dx-button>
        </div>
      </div>
    </dx-popup>
  </ng-container>
  <!--Image Select Popup-->
  <ng-container *ngIf="imageSelectVisible">
    <app-card-image-uploader
      [card]="editedImage"
      [field]="editedField"
      [imageSelectVisible]="imageSelectVisible"
      (imageSelectClosed)="closeItemWindow($event)"
      [captureImageName]="true"
      [imageNameField]="'item_name'">
      <div class="dx-field mt-2">
        <div class="dx-field-label">Item Name</div>
        <div class="dx-field-value">
          <dx-text-box [(value)]="editedImage.item_name"></dx-text-box>
        </div>
      </div>
      <div class="dx-field">
        <div class="dx-field-label">Item URL</div>
        <div class="dx-field-value">
          <dx-text-box [(value)]="editedImage.item_url"></dx-text-box>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <div class="dx-field">
            <div class="dx-field-label">Item Width</div>
            <div class="dx-field-value">
              <dx-number-box [(value)]="editedImage.item_width"></dx-number-box>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="dx-field">
            <div class="dx-field-label">Item Height</div>
            <div class="dx-field-value">
              <dx-number-box [(value)]="editedImage.item_height"></dx-number-box>
            </div>
          </div>
        </div>
      </div>
    </app-card-image-uploader>
  </ng-container>
</ng-container>


<!--Carousel Display-->
<ng-container *ngIf="view == 'display' || view == 'preview'">
  <div class="row justify-content-around carousel-component-row">
    <dx-gallery #gallery1
      id="gallery1"
      [dataSource]="dataSource"
      [height]="450"
      [slideshowDelay]="0"
      [loop]="true"
      [initialItemWidth]="800"
      [width]="'100%'"
      [showIndicator]="true"
      [stretchImages]="true"
      [showNavButtons]="true">
      <div *dxTemplate="let galleryItem of 'item'">
        <div>
          <img src="{{ galleryItem.item_url }}" height="{{  galleryItem.item_height }}" width="{{ galleryItem.item_width }}"/>
        </div>
      </div>
    </dx-gallery>
    <app-footer-view [component]="component" [view]="view"></app-footer-view>
  </div>
</ng-container>
