<dx-data-grid class="dx-card wide-card"
  #grid
  [dataSource]="dataSource | async"
  [width]="'100%'"
  [showBorders]="false"
  [focusedRowEnabled]="true"
  [columnAutoWidth]="true"
  [columnHidingEnabled]="true"
  (onRowUpdating)="onRowUpdating($event)">

  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
  <dxo-search-panel [visible]="true" placeholder="Search..."></dxo-search-panel>
  <dxo-toolbar>
    <dxi-item location="before">
      <div *dxTemplate>
        <div class="toolbar-label">
          <b>Testimonials</b>
        </div>
      </div>
    </dxi-item>

    <dxi-item name="addRowButton"></dxi-item>
    <dxi-item name="searchPanel"></dxi-item>
  </dxo-toolbar>
  <dxo-editing
    mode="popup"
    [useIcons]="true"
    [allowAdding]="true"
    [allowUpdating]="true"
    [allowDeleting]="true">
    <dxo-popup
      title="Add/Edit Testimonials"
      [showTitle]="true"
      [width]="600"
      [height]="600">
    </dxo-popup>
    <dxo-form [colCount]="2">
      <dxi-item dataField="author" [colSpan]="1"></dxi-item>
      <dxi-item dataField="date" [colSpan]="1"></dxi-item>
      <dxi-item dataField="title" [colSpan]="2"></dxi-item>
      <dxi-item dataField="text" [colSpan]="2" [editorType]="'dxTextArea'" [editorOptions]="{ height: 250 }"></dxi-item>
      <dxi-item dataField="type" [colSpan]="2"></dxi-item>
    </dxo-form>
  </dxo-editing>
  <dxi-column dataField="author"></dxi-column>
  <dxi-column dataField="date" [dataType]="'date'"></dxi-column>
  <dxi-column dataField="title"></dxi-column>
  <dxi-column dataField="text" [visible]="false"></dxi-column>
  <dxi-column dataField="type" [caption]="'Testimonial Type'">
    <dxo-lookup [dataSource]="testimonials"></dxo-lookup>

  </dxi-column>

</dx-data-grid>
