<dx-popup
  [showTitle]="true"
  [dragEnabled]="false"
  [visible]="isVisible$ | async"
  height="60%"
  width="30%"
  [showCloseButton]="true"
  (onHiding)="onCancel()">
  <dxi-toolbar-item toolbar="top" location="center">
    <div *dxTemplate>
      <p class="popup-title">
        CATEGORIES
      </p>
    </div>
  </dxi-toolbar-item>
  <div *dxTemplate="let data of 'content'">
    <div class="add-item-modal">
      <div class="add-item-modal__content" *ngIf="isVisible$ | async">
        <div class="content-block responsive-paddings">
          <dx-toolbar class="py-2">
            <dxi-item
              location="after"
              widget="dxButton"
              [options]="{
                hint: 'ADD CATEGORY',
                type: 'default',
                text: 'ADD CATEGORY',
                stylingMode: 'contained',
                onClick: showAddModal
              }"
            ></dxi-item>
          </dx-toolbar>
        </div>

        <dx-data-grid
          #grid
          class="dx-card wide-card"
          [dataSource]="datasource$ | async"
          [height]="'40vh'"
          [showBorders]="false"
          [showColumnLines]="true"
          [showColumnLines]="true"
          [showRowLines]="true"
          [focusedRowEnabled]="true"
          [columnAutoWidth]="true">

          <dxo-scrolling mode="virtual"></dxo-scrolling>
          <dxo-filter-row [visible]="true"></dxo-filter-row>

          <dxi-column dataField="tag" [sortOrder]="'asc'"></dxi-column>
          <dxi-column type="buttons" caption="Actions" [allowReordering]="false">
            <dxi-button icon="edit" hint="EDIT" [onClick]="showEditModal"></dxi-button>
            <dxi-button icon="trash" hint="DELETE" [onClick]="delete"></dxi-button>
          </dxi-column>
        </dx-data-grid>
      </div>
    </div>
  </div>
</dx-popup>
