.active-template {
  padding: 5px 15px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.2px;
  color: #fff;
}
.filter-type {
  margin-left: 20px;
  font-size: 25px;
}
.dx-icon-preferences {
  font-size: 20px;
}

.product {
  margin: 20px 50px;
  img {
    height: 200px;
  }
}

.product-unavailable {
  height: 100%;
  align-items: center;
  display: flex;
  text-align: center;
  margin: 0 50px;
  h1 {
    color: #565656e0;
  }
}

.truncate {
  display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.product {
  &__thumb {
    position: relative;
    margin-bottom: 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  &__img {
    height: 200px;
  }
}

.product__content {
  h4 {
    a {
      display: -webkit-box;  
      -webkit-box-orient: vertical;  
      overflow: hidden;        
      text-overflow: ellipsis;   
      line-height: 1.2em;       
      min-height: 2.3em;          
      -webkit-line-clamp: 2;  
    }
  }
}