<div class="content-block responsive-paddings">
  <dx-toolbar class="content-list__header py-2 px-2 px-2">
    <dxi-item location="before" locateInMenu="never">
      <div *dxTemplate>
        <h2 class="content-block responsive-paddings underline">{{itemType}}s: <strong class="filter-type">{{ selectedCategory?.tag || selectedSeries?.name || 'All' }}</strong></h2>
      </div>
    </dxi-item>
    <dxi-item location="after">
      <div *dxTemplate>
        <dx-select-box
          [dataSource]="productCategories"
          [value]="selectedCategory?.id"
          [valueExpr]="'id'"
          [displayExpr]="'tag'"
          [placeholder]="'Filter by Category...'"
          [showClearButton]="true"
          [width]="250"
          (onValueChanged)="onCategoryFilterChanged($event)"
        ></dx-select-box>
      </div>
    </dxi-item>
    <dxi-item location="after">
      <div *dxTemplate>
        <dx-select-box
          [dataSource]="series"
          [value]="selectedSeries?.id"
          [valueExpr]="'id'"
          [displayExpr]="'name'"
          [placeholder]="'Filter by Series...'"
          [showClearButton]="true"
          [width]="250"
          (onValueChanged)="onSeriesFilterChanged($event)"
        ></dx-select-box>
      </div>
    </dxi-item>
    <dxi-item location="after">
      <div *dxTemplate>
        <dx-button class="icon-button manage-button" hint="MANAGE PRODUCTS">
          <div *dxTemplate="let data of 'content'">
            <div class="d-flex">
              <i class="dx-icon-preferences"></i>
            </div>
            <dx-context-menu
              target=".manage-button"
              showEvent="dxclick"
              [position]="{ my: { x: 'center', y: 'top' }, at: 'left bottom' }">
              <dxi-item text="New" icon="add" [onClick]="showAddModal"></dxi-item>
              <dxi-item text="Categories" icon="smalliconslayout" [onClick]="showProductCategoriesModal"></dxi-item>
              <dxi-item text="Series" icon="contentlayout" [onClick]="showProductSeriesModal"></dxi-item>
            </dx-context-menu>
          </div>
        </dx-button>
      </div>
    </dxi-item>
  </dx-toolbar>
</div>

<dx-data-grid class="dx-card wide-card"
  #grid
  [dataSource]="datasource$ | async"
  [height]="'75vh'"
  [showBorders]="false"
  [showColumnLines]="true"
  [showColumnLines]="true"
  [showRowLines]="true"
  [focusedRowEnabled]="true"
  [filterValue]="gridFilter"
  [columnAutoWidth]="true"
  (onRowDblClick)="showEditModal($event)">

  <dxo-scrolling mode="virtual"></dxo-scrolling>
  <dxo-filter-row [visible]="true"></dxo-filter-row>

  <dxo-group-panel [visible]="true"></dxo-group-panel>
  <dxo-grouping [autoExpandAll]="true"></dxo-grouping>

  <dxi-column dataField="isActive" dataType="boolean" [caption]="'Live'" cellTemplate="isActiveCellTemplate" [width]="120"></dxi-column>
  <dxi-column dataField="imageUrl" [width]="150" cellTemplate="imageCellTemplate" [caption]="'Image'"></dxi-column>
  <dxi-column dataField="title" [sortOrder]="'asc'"></dxi-column>
  <dxi-column dataField="cost" [width]="80" dataType="number" format="currency"></dxi-column>
  <dxi-column dataField="weight" [width]="80" dataType="number"></dxi-column>
  <dxi-column dataField="uom">
    <dxo-lookup [dataSource]="uoms"></dxo-lookup>
  </dxi-column>
  <dxi-column dataField="series" [visible]="selectedSeries">
    <dxo-lookup [dataSource]="series" [displayExpr]="'name'" [valueExpr]="'id'"></dxo-lookup>
  </dxi-column>
  <dxi-column dataField="seriesOrder" [visible]="selectedSeries"></dxi-column>
  <dxi-column dataField="category" [visible]="selectedCategory">
    <dxo-lookup [dataSource]="productCategories" [displayExpr]="'tag'" [valueExpr]="'id'"></dxo-lookup>
  </dxi-column>
  <dxi-column dataField="categoryOrder" [visible]="selectedCategory"></dxi-column>
  <dxi-column dataField="isEBook" dataType="boolean"></dxi-column>
  <dxi-column dataField="tags" [visible]="false">
    <dxo-lookup [dataSource]="productTags" [displayExpr]="'tag'" [valueExpr]="'id'"></dxo-lookup>
  </dxi-column>
  <dxi-column type="buttons" caption="Actions" [allowReordering]="false">
    <dxi-button icon="trash" hint="DELETE" [onClick]="delete"></dxi-button>
  </dxi-column>

  <div *dxTemplate="let cell of 'isActiveCellTemplate'">
    <span class="active-template" [style.background-color]="cell.data.isActive ? '#29d029' : 'red'">
      {{ cell.data.isActive ? 'LIVE' : 'INACTIVE' }}
    </span>
  </div>

  <div *dxTemplate="let data of 'imageCellTemplate'">
    <img *ngIf="data?.value" width="100" [src]="data?.value?.url" [alt]="data?.value?.name"/>
  </div>
</dx-data-grid>

<dx-popup
  [showTitle]="true"
  [dragEnabled]="false"
  [visible]="isVisible$ | async"
  [width]="'75%'"
  [height]="'90%'"
  [showCloseButton]="true"
  (onHiding)="onCancel()">
  <dxi-toolbar-item toolbar="top" location="center">
    <div *dxTemplate>
      <p class="popup-title">
        {{ selectedItem?.id ? 'EDIT' : 'ADD' }} {{itemType | uppercase}}
      </p>
    </div>
  </dxi-toolbar-item>
  <div class="add-item-modal">
    <div class="add-item-modal__content" *ngIf="isVisible$ | async">
      <div class="row">
        <div class="col-xl-8">
          <dx-form
            #addEditForm
            [(formData)]="selectedItem"
            [showColonAfterLabel]="false"
            labelLocation="left"
            [colCount]="6">
            <dxi-item dataField="title" [colSpan]="3" [label]="{ text: 'Product Name' }" [isRequired]="true"></dxi-item>
            <dxi-item [colSpan]="3"
              dataField="cost"
              editorType="dxNumberBox"
              [label]="{ text: 'Cost' }"
              [isRequired]="true"
              [editorOptions]="{
                format: { type: 'currency', currency: 'USD', precision: 2 },
                min: 0
              }">
            </dxi-item>
            <dxi-item dataField="category" [colSpan]="2" [label]="{ text: 'Category' }" [isRequired]="true">
              <div *dxTemplate>
                <dx-drop-down-box
                  #categoryDropbox
                  [dataSource]="productCategories"
                  [(value)]="selectedItem.category"
                  [showDropDownButton]="false"
                  [openOnFieldClick]="true"
                  displayExpr="tag"
                  valueExpr="id">
                  <dxi-button
                    name="add"
                    location="after"
                    [options]="{
                      icon: 'add',
                      hint: 'ADD CATEGORY',
                      type: 'default',
                      stylingMode: 'outlined',
                      onClick: showCategoriesModal,
                      template: 'buttonTemplate',
                      disabled: inProgress$ | async
                    }">
                    <div *dxTemplate="let data of 'buttonTemplate'">
                      <i class="dx-icon dx-icon-add" *ngIf="(inProgress$ | async) === false"></i>
                      <dx-load-indicator [visible]="inProgress$ | async" height="20" width="20"></dx-load-indicator>
                    </div>
                  </dxi-button>
                  <div *dxTemplate="let data of 'content'">
                    <dx-list
                      keyExpr="id"
                      displayExpr="tag"
                      selectionMode="single"
                      (onItemClick)="selectCategory($event)"
                      [items]="productCategories">
                    </dx-list>
                  </div>
                </dx-drop-down-box>
              </div>
            </dxi-item>
            <dxi-item dataField="categoryOrder" [colSpan]="1" [label]="{ text: 'Order' }">
              <div *dxTemplate>
                <dx-number-box [(value)]="selectedItem.categoryOrder"></dx-number-box>
              </div>
            </dxi-item>
            <dxi-item dataField="series" [colSpan]="2" [label]="{ text: 'Series' }">
              <div *dxTemplate>
                <dx-drop-down-box
                  #seriesDropbox
                  [dataSource]="series"
                  [(value)]="selectedItem.series"
                  [showDropDownButton]="false"
                  [openOnFieldClick]="true"
                  displayExpr="name"
                  valueExpr="id">
                  <dxi-button
                    name="add"
                    location="after"
                    [options]="{
                      icon: 'add',
                      hint: 'ADD SERIES',
                      type: 'default',
                      stylingMode: 'outlined',
                      onClick: showSeriesModal,
                      template: 'buttonTemplate',
                      disabled: inProgress$ | async
                    }">
                    <div *dxTemplate="let data of 'buttonTemplate'">
                      <i class="dx-icon dx-icon-add" *ngIf="(inProgress$ | async) === false"></i>
                      <dx-load-indicator [visible]="inProgress$ | async" height="20" width="20"></dx-load-indicator>
                    </div>
                  </dxi-button>
                  <div *dxTemplate="let data of 'content'">
                    <dx-list
                      keyExpr="id"
                      displayExpr="name"
                      selectionMode="single"
                      (onItemClick)="selectSeries($event)"
                      [items]="series">
                    </dx-list>
                  </div>
                </dx-drop-down-box>
              </div>
            </dxi-item>
            <dxi-item dataField="seriesOrder" [colSpan]="1" [label]="{ text: 'Order' }">
              <div *dxTemplate>
                <dx-number-box [(value)]="selectedItem.seriesOrder"></dx-number-box>
              </div>
            </dxi-item>
            <dxi-item dataField="description" [colSpan]="6" [isRequired]="true">
              <div *dxTemplate>
                <dx-html-editor [height]="'300px'" [(value)]="selectedItem.description">
                  <dxo-toolbar [multiline]="false">
                    <dxi-item name="undo"></dxi-item>
                    <dxi-item name="redo"></dxi-item>
                    <dxi-item name="separator"></dxi-item>
                    <dxi-item
                      name="size"
                      [acceptedValues]="['8pt', '10pt', '12pt', '14pt', '18pt', '24pt', '36pt']"
                      [options]="{ inputAttr: { 'aria-label': 'Font size' } }">
                    </dxi-item>
                    <dxi-item
                      name="font"
                      [acceptedValues]="[
                        'Arial',
                        'Courier New',
                        'Georgia',
                        'Impact',
                        'Lucida Console',
                        'Tahoma',
                        'Times New Roman',
                        'Verdana'
                      ]"
                      [options]="{ inputAttr: { 'aria-label': 'Font family' } }">
                    </dxi-item>
                    <dxi-item name="separator"></dxi-item>
                    <dxi-item name="bold"></dxi-item>
                    <dxi-item name="italic"></dxi-item>
                    <dxi-item name="strike"></dxi-item>
                    <dxi-item name="underline"></dxi-item>
                    <dxi-item name="separator"></dxi-item>
                    <dxi-item name="alignLeft"></dxi-item>
                    <dxi-item name="alignCenter"></dxi-item>
                    <dxi-item name="alignRight"></dxi-item>
                    <dxi-item name="alignJustify"></dxi-item>
                    <dxi-item name="separator"></dxi-item>
                    <dxi-item name="orderedList"></dxi-item>
                    <dxi-item name="bulletList"></dxi-item>
                    <dxi-item name="separator"></dxi-item>
                    <dxi-item
                      name="header"
                      [acceptedValues]="[false, 1, 2, 3, 4, 5]"
                      [options]="{ inputAttr: { 'aria-label': 'Header' } }">
                    </dxi-item>
                    <dxi-item name="separator"></dxi-item>
                    <dxi-item name="color"></dxi-item>
                    <dxi-item name="background"></dxi-item>
                    <dxi-item name="separator"></dxi-item>
                    <dxi-item name="link"></dxi-item>
                    <dxi-item name="image"></dxi-item>
                    <dxi-item name="separator"></dxi-item>
                    <dxi-item name="clear"></dxi-item>
                    <dxi-item name="codeBlock"></dxi-item>
                    <dxi-item name="blockquote"></dxi-item>
                    <dxi-item name="separator"></dxi-item>
                    <dxi-item name="insertTable"></dxi-item>
                    <dxi-item name="deleteTable"></dxi-item>
                    <dxi-item name="insertRowAbove"></dxi-item>
                    <dxi-item name="insertRowBelow"></dxi-item>
                    <dxi-item name="deleteRow"></dxi-item>
                    <dxi-item name="insertColumnLeft"></dxi-item>
                    <dxi-item name="insertColumnRight"></dxi-item>
                    <dxi-item name="deleteColumn"></dxi-item>
                  </dxo-toolbar>
                </dx-html-editor>
              </div>

            </dxi-item>
            <dxi-item dataField="isEBook" [colSpan]="1" [label]="{ text: 'Is this an eBook?' }">
              <dx-check-box [(value)]="this.selectedItem.isEBook"></dx-check-box>
            </dxi-item>
            <dxi-item dataField="eBookUrl.name" [colSpan]="4" [label]="{ text: 'eBook Name' }"></dxi-item>
            <dxi-item [colSpan]="1">
              <div *dxTemplate>
                <dx-button
                  text="Upload eBook"
                  stylingMode="contained"
                  type="normal"
                  [disabled]="inProgress$ | async"
                  (onClick)="showEBookModal()"
                  [disabled]="!this.selectedItem.isEBook">
                </dx-button>
              </div>
            </dxi-item>
            <dxi-item [colSpan]="1"></dxi-item>
            <dxi-item dataField="imageUrl.name" [colSpan]="4" [label]="{ text: 'Image Name' }" [disabled]="true"></dxi-item>
            <dxi-item [colSpan]="1">
              <div *dxTemplate>
                <dx-button
                  text="Upload Image"
                  stylingMode="contained"
                  type="normal"
                  [disabled]="inProgress$ | async"
                  (onClick)="showSingleImageModal()">
                </dx-button>
              </div>
            </dxi-item>
            <dxi-item dataField="weight" [colSpan]="3" [label]="{ text: 'Weight' }" [isRequired]="true">
              <div *dxTemplate>
                <dx-number-box [(value)]="selectedItem.weight"></dx-number-box>
              </div>
            </dxi-item>
            <dxi-item dataField="uom" [colSpan]="3" [label]="{ text: 'Unit of Measure' }" [isRequired]="true">
              <div *dxTemplate>
                <dx-select-box [(value)]="selectedItem.uom" [items]="uoms"></dx-select-box>
              </div>
            </dxi-item>
            <dxi-item [colSpan]="6" [label]="{ text: 'Tags' }">
              <dx-tag-box
                [dataSource]="productTags"
                [(value)]="selectedItem.tags"
                [displayExpr]="'tag'"
                [acceptCustomValue]="true"
                [searchEnabled]="true"
                [hideSelectedItems]="true"
                placeholder="Tag this Product..."
                (onCustomItemCreating)="onCustomItemCreating($event)">
              </dx-tag-box>
            </dxi-item>
          </dx-form>
        </div>
        <div class="col-xl-4">
          <dx-switch [(value)]="selectedItem.isActive" [switchedOnText]="'LIVE'" [switchedOffText]="'INACTIVE'" [width]="'100%'"></dx-switch>
          <div *ngIf="selectedItem?.isActive" class="product">
            <div class="product__item product__border-bottom mb-30 pb-60">
              <div class="product__thumb fix">
                  <a>
                    <img class="product__img" [src]="selectedItem?.imageUrl?.url" alt="product">
                  </a>
              </div>
              <div class="product__content">
                  <h4>
                    <strong><a>{{selectedItem?.title}}</a></strong>
                  </h4>
                  <h5><strong>$ {{ selectedItem.cost }}</strong></h5>
                  <p class="truncate" [innerHTML]="selectedItem?.description"></p>
                  <div class="d-flex">
                    <a class="impact-btn mr-20">view</a>
                    <a class="impact-icon-btn impact-icon-btn-no-border"><i class="fas fa-cart-plus"></i>ADD</a>
                  </div>
              </div>
            </div>
          </div>
          <div *ngIf="!selectedItem?.isActive" class="product-unavailable">
            <h1>Product Currently Unavailable In Store</h1>
          </div>
        </div>
      </div>

    </div>
    <div class="add-item-modal__button-group">
      <dx-button
        text="CANCEL"
        stylingMode="contained"
        type="normal"
        [disabled]="inProgress$ | async"
        (onClick)="onCancel()">
      </dx-button>
      <app-indicator-button
        [isInProgress]="inProgress$ | async"
        [title]="'SAVE'"
        [disabled]="inProgress$ | async"
        (onClick)="onSave(selectedItem)">
      </app-indicator-button>
    </div>
  </div>
</dx-popup>


<app-product-categories></app-product-categories>
<app-category-modal></app-category-modal>
<app-product-series></app-product-series>
<app-series-modal></app-series-modal>

<ng-container *ngIf="isSingleImageVisible$ | async">
  <app-image-uploader
    [card]="selectedItem"
    [isList]="false"
    [field]="'imageUrl'"
    [selectionMode]="'single'"
    [imageSelectVisible]="isSingleImageVisible$ | async"
    (imageSelectClosed)="closeSingleImageModal()">
  </app-image-uploader>
</ng-container>

<ng-container *ngIf="isEBookVisible$ | async">
  <app-image-uploader
    [card]="selectedItem"
    [isList]="false"
    [field]="'eBookUrl'"
    [selectionMode]="'single'"
    [imageSelectVisible]="isEBookVisible$ | async"
    (imageSelectClosed)="closeEBookModal()">
  </app-image-uploader>
</ng-container>
