<ng-container *ngIf="view=='edit'">
    <div class="dx-fieldset">
      <div class="dx-fieldset-header">Form Configuration</div>
      <div class="dx-field mt-2">
        <div class="dx-field-label">Form Background Color</div>
        <div class="dx-field-value">
          <dx-color-box [(ngModel)]="form.form_color" ></dx-color-box>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col">
            <div class="dx-field">
                <div class="dx-field-label">Form Heading</div>
                <div class="dx-field-value">
                    <dx-text-box style="float:left; width: 90%;" [(ngModel)]="form.header.header_value"></dx-text-box>
                    <dx-button style="float: right" [icon]="'edit'" (onClick)="displayCardEditor('header_value', form.header)"></dx-button>
                </div>
            </div>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col">
            <div class="dx-field">
                <div class="dx-field-label">Form Sub Heading</div>
                <div class="dx-field-value">
                    <dx-text-box style="float:left; width: 90%;" [(ngModel)]="form.header.sub_header_value"></dx-text-box>
                    <dx-button style="float: right" [icon]="'edit'" (onClick)="displayCardEditor('sub_header_value', form.header)"></dx-button>
                </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="dx-field">
            <div class="dx-field-label">Label Placement</div>
            <div class="dx-field-value">
              <dx-select-box  [searchEnabled]="true" [items]="['left','top', 'placeholder']" [(ngModel)]="form.position"></dx-select-box>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <div class="dx-field">
            <div class="dx-field-label">Add Header Line?</div>
            <div class="dx-field-value">
              <dx-check-box [(ngModel)]="form.header.line" [value]="false"></dx-check-box>
            </div>
          </div>
          <ng-container *ngIf="form.header.line == true">
          <div class="dx-field">
            <div class="dx-field-label">Line Color</div>
            <div class="dx-field-value">
              <dx-color-box [(ngModel)]="form.header.line_color" [showClearButton]="true" ></dx-color-box>
            </div>
          </div>
          <div class="dx-field">
            <div class="dx-field-label">Line Width (%)</div>
            <div class="dx-field-value">
              <dx-number-box [(ngModel)]="form.header.line_width"></dx-number-box>
            </div>
          </div>
          <div class="dx-field">
            <div class="dx-field-label">Line Height</div>
            <div class="dx-field-value">
              <dx-number-box [(ngModel)]="form.header.line_height"></dx-number-box>
            </div>
          </div>
        </ng-container>
        </div>
      </div>
  </div>
  <app-card-text-editor
    [card]="editedForm"
    [field]="editedField"
    [textEditorVisible]="textEditorVisible"
    (textEditorClosed)="closeEditorWindow()"
    [htmlContent]="htmlContent">
  </app-card-text-editor>
  <hr color="#091D45" width="100%"/>

  <div class="dx-fieldset">
    <div class="dx-fieldset-header">Form Button Configuration</div>
    <div class="dx-field">
      <div class="dx-field-label">Button Value</div>
      <div class="dx-field-value">
        <dx-text-box [(ngModel)]="form.button.button_name"></dx-text-box>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">Button</div>
      <div class="dx-field-value">
        <dx-select-box
          [searchEnabled]="true"
          #cardButtonSelect
          [items]="buttonStyles"
          [(ngModel)]="form.button.button_style">
        </dx-select-box>
        <div *ngIf="cardButtonSelect.value" class="mt-2 text-center" style="background-color: darkgrey;">
          <button
            type="button"
            class="btn-link {{form.button.button_style}}">
              {{form.button.button_name}}
            </button>
        </div>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">Button Size</div>
      <div class="dx-field-value">
          <dx-number-box [(ngModel)]="form.button.button_size"></dx-number-box>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">Button Border Width</div>
      <div class="dx-field-value">
          <dx-number-box [(ngModel)]="form.button.button_border"></dx-number-box>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">Button Margin Top (%)</div>
      <div class="dx-field-value">
        <dx-number-box [(ngModel)]="form.button.button_margin_top"></dx-number-box>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">Button Position</div>
      <div class="dx-field-value">
        <dx-select-box  [searchEnabled]="true" [items]="['left','center', 'right']" [(ngModel)]="form.button.position"></dx-select-box>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">URL</div>
      <div class="dx-field-value">
        <dx-select-box #imageclickable 
          [value]="form.button.link_external ? 'External Link': 'Internal Link'"
          [items]="['External Link', 'Internal Link']"
          (onValueChanged)="onSelectionChanged($event)"
          [searchEnabled]="true"></dx-select-box>
      </div>
    </div>
    <ng-container *ngIf="imageclickable.value=='External Link'">
      <div class="dx-field">
        <div class="dx-field-label">On Click URL</div>
        <div class="dx-field-value">
          <dx-text-box [(ngModel)]="form.button.link.link"></dx-text-box>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="imageclickable.value=='Internal Link'">
      <div class="dx-field">
        <div class="dx-field-label">On Click URL</div>
        <div class="dx-field-value">
          <dx-text-box [(ngModel)]="form.button.link.label" style="width: 90%; float: left"></dx-text-box>
          <dx-button style="float: right" [icon]="'add'" (onClick)="displayPageSelection('link', form.button)"></dx-button>
        </div>
      </div>
    </ng-container>
  </div>
<hr color="#091D45" width="100%"/>
</ng-container>

<ng-container *ngIf="view == 'display' || view == 'preview'">
  <div *ngIf="form.header.header_value">
      <div class="card-title" [innerHTML]="form.header.header_value | safeHTMLUrl"></div>
    </div>
    <div *ngIf="form.header.sub_header_value">
      <div class="card-title" [innerHTML]="form.header.sub_header_value | safeHTMLUrl"></div>
    </div>
    <ng-container *ngIf="form.header.line == true">
      <hr [ngStyle]="form_line">
    </ng-container>
</ng-container>
