<div class="content-block responsive-paddings">
  <dx-toolbar class="content-list__header py-2 px-2">
    <dxi-item location="before" locateInMenu="never">
      <div *dxTemplate>
        <h2 class="content-block responsive-paddings underline">{{itemType}}s</h2>
      </div>
    </dxi-item>
    <dxi-item location="after">
      <div *dxTemplate>
        <dx-button class="icon-button manage-button" hint="MANAGE CUSTOMERS">
          <div *dxTemplate="let data of 'content'">
            <div class="d-flex">
              <i class="dx-icon-preferences"></i>
            </div>
            <dx-context-menu
              target=".manage-button"
              showEvent="dxclick"
              [position]="{ my: { x: 'center', y: 'top' }, at: 'left bottom' }">
              <dxi-item text="New" icon="add" [onClick]="showAddModal"></dxi-item>
            </dx-context-menu>
          </div>
        </dx-button>
      </div>
    </dxi-item>
  </dx-toolbar>
</div>

<dx-data-grid class="dx-card wide-card"
  #grid
  [dataSource]="datasource$ | async"
  [height]="'75vh'"
  [showBorders]="false"
  [showColumnLines]="true"
  [showColumnLines]="true"
  [showRowLines]="true"
  [focusedRowEnabled]="true"
  [columnAutoWidth]="true">

  <dxo-scrolling mode="virtual"></dxo-scrolling>
  <dxo-filter-row [visible]="true"></dxo-filter-row>

  <dxi-column dataField="lastName" [caption]="'Last Name'" [sortOrder]="'asc'"></dxi-column>
  <dxi-column dataField="firstName" [caption]="'First Name'"></dxi-column>
  <dxi-column dataField="email" [caption]="'Email'"></dxi-column>
  <dxi-column dataField="uid" [caption]="'UID'" [visible]="false"></dxi-column>
  <dxi-column dataField="phone.countryCode" [caption]="'Country Code'"[visible]="false"></dxi-column>
  <dxi-column dataField="phone.number" [caption]="'Number'" cellTemplate="phoneNumberCellTemplate"></dxi-column>
  <dxi-column dataField="phone.type" [caption]="'Type'"[visible]="false"></dxi-column>
  <dxi-column type="buttons" caption="Actions" [allowReordering]="false">
    <dxi-button icon="edit" hint="EDIT" [onClick]="showEditModal"></dxi-button>
    <dxi-button icon="trash" hint="DELETE" [onClick]="delete"></dxi-button>
  </dxi-column>

  <div *dxTemplate="let cell of 'phoneNumberCellTemplate'">
    <div class="">
      {{ (cell.data?.phone?.countryCode ? "+" + cell.data?.phone?.countryCode : '')}} {{cell.data.phone? ((cell.data.phone | phoneNumberMask : false)) : '' }}
    </div>
  </div>
</dx-data-grid>

<dx-popup
  [showTitle]="true"
  [dragEnabled]="false"
  [visible]="isVisible$ | async"
  [width]="'65%'"
  [height]="'90%'"
  [showCloseButton]="true"
  (onHiding)="onCancel()">
  <dxi-toolbar-item toolbar="top" location="center">
    <div *dxTemplate>
      <p class="popup-title">
        {{ selectedItem?.id ? 'EDIT' : 'ADD' }} {{itemType | uppercase}}
      </p>
    </div>
  </dxi-toolbar-item>
  <div *dxTemplate="let data of 'content'">
    <div class="add-item-modal">
      <div class="add-item-modal__content" *ngIf="isVisible$ | async">
        <dx-form
        #addEditForm
        [(formData)]="selectedItem"
        [showColonAfterLabel]="false"
        labelLocation="left">
        <dxi-item itemType="tabbed">
          <dxi-tab title="Info">
            <dxi-item itemType="group" [colCount]="2" [colSpan]="1">
              <dxi-item dataField="firstName" [colSpan]="1" [isRequired]="true"></dxi-item>
              <dxi-item dataField="lastName" [colSpan]="1" [isRequired]="true"></dxi-item>
              <dxi-item dataField="email" [colSpan]="1" [isRequired]="true" [disabled]="true"></dxi-item>
            </dxi-item>
            <dxi-item itemType="group" caption="Phone Number" [colCount]="6" [colSpan]="2">
              <dxi-item dataField="phone.countryCode" [colSpan]="2" [label]="{ text: 'Country Code' }"></dxi-item>
              <dxi-item dataField="phone.number" [colSpan]="2" [label]="{ text: 'Number' }" [editorOptions]="phoneEditorOptions"></dxi-item>
              <dxi-item [label]="{ text: 'Type' }" [colSpan]="2">
                <div *dxTemplate>
                  <dx-select-box
                    [items]="phone_types"
                    [(value)]="selectedItem.phone.type">
                  </dx-select-box>
                </div>
              </dxi-item>
            </dxi-item>
            <dxi-item>
              <div class="row">
                <div class="add-item-modal__button-group">
                  <dx-button
                    text="CANCEL"
                    stylingMode="contained"
                    type="normal"
                    [disabled]="inProgress$ | async"
                    (onClick)="onCancel()">
                  </dx-button>
                  <app-indicator-button
                    [isInProgress]="inProgress$ | async"
                    [title]="'SAVE'"
                    [disabled]="inProgress$ | async"
                    (onClick)="save()">
                  </app-indicator-button>
                </div>
              </div>
            </dxi-item>
          </dxi-tab>
          <dxi-tab title="Addresses">
            <dxi-item itemType="group" caption="Shipping Address" [colCount]="6" [colSpan]="2">
              <dxi-item dataField="shippingAddress.address1" [colSpan]="6" [label]="{ text: 'Address1' }"></dxi-item>
              <dxi-item dataField="shippingAddress.address2" [colSpan]="6" [label]="{ text: 'Address2' }"></dxi-item>
              <dxi-item dataField="shippingAddress.city" [colSpan]="3" [label]="{ text: 'City' }"></dxi-item>
              <dxi-item dataField="shippingAddress.state" [colSpan]="2" [label]="{ text: 'State' }">
                <div *dxTemplate>
                  <dx-lookup
                    [showCancelButton]="false"
                    [items]="states"
                    [(value)]="selectedItem.shippingAddress.state">
                  </dx-lookup>
                </div>
              </dxi-item>
              <dxi-item dataField="shippingAddress.zip" [colSpan]="2" [label]="{ text: 'Zip' }"></dxi-item>
              <dxi-item dataField="shippingAddress.country" [colSpan]="3" [label]="{ text: 'Country' }">
                <div *dxTemplate>
                  <dx-lookup
                    [showCancelButton]="false"
                    [items]="countries"
                    [(value)]="selectedItem.shippingAddress.country">
                  </dx-lookup>
                </div>
              </dxi-item>
            </dxi-item>
            <dxi-item itemType="group" caption="Billing Address" [colCount]="6" [colSpan]="2">
              <dxi-item dataField="billingAddress.address1" [colSpan]="6" [label]="{ text: 'Address1' }"></dxi-item>
              <dxi-item dataField="billingAddress.address2" [colSpan]="6" [label]="{ text: 'Address2' }"></dxi-item>
              <dxi-item dataField="billingAddress.city" [colSpan]="3" [label]="{ text: 'City' }"></dxi-item>
              <dxi-item dataField="billingAddress.state" [colSpan]="2" [label]="{ text: 'State' }">
                <div *dxTemplate>
                  <dx-lookup
                    [showCancelButton]="false"
                    [items]="states"
                    [(value)]="selectedItem.billingAddress.state">
                  </dx-lookup>
                </div>
              </dxi-item>
              <dxi-item dataField="billingAddress.zip" [colSpan]="2" [label]="{ text: 'Zip' }"></dxi-item>
              <dxi-item dataField="billingAddress.country" [colSpan]="3" [label]="{ text: 'Country' }">
                <div *dxTemplate>
                  <dx-lookup
                    [showCancelButton]="false"
                    [items]="countries"
                    [(value)]="selectedItem.billingAddress.country">
                  </dx-lookup>
                </div>
              </dxi-item>
            </dxi-item>
            <dxi-item>
              <div class="row">
                <div class="add-item-modal__button-group">
                  <dx-button
                    text="CANCEL"
                    stylingMode="contained"
                    type="normal"
                    [disabled]="inProgress$ | async"
                    (onClick)="onCancel()">
                  </dx-button>
                  <app-indicator-button
                    [isInProgress]="inProgress$ | async"
                    [title]="'SAVE'"
                    [disabled]="inProgress$ | async"
                    (onClick)="save()">
                  </app-indicator-button>
                </div>
              </div>
            </dxi-item>
          </dxi-tab>
          <dxi-tab title="Purchases">
            <dx-data-grid class="dx-card wide-card"
              #grid
              [dataSource]="salesDatasource$ | async"
              [height]="'75vh'"
              [showBorders]="false"
              [showColumnLines]="true"
              [showColumnLines]="true"
              [showRowLines]="true"
              [focusedRowEnabled]="true"
              [columnAutoWidth]="true">

              <dxo-scrolling mode="virtual"></dxo-scrolling>
              <dxo-filter-row [visible]="true"></dxo-filter-row>

              <dxi-column dataField="dateProcessed" [dataType]="'date'" sortOrder="desc" width="100"></dxi-column>
              <dxi-column dataField="processedStatus"></dxi-column>
              <dxi-column dataField="id" [visible]="false"></dxi-column>
              <dxi-column dataField="receipt" cellTemplate="receiptTemplate"></dxi-column>
              <dxi-column dataField="couponCode"></dxi-column>
              <dxi-column dataField="totalBeforeDiscount" [caption]="'Total'" cellTemplate="amountOtherTemplate"></dxi-column>
              <dxi-column dataField="estimatedTaxes" [caption]="'Taxes'" cellTemplate="amountOtherTemplate"></dxi-column>
              <dxi-column dataField="shippingRate" [caption]="'Shipping'" cellTemplate="amountOtherTemplate"></dxi-column>
              <dxi-column dataField="paymentIntent.amount" cellTemplate="amountDollarTemplate" [caption]="'Charged'"></dxi-column>
              <dxi-column dataField="refundAmount" cellTemplate="amountOtherTemplate" [caption]="'Refunded'"></dxi-column>
              <dxi-column type="buttons" [allowReordering]="false" width="50">
                <dxi-button icon="eyeopen" hint="View Details" [onClick]="showPurchasesEditModal"></dxi-button>
              </dxi-column>

              <div *dxTemplate="let data of 'receiptTemplate'">
                {{data.data?.paymentIntent?.id ? data.data.paymentIntent.id : data.data.paymentIntent }}
              </div>

              <div *dxTemplate="let data of 'itemCountTemplate'">
                {{data.data.cartItems.length}}
              </div>

              <div *dxTemplate="let data of 'amountDollarTemplate'">
                {{data.value > 0 ? (data.value / 100 | currency) : (0 | currency)}}
              </div>

              <div *dxTemplate="let data of 'amountOtherTemplate'">
                {{data.value > 0 ? (data.value | currency) : (0 | currency)}}
              </div>
            </dx-data-grid>
          </dxi-tab>
          <dxi-tab title="Events Attended">
            <dx-data-grid class="dx-card wide-card"
              #grid
              [dataSource]="eventsRegistrantsDatasource$ | async"
              [height]="'75vh'"
              [showBorders]="false"
              [showColumnLines]="true"
              [showColumnLines]="true"
              [showRowLines]="true"
              [focusedRowEnabled]="true"
              [columnAutoWidth]="true">

              <dxo-scrolling mode="virtual"></dxo-scrolling>
              <dxo-filter-row [visible]="true"></dxo-filter-row>

              <dxi-column dataField="startDate" [dataType]="'date'" [cellTemplate]="'eventDateTemplate'" [sortOrder]="'desc'"></dxi-column>
              <dxi-column dataField="eventId">
                <dxo-lookup [dataSource]="events" [displayExpr]="'eventName'" [valueExpr]="'id'"></dxo-lookup>
              </dxi-column>
              <dxi-column dataField="email"></dxi-column>
              <dxi-column dataField="receipt"></dxi-column>
              <dxi-column dataField="registrationDate" [dataType]="'date'"></dxi-column>
              <dxi-column type="buttons" [allowReordering]="false" width="50">
                <dxi-button icon="eyeopen" hint="View Details" [onClick]="showRegistrationsEditModal"></dxi-button>
              </dxi-column>
              <div *dxTemplate="let cell of 'eventDateTemplate'">
                <div class="">
                  {{ getEventDate(cell)}}
                </div>
              </div>
            </dx-data-grid>
          </dxi-tab>
        </dxi-item>
      </dx-form>
      </div>
    </div>
  </div>
</dx-popup>
