#Impact-Logo {
  padding-right: 20px;
  width: 10%;
}

#Impact-Title {
  width: 90%;
  font-size: 27px;
}

.titlebar {
  margin: 25px;
  display: inline-flex;
  width: 100%;
  text-align: center;
}

.header-container {
  margin: 5px;
  height:50px;
}

.app-container{
  margin: 25px;
}


.footer-container {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100vw;
}

