<div class="content-block responsive-paddings">
  <dx-toolbar class="content-list__header py-2 px-2 px-2">
    <dxi-item location="before" locateInMenu="never">
      <div *dxTemplate>
        <h2 class="content-block responsive-paddings underline">{{itemType}}s</h2>
      </div>
    </dxi-item>
    <dxi-item location="after">
      <div *dxTemplate>
        <dx-button class="icon-button manage-button" hint="MANAGE EVENTS">
          <div *dxTemplate="let data of 'content'">
            <div class="d-flex">
              <i class="dx-icon-preferences"></i>
            </div>
            <dx-context-menu
              target=".manage-button"
              showEvent="dxclick"
              [position]="{ my: { x: 'center', y: 'top' }, at: 'left bottom' }">
              <dxi-item text="New" icon="add" [onClick]="showAddModal"></dxi-item>
            </dx-context-menu>
          </div>
        </dx-button>
      </div>
    </dxi-item>
  </dx-toolbar>
</div>

<dx-data-grid
  #grid
  [dataSource]="datasource$ | async"
  [height]="'75vh'"
  [showBorders]="true"
  [showColumnLines]="true"
  [showRowLines]="true"
  [focusedRowEnabled]="true"
  [columnAutoWidth]="true"
  (onRowDblClick)="showEditModal($event)">

  <dxo-scrolling mode="virtual"></dxo-scrolling>
  <dxo-filter-row [visible]="true"></dxo-filter-row>

  <dxi-column dataField="isActive" dataType="boolean" [caption]="'Live'" cellTemplate="isActiveCellTemplate" [width]="120"></dxi-column>
  <dxi-column dataField="startDate" [caption]="'From'" [dataType]="'datetime'" [sortOrder]="'desc'"></dxi-column>
  <dxi-column dataField="endDate" [caption]="'To'" [dataType]="'datetime'"></dxi-column>
  <dxi-column dataField="costInDollars" [caption]="'Cost'" format="currency"></dxi-column>
  <dxi-column dataField="isSummit" [caption]="'Summit?'"></dxi-column>
  <dxi-column dataField="eventName" [caption]="'Event Name'"></dxi-column>
  <dxi-column dataField="organization" [caption]="'Organization'">
    <dxo-lookup [dataSource]="organizations$ | async" displayExpr="name" valueExpr="id"></dxo-lookup>
  </dxi-column>
  <dxi-column dataField="location" [caption]="'Location'">
    <dxo-lookup [dataSource]="locations$ | async" displayExpr="name" valueExpr="id"></dxo-lookup>
  </dxi-column>
  <dxi-column dataField="description" [visible]="false"></dxi-column>
  <dxi-column type="buttons" caption="Actions" [allowReordering]="false">
    <dxi-button icon="trash" hint="DELETE" [onClick]="delete"></dxi-button>
  </dxi-column>

  <div *dxTemplate="let cell of 'isActiveCellTemplate'">
    <span class="active-template" [style.background-color]="cell.data.isActive ? '#29d029' : 'red'">
      {{ cell.data.isActive ? 'LIVE' : 'INACTIVE' }}
    </span>
  </div>
</dx-data-grid>

<dx-popup
  [showTitle]="true"
  [dragEnabled]="false"
  [visible]="isVisible$ | async"
  height="90%"
  width="90%"
  [showCloseButton]="true"
  (onHiding)="onCancel()">
  <dxi-toolbar-item toolbar="top" location="center">
    <div *dxTemplate>
      <p class="popup-title">
        {{ selectedItem?.id ? 'EDIT' : 'ADD' }} {{itemType | uppercase}}
      </p>
    </div>
  </dxi-toolbar-item>
  <dxi-toolbar-item toolbar="top" location="after" *ngIf="isVisible$ | async">
    <div *dxTemplate>
      <dx-switch [(value)]="selectedItem.isActive" [switchedOnText]="'Live'" [switchedOffText]="'Hidden'" [width]="100"></dx-switch>
    </div>
  </dxi-toolbar-item>
  <div *dxTemplate="let data of 'content'">
    <div class="add-item-modal">
      <dx-scroll-view [height]="'90%'">
        <div class="add-item-modal__content" *ngIf="isVisible$ | async">
          <dx-form
            #addEditForm
            [(formData)]="selectedItem"
            [showColonAfterLabel]="false"
            labelLocation="left">
            <dxi-item itemType="tabbed">
              <dxi-tab title="Info" [colCount]="8">
                <dxi-item dataField="eventName" [colSpan]="4" [label]="{ text: 'Event Name' }" [isRequired]="true"></dxi-item>
                <dxi-item [colSpan]="4" [label]="{ text: 'Email Template' }" [isRequired]="true">
                  <div *dxTemplate>
                    <dx-select-box [(value)]="selectedItem.emailTemplate" [dataSource]="emailTemplates"></dx-select-box>
                  </div>
                </dxi-item>
                <dxi-item
                  dataField="startDate"
                  editorType="dxDateBox"
                  [label]="{ text: 'Start Date' }"
                  [colSpan]="4"
                  [isRequired]="true"
                  [editorOptions]="{
                    displayFormat: 'M/d/yyyy, HH:mm',
                    type: 'datetime',
                    dateSerializationFormat: 'yyyy-MM-ddTHH:mm:ss',
                    useMaskBehavior: true
                  }">
                </dxi-item>
                <dxi-item
                  dataField="endDate"
                  editorType="dxDateBox"
                  [label]="{ text: 'End Date' }"
                  [colSpan]="4"
                  [isRequired]="true"
                  [editorOptions]="{
                    displayFormat: 'M/d/yyyy, HH:mm',
                    type: 'datetime',
                    dateSerializationFormat: 'yyyy-MM-ddTHH:mm:ss',
                    useMaskBehavior: true
                  }">
                </dxi-item>
                <dxi-item dataField="isSummit" [editorType]="'dxSwitch'" [editorOptions]="{ switchedOnText: 'Yes', switchedOffText: 'No' }" [label]="{ text: 'Is Annual Summit?' }" [colSpan]="selectedItem.isSummit? 2 : 4"></dxi-item>
                <dxi-item *ngIf="selectedItem.isSummit" dataField="videoId" [label]="{ text: 'Promo Video Id?' }" [colSpan]="2"></dxi-item>
                <dxi-item
                  dataField="checkIn"
                  editorType="dxDateBox"
                  [label]="{ text: 'Check-In Time' }"
                  [colSpan]="2"
                  [isRequired]="true"
                  [editorOptions]="{
                    displayFormat: 'HH:mm',
                    type: 'time',
                    dateSerializationFormat: 'HH:mm',
                    useMaskBehavior: true,
                    interval: 15
                  }">
                </dxi-item>
                <dxi-item
                  dataField="costInDollars"
                  editorType="dxNumberBox"
                  [label]="{ text: 'Cost' }"
                  [colSpan]="2"
                  [editorOptions]="{
                    format: { type: 'currency', currency: 'USD', precision: 2 },
                    min: 0
                  }">
                </dxi-item>
                <dxi-item dataField="location" [colSpan]="4" [label]="{ text: 'Location' }" [isRequired]="true">
                  <div *dxTemplate>
                    <dx-drop-down-box
                      #locationDropbox
                      [dataSource]="locations$ | async"
                      [(value)]="selectedItem.location"
                      [showDropDownButton]="false"
                      [openOnFieldClick]="true"
                      displayExpr="name"
                      valueExpr="id">
                      <dxi-button
                        name="add"
                        location="after"
                        [options]="{
                          icon: 'add',
                          hint: 'ADD LOCATION',
                          type: 'default',
                          stylingMode: 'outlined',
                          onClick: showAddLocationModal,
                          template: 'buttonTemplate',
                          disabled: inProgress$ | async
                        }">
                        <div *dxTemplate="let data of 'buttonTemplate'">
                          <i class="dx-icon dx-icon-add" *ngIf="(inProgress$ | async) === false"></i>
                          <dx-load-indicator [visible]="inProgress$ | async" height="20" width="20"></dx-load-indicator>
                        </div>
                      </dxi-button>
                      <div *dxTemplate="let data of 'content'">
                        <dx-list
                          keyExpr="id"
                          displayExpr="name"
                          selectionMode="single"
                          [(selectedItems)]="selectedLocation"
                          (onItemClick)="selectLocation($event)"
                          [items]="locations$ | async">
                        </dx-list>
                      </div>
                    </dx-drop-down-box>
                  </div>
                </dxi-item>
                <dxi-item dataField="organization" [colSpan]="4" [label]="{ text: 'Organization' }">
                  <div *dxTemplate>
                    <dx-drop-down-box
                      #organizationDropbox
                      [dataSource]="organizations$ | async"
                      [value]="selectedItem?.organization"
                      [showDropDownButton]="true"
                      [openOnFieldClick]="true"
                      displayExpr="name"
                      valueExpr="id">
                      <dxi-button
                        name="add"
                        location="after"
                        [options]="{
                          icon: 'add',
                          hint: 'ADD ORGANIZATION',
                          type: 'default',
                          stylingMode: 'outlined',
                          onClick: showAddOrganizationModal,
                          template: 'buttonTemplate',
                          disabled: inProgress$ | async
                        }">
                        <div *dxTemplate="let data of 'buttonTemplate'">
                          <i class="dx-icon dx-icon-add" *ngIf="(inProgress$ | async) === false"></i>
                          <dx-load-indicator [visible]="inProgress$ | async" height="20" width="20"></dx-load-indicator>
                        </div>
                      </dxi-button>
                      <div *dxTemplate="let data of 'content'">
                        <dx-list
                          keyExpr="id"
                          displayExpr="name"
                          selectionMode="single"
                          (onItemClick)="selectOrganization($event)"
                          [items]="organizations$ | async">
                        </dx-list>
                      </div>
                    </dx-drop-down-box>
                  </div>
                </dxi-item>
                <dxi-item dataField="imageUrl.name" [label]="{ text: 'Image Name' }" [colSpan]="8" [disabled]="true"></dxi-item>
                <dxi-item dataField="description" [colSpan]="8" [editorType]="'dxTextArea'" [editorOptions]="{ height: 150 }" [label]="{ text: 'Web Description' }"></dxi-item>
              </dxi-tab>
              <dxi-tab title="Application">
                <app-event-application [event]="selectedItem"></app-event-application>
              </dxi-tab>
              <dxi-tab title="Agenda">
                <app-event-agenda [event]="selectedItem"></app-event-agenda>
              </dxi-tab>
              <dxi-tab title="Attendees">
                <app-event-attendees [event]="selectedItem"></app-event-attendees>
              </dxi-tab>
              <dxi-tab title="Questions and Answers">
                <app-faq [event]="selectedItem"></app-faq>
              </dxi-tab>
            </dxi-item>
          </dx-form>
        </div>
      </dx-scroll-view>
      <div class="add-item-modal__button-group" style="bottom: 10px; right: 10px; position: fixed;">
        <dx-button
          text="Upload Main Image"
          width="250px"
          stylingMode="contained"
          type="normal"
          [disabled]="inProgress$ | async"
          (onClick)="showSingleImageModal()">
        </dx-button>
        <dx-button
          text="CANCEL"
          stylingMode="contained"
          type="normal"
          [disabled]="inProgress$ | async"
          (onClick)="onCancel()">
        </dx-button>
        <app-indicator-button
          [isInProgress]="inProgress$ | async"
          [title]="'SAVE'"
          [disabled]="inProgress$ | async"
          (onClick)="onSave(selectedItem)">
        </app-indicator-button>
      </div>
    </div>
  </div>
</dx-popup>

<app-location-modal></app-location-modal>

<app-organization-modal></app-organization-modal>

<ng-container *ngIf="isSingleImageVisible$ | async">
  <app-image-uploader
    [card]="selectedItem"
    [isList]="false"
    [field]="'imageUrl'"
    [selectionMode]="'single'"
    [imageSelectVisible]="isSingleImageVisible$ | async"
    (imageSelectClosed)="closeSingleImageModal()">
  </app-image-uploader>
</ng-container>
