<ng-container *ngIf="view=='edit'">
  <div class="mt-5 mb-5 text-center justify-content-around">
    <button class="btn btn-primary mr-3" id="edit-component-buttons" (click)="showPopup()">Configure Image</button>
  </div>

  <!--Image Divider Popup Configurations-->
  <ng-container *ngIf="viewConfig">
    <dx-popup
      [width]="800"
      [height]="getScreenHeight()"
      [showTitle]="true"
      title="Configure Image Divider"
      [dragEnabled]="true"
      [hideOnOutsideClick]="false"
      [(visible)]="viewConfig"
      [showCloseButton]="true"
      [position]="{ my: 'top', at: 'top'}">
      <dx-scroll-view [showScrollbar]="'always'" style="height:85%;">
        <div class="dx-field">
          <div class="dx-field-label">Image URL</div>
          <div class="dx-field-value">
            <dx-text-box [(ngModel)]="component.image.url" class="image-divider-textbox"></dx-text-box>
            <dx-button style="float: right" [icon]="'add'" (onClick)="displayImageSelection('url', component.image)"></dx-button>
          </div>
        </div>
        <div class="dx-field">
          <div class="dx-field-label">Card Height</div>
          <div class="dx-field-value">
            <dx-number-box [(ngModel)]="component.image.height"></dx-number-box>
          </div>
        </div>
        <div class="dx-field">
          <div class="dx-field-label">Image Opacity</div>
          <div class="dx-field-value">
            <dx-number-box [(ngModel)]="component.image.opacity"></dx-number-box>
          </div>
        </div>
        <div class="dx-field">
          <div class="dx-field-label">Image Color</div>
          <div class="dx-field-value">
            <dx-color-box [(ngModel)]="component.image.color" [showClearButton]="true" ></dx-color-box>
          </div>
        </div>
        <div class="dx-field">
          <div class="dx-field-label">Image Text Overlay</div>
          <div class="dx-field-value">
            <dx-text-area [(ngModel)]="component.content.html" class="image-divider-textbox" [height]="150"></dx-text-area>
              <dx-button style="float: right" [icon]="'edit'" (onClick)="displayCardEditor('html', component.content)"></dx-button>
          </div>
        </div>
        <div class="dx-field">
          <div class="dx-field-label">Text Margin Left (% or px)</div>
            <div class="dx-field-value">
              <dx-text-box [(ngModel)]="component.content.margin_left"></dx-text-box>
            </div>
        </div>
        <div class="dx-field">
          <div class="dx-field-label">Text Margin Right (% or px)</div>
            <div class="dx-field-value">
              <dx-text-box [(ngModel)]="component.content.margin_right"></dx-text-box>
            </div>
        </div>
        <div class="dx-field">
          <div class="dx-field-label">Image View</div>
            <div class="dx-field-value">
              <dx-select-box  [searchEnabled]="true" [items]="image_view" [(ngModel)]="component.image.view"></dx-select-box>
            </div>
        </div>
        <app-footer-view [component]="component" [view]="view"></app-footer-view>
      </dx-scroll-view>
      <div class="row d-flex my-5 justify-content-around" style="margin: 0 auto;">
        <div class="col-lg-6 text-center">
          <dx-button width="100" stylingMode="contained" text="Save" type="default" (onClick)="viewConfig = false"></dx-button>
        </div>
        <div class="col-lg-6 text-center">
          <dx-button width="100" stylingMode="contained" text="Cancel" type="default" (onClick)="resetForm()"></dx-button>
        </div>
      </div>
      <app-card-text-editor
        [card]="editedTextOverlay"
        [field]="editedField"
        [textEditorVisible]="textEditorVisible"
        (textEditorClosed)="closeEditorWindow()"
        [htmlContent]="htmlContent">
      </app-card-text-editor>
      <ng-container *ngIf="imageSelectVisible">
        <app-card-image-uploader
          [card]="editedComponent"
          [field]="editedField"
          [imageSelectVisible]="imageSelectVisible"
          (imageSelectClosed)="imageSelectClosed($event)">
        </app-card-image-uploader>
      </ng-container>
    </dx-popup>
  </ng-container>
</ng-container>


<!--Image Divider Display-->
<ng-container *ngIf="view == 'display' || view == 'preview'">
  <div [ngStyle]="ag_bg_image" id="bg-image">
    <div [ngStyle]="ag_bg_image_color"></div>
  </div>
  <div *ngIf="component.content.html">
    <div class="row d-flex image-divider-overlay-text">
      <p [ngStyle]="ag_text_overlay" [innerHTML]="component.content.html | safeHTMLUrl"></p>
    </div>
  </div>
</ng-container>
