<div class="content-block responsive-paddings">
  <dx-toolbar class="content-list__header py-2 px-2">
    <dxi-item location="before" locateInMenu="never">
      <div *dxTemplate>
        <h2 class="content-block responsive-paddings underline">{{itemType}}s</h2>
      </div>
    </dxi-item>
    <dxi-item
      location="after"
      widget="dxButton"
      [options]="{
        hint: 'ADD ' + itemType | uppercase,
        type: 'default',
        text: 'ADD ' + itemType | uppercase,
        stylingMode: 'contained',
        onClick: showAddModal
      }"
    ></dxi-item>
  </dx-toolbar>
</div>

<dx-data-grid class="dx-card wide-card"
  #grid
  [dataSource]="datasource$ | async"
  [height]="'75vh'"
  [showBorders]="false"
  [showColumnLines]="true"
  [showColumnLines]="true"
  [showRowLines]="true"
  [focusedRowEnabled]="true"
  [columnAutoWidth]="true">

  <dxo-scrolling mode="virtual"></dxo-scrolling>
  <dxo-filter-row [visible]="true"></dxo-filter-row>

  <dxi-column dataField="firstName" [caption]="'First Name'"></dxi-column>
  <dxi-column dataField="lastName" [caption]="'Last Name'"></dxi-column>
  <dxi-column dataField="email" [caption]="'Email'"></dxi-column>
  <dxi-column dataField="uid" [caption]="'UID'" [visible]="false"></dxi-column>
  <dxi-column dataField="customerId" [caption]="'Customer Id'"></dxi-column>
  <dxi-column dataField="role" [caption]="'Role'" [visible]="false">
    <dxo-lookup [dataSource]="roles"></dxo-lookup>
  </dxi-column>
  <dxi-column dataField="address.address1" [caption]="'Address 1'" [visible]="false"></dxi-column>
  <dxi-column dataField="address.address2" [caption]="'Address 2'" [visible]="false"></dxi-column>
  <dxi-column dataField="address.city" [caption]="'City'" [visible]="false"></dxi-column>
  <dxi-column dataField="address.state" [caption]="'State'" [visible]="false">
    <dxo-lookup [dataSource]="states"></dxo-lookup>
  </dxi-column>
  <dxi-column dataField="address.zip" [caption]="'Zip'"[visible]="false"></dxi-column>
  <dxi-column dataField="address.county" [caption]="'County'"[visible]="false"></dxi-column>
  <dxi-column dataField="address.country" [caption]="'Country'"[visible]="false"></dxi-column>
  <dxi-column dataField="phone.countryCode" [caption]="'Country Code'"[visible]="false"></dxi-column>
  <dxi-column dataField="phone.number" [caption]="'Number'" cellTemplate="phoneNumberCellTemplate"></dxi-column>
  <dxi-column dataField="phone.type" [caption]="'Type'"[visible]="false"></dxi-column>
  <dxi-column type="buttons" caption="Actions" [allowReordering]="false">
    <dxi-button icon="edit" hint="EDIT" [onClick]="showEditModal"></dxi-button>
    <dxi-button icon="trash" hint="DELETE" [onClick]="delete"></dxi-button>
  </dxi-column>

  <div *dxTemplate="let cell of 'phoneNumberCellTemplate'">
    <div class="">
      {{ (cell.data?.phone?.countryCode ? "+" + cell.data?.phone?.countryCode : '')}} {{cell.data.phone? ((cell.data.phone | phoneNumberMask : false)) : '' }}
    </div>
  </div>
</dx-data-grid>

<dx-popup
  [showTitle]="true"
  [dragEnabled]="false"
  [visible]="isVisible$ | async"
  [width]="'60%'"
  [height]="'65%'"
  [showCloseButton]="true"
  (onHiding)="onCancel()">
  <dxi-toolbar-item toolbar="top" location="center">
    <div *dxTemplate>
      <p class="popup-title">
        {{ selectedItem?.id ? 'EDIT' : 'ADD' }} {{itemType | uppercase}}
      </p>
    </div>
  </dxi-toolbar-item>
  <div *dxTemplate="let data of 'content'">
    <div class="add-item-modal">
      <div class="add-item-modal__content" *ngIf="isVisible$ | async">
        <dx-form
          #addEditForm
          [(formData)]="selectedItem"
          [showColonAfterLabel]="false"
          labelLocation="left">
          <dxi-item itemType="tabbed">
            <dxi-tab title="Info">
              <dxi-item itemType="group" [colCount]="2" [colSpan]="1">
              <dxi-item dataField="firstName" [colSpan]="1" [isRequired]="true"></dxi-item>
              <dxi-item dataField="lastName" [colSpan]="1" [isRequired]="true"></dxi-item>
              <dxi-item dataField="email" [colSpan]="1" [isRequired]="true"></dxi-item>
              <dxi-item [label]="{ text: 'Roles' }" [isRequired]="true">
                <div *dxTemplate>
                  <dx-select-box
                    [items]="roles"
                    [(value)]="selectedItem.role">
                  </dx-select-box>
                </div>
              </dxi-item>
              <dxi-item dataField="customerId" [colSpan]="1"></dxi-item>
            </dxi-item>
            </dxi-tab>
            <dxi-tab title="Address">
              <dxi-item itemType="group" caption="Address" [colCount]="6" [colSpan]="2">
                <dxi-item dataField="address.address1" [colSpan]="6" [label]="{ text: 'Address1' }"></dxi-item>
                <dxi-item dataField="address.address2" [colSpan]="6" [label]="{ text: 'Address2' }"></dxi-item>
                <dxi-item dataField="address.city" [colSpan]="3" [label]="{ text: 'City' }"></dxi-item>
                <dxi-item dataField="address.state" [colSpan]="2" [label]="{ text: 'State' }">
                  <div *dxTemplate>
                    <dx-select-box
                      [items]="states"
                      [(value)]="selectedItem.address.state">
                    </dx-select-box>
                  </div>
                </dxi-item>
                <dxi-item dataField="address.zip" [colSpan]="2" [label]="{ text: 'Zip' }"></dxi-item>
                <dxi-item dataField="address.county" [colSpan]="3" [label]="{ text: 'County' }"></dxi-item>
                <dxi-item dataField="address.country" [colSpan]="3" [label]="{ text: 'Country' }"></dxi-item>
              </dxi-item>
            </dxi-tab>
            <dxi-tab title="Contact">
              <dxi-item itemType="group" caption="Phone Number" [colCount]="6" [colSpan]="2">
                <dxi-item dataField="phone.countryCode" [colSpan]="2" [label]="{ text: 'Country Code' }"></dxi-item>
                <dxi-item dataField="phone.number" [colSpan]="2" [label]="{ text: 'Number' }" [editorOptions]="phoneEditorOptions"></dxi-item>
                <dxi-item [label]="{ text: 'Type' }" [colSpan]="2">
                  <div *dxTemplate>
                    <dx-select-box
                      [items]="phone_types"
                      [(value)]="selectedItem.phone.type">
                    </dx-select-box>
                  </div>
                </dxi-item>
              </dxi-item>
            </dxi-tab>
          </dxi-item>
        </dx-form>
      </div>
      <div class="add-item-modal__button-group">
        <dx-button
          text="CANCEL"
          stylingMode="contained"
          type="normal"
          [disabled]="inProgress$ | async"
          (onClick)="onCancel()">
        </dx-button>
        <app-indicator-button
          [isInProgress]="inProgress$ | async"
          [title]="'SAVE'"
          [disabled]="inProgress$ | async"
          (onClick)="onSave(selectedItem)">
        </app-indicator-button>
      </div>
    </div>
  </div>
</dx-popup>
