<dx-toolbar class="content-list__header py-2 px-2 px-2">
  <dxi-item location="after">
    <div *dxTemplate>
      <dx-button class="icon-button manage-button" hint="MANAGE PRODUCTS">
        <div *dxTemplate="let data of 'content'">
          <div class="d-flex">
            <i class="dx-icon-preferences"></i>
          </div>
          <dx-context-menu
            target=".manage-button"
            showEvent="dxclick"
            [position]="{ my: { x: 'center', y: 'top' }, at: 'left bottom' }">
            <dxi-item text="New" icon="add" [onClick]="displayPageAdd"></dxi-item>
          </dx-context-menu>
        </div>
      </dx-button>
    </div>
  </dxi-item>
</dx-toolbar>

<dx-data-grid
  #pageTable
  id="gridContainer"
  [dataSource]="datasource$ | async"
  [height]="'75vh'"
  [showBorders]="false"
  [showColumnLines]="true"
  [showColumnLines]="true"
  [showRowLines]="true"
  [focusedRowEnabled]="true"
  [columnAutoWidth]="true">
  <dxo-load-panel [enabled]="true"></dxo-load-panel>
  <dxo-scrolling mode="virtual"></dxo-scrolling>
  <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
  <dxo-load-panel [enabled]="true"></dxo-load-panel>
  <dxo-scrolling mode="virtual"></dxo-scrolling>
  <dxo-sorting mode="multiple"></dxo-sorting>

  <dxi-column dataField="name"></dxi-column>
  <dxi-column dataField="id"></dxi-column>
  <dxi-column type="buttons" [width]="110" [fixed]="true">
    <dxi-button hint="Preview" icon="search" [onClick]="displayPagePreview"></dxi-button>
    <dxi-button hint="Edit" icon="edit" [onClick]="displayPageEdit"></dxi-button>
    <dxi-button hint="Delete" icon="trash" [onClick]="delete"></dxi-button>
  </dxi-column>
</dx-data-grid>

<ng-container *ngIf="editPageVisible$ | async">
  <dx-popup
    [height]="'100%'"
    [width]="'100%'"
    [showTitle]="true"
    title="Card Maker"
    [dragEnabled]="false"
    [hideOnOutsideClick]="true"
    [visible]="editPageVisible$ | async"
    (onHiding)="onEditCancel()">
    <dx-scroll-view [height]="'87%'">
      <app-page-maker [page]="page" [mode]="'edit'"></app-page-maker>
    </dx-scroll-view>
    <div class="add-item-modal__button-group pd-1">
      <dx-button
        text="PREVIEW"
        stylingMode="contained"
        type="normal"
        (onClick)="displayPageEditPreview($event)">
      </dx-button>
      <dx-button
        text="CANCEL"
        stylingMode="contained"
        type="normal"
        (onClick)="onEditCancel()">
      </dx-button>
      <dx-button
        text="SAVE"
        stylingMode="contained"
        type="normal"
        (onClick)="saveChanges()">
      </dx-button>
    </div>
  </dx-popup>
</ng-container>

<ng-container *ngIf="previewPageVisible$ | async">
  <dx-popup
    [height]="'100%'"
    [width]="'100%'"
    [showTitle]="true"
    title="Card Previewer"
    [dragEnabled]="false"
    [hideOnOutsideClick]="true"
    [visible]="previewPageVisible$ | async"
    (onHiding)="onPreviewCancel()">
    <dx-scroll-view [height]="'87%'">
      <app-page-viewer [page]="page" [mode]="'preview'"></app-page-viewer>
    </dx-scroll-view>
    <div class="add-item-modal__button-group pt-1">
      <dx-button
        text="CANCEL"
        stylingMode="contained"
        type="normal"
        (onClick)="onPreviewCancel()">
      </dx-button>
    </div>
  </dx-popup>
</ng-container>
