<div class="container-fluid">
    <div>
        <dx-data-grid id="gridContainer" [dataSource]="dataSource" [showBorders]="true" [renderAsync]="true" (onRowUpdating)="onRowUpdating($event)" (onToolbarPreparing)="onToolbarPreparing($event)" [width]="getWindowWidth()">
            <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
            <dxo-load-panel [enabled]="true"></dxo-load-panel>
            <dxo-scrolling mode="virtual"></dxo-scrolling>
            <dxo-editing mode="popup" [allowUpdating]="true" [allowDeleting]="true" [useIcons]="true">
                <dxo-popup title="Page Information" [showTitle]="true" [width]="700" [height]="getScreenHeight()">
                </dxo-popup>
            </dxo-editing>
            <dxo-sorting mode="multiple"></dxo-sorting>
            <dxi-column type="buttons" [width]="110" [fixed]="true">
                <dxi-button hint="Preview" icon="search" [visible]="true" [onClick]="displayPagePreview.bind(this)">
                </dxi-button>
                <dxi-button name="edit" [onClick]="displayPageEdit.bind(this)"></dxi-button>
                <dxi-button name="delete"></dxi-button>
            </dxi-column>
            <dxi-column dataField="name"></dxi-column>
            <dxi-column dataField="dbId"></dxi-column>
        </dx-data-grid>
    </div>
