<div class="content-block">
  <dx-data-grid class="dx-card wide-card"
    #grid
    [dataSource]="dataSource"
    [width]="'100%'"
    [showBorders]="false"
    [focusedRowEnabled]="true"
    [columnAutoWidth]="true"
    [columnHidingEnabled]="true"
    [rowAlternationEnabled]="true"
    (onRowUpdating)="onRowUpdating($event)">

    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
    <dxo-filter-row [visible]="false"></dxo-filter-row>
    <dxo-header-filter [visible]="false"></dxo-header-filter>
    <dxo-search-panel
      [visible]="true"
      [width]="240"
      placeholder="Search...">
    </dxo-search-panel>
    <dxo-toolbar>
      <dxi-item location="before">
        <div *dxTemplate>
          <div class="toolbar-label">
            <b>Coaches</b>
          </div>
        </div>
      </dxi-item>

      <dxi-item name="addRowButton"></dxi-item>
      <dxi-item name="searchPanel"></dxi-item>
    </dxo-toolbar>
    <dxo-editing
      mode="popup"
      [allowAdding]="true"
      [allowUpdating]="true"
      [allowDeleting]="true">
      <dxo-popup
        title="Add/Edit Coach"
        [showTitle]="true"
        [width]="800"
        [height]="800">
      </dxo-popup>
      <dxo-form [colCount]="1">
        <dxi-item itemType="tabbed">
          <dxi-tab title="About">
            <dxi-item itemType="group" caption="Coach" [colCount]="2" [colSpan]="1">
              <dxi-item dataField="firstName" [colSpan]="1"></dxi-item>
              <dxi-item dataField="lastName" [colSpan]="1"></dxi-item>
              <dxi-item dataField="title" [colSpan]="1"></dxi-item>
              <dxi-item dataField="organization" [colSpan]="1"></dxi-item>
              <dxi-item dataField="photoUrl" [colSpan]="2"></dxi-item>
            </dxi-item>
            <dxi-item itemType="group" caption="Address" [colCount]="4" [colSpan]="1">
              <dxi-item dataField="address.address1" [colSpan]="4"></dxi-item>
              <dxi-item dataField="address.address2" [colSpan]="4"></dxi-item>
              <dxi-item dataField="address.city" [colSpan]="2"></dxi-item>
              <dxi-item dataField="address.state" [colSpan]="2"></dxi-item>
              <dxi-item dataField="address.zip" [colSpan]="2"></dxi-item>
              <dxi-item dataField="address.country" [colSpan]="2"></dxi-item>
            </dxi-item>
            <dxi-item itemType="group" caption="Phone" [colCount]="4" [colSpan]="1">
              <dxi-item dataField="phone.countryCode" [colSpan]="1"></dxi-item>
              <dxi-item dataField="phone.number" [colSpan]="2" ></dxi-item>
              <dxi-item dataField="phone.type" [colSpan]="1"></dxi-item>
            </dxi-item>
          </dxi-tab>
          <dxi-tab title="Biography">
            <dxi-item dataField="bio" [colSpan]="2" [editorType]="'dxTextArea'" [editorOptions]="{ height: 500 }">
              <dxo-label [visible]="false" ></dxo-label>
            </dxi-item>
          </dxi-tab>
        </dxi-item>

      </dxo-form>
    </dxo-editing>

    <dxi-column dataField="firstName" [caption]="'First'"></dxi-column>
    <dxi-column dataField="lastName" [caption]="'Last'"></dxi-column>
    <dxi-column dataField="title" [caption]="'Title'"></dxi-column>
    <dxi-column dataField="organization" [caption]="'Organization'">
      <dxo-lookup [dataSource]="organizations" displayExpr="name" valueExpr="id" [allowClearing]="true"></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="bio" [caption]="'Biography'"></dxi-column>
    <dxi-column dataField="photoUrl" [caption]="'Photo URL'"></dxi-column>

    <dxi-column dataField="address.address1" [caption]="'Address 1'" [visible]="false"></dxi-column>
    <dxi-column dataField="address.address2" [caption]="'Address 2'" [visible]="false"></dxi-column>
    <dxi-column dataField="address.city" [caption]="'City'"></dxi-column>
    <dxi-column dataField="address.state" [caption]="'State'"></dxi-column>
    <dxi-column dataField="address.zip" [caption]="'Zip Code'" [visible]="false"></dxi-column>
    <dxi-column dataField="address.country" [caption]="'Country'" [visible]="false"></dxi-column>

    <dxi-column dataField="phone.countryCode" [caption]="'Country Code'" [visible]="false"></dxi-column>
    <dxi-column dataField="phone.number" [caption]="'Number'" [editorOptions]="{ mask: '(000) 000-0000' }" cellTemplate="phoneNumberCellTemplate"></dxi-column>
    <dxi-column dataField="phone.type" [caption]="'Type'">
      <dxo-lookup [dataSource]="phone_types" [allowClearing]="true"></dxo-lookup>
    </dxi-column>

    <div *dxTemplate="let cell of 'phoneNumberCellTemplate'">
      <div class="">
        {{ cell.data.phone | phoneNumberMask : false }}
      </div>
    </div>
  </dx-data-grid>
</div>

