<dx-toolbar class="content-list__header py-2 px-2 px-2">
  <dxi-item location="after">
    <div *dxTemplate>
      <dx-button class="icon-button manage-button" hint="MANAGE CARDS">
        <div *dxTemplate="let data of 'content'">
          <div class="d-flex">
            <i class="dx-icon-preferences"></i>
          </div>
          <dx-context-menu
            target=".manage-button"
            showEvent="dxclick"
            [position]="{ my: { x: 'center', y: 'top' }, at: 'left bottom' }">
            <dxi-item text="New" icon="add" [onClick]="displayMacroAdd"></dxi-item>
          </dx-context-menu>
        </div>
      </dx-button>
    </div>
  </dxi-item>
</dx-toolbar>

<dx-data-grid
  #macros
  id="gridContainer"
  [dataSource]="datasource$ | async"
  [height]="'75vh'"
  [showBorders]="true"
  [showColumnLines]="true"
  [showColumnLines]="true"
  [showRowLines]="true"
  [focusedRowEnabled]="true"
  [columnAutoWidth]="true">
    <dxo-load-panel [enabled]="true"></dxo-load-panel>
    <dxo-scrolling mode="virtual"></dxo-scrolling>

    <dxi-column dataField="name" [width]="'15%'"></dxi-column>
    <dxi-column dataField="font" [width]="'10%'"></dxi-column>
    <dxi-column dataField="casing" [width]="'10%'"></dxi-column>
    <dxi-column dataField="bold" [width]="'5%'"></dxi-column>
    <dxi-column dataField="size" [width]="'5%'"></dxi-column>
    <dxi-column dataField="align" [width]="'5%'"></dxi-column>
    <dxi-column dataField="color" [width]="'10%'"></dxi-column>
    <dxi-column dataField="background" [width]="'10%'"></dxi-column>
    <dxi-column dataField="padding.left" [width]="'5%'" [caption]="'Left'"></dxi-column>
    <dxi-column dataField="padding.right" [width]="'5%'" [caption]="'Right'"></dxi-column>
    <dxi-column dataField="padding.top" [width]="'5%'" [caption]="'Top'"></dxi-column>
    <dxi-column dataField="padding.bottom" [width]="'5%'" [caption]="'Bottom'"></dxi-column>
    <dxi-column type="buttons" [width]="'10%'" [fixed]="true">
        <dxi-button name="edit" [onClick]="displayMacroEdit"></dxi-button>
        <dxi-button name="delete"></dxi-button>
    </dxi-column>
</dx-data-grid>

<ng-container *ngIf="editMacroVisible$ | async">
  <dx-popup
    [height]="'100%'"
    [width]="'100%'"
    [showTitle]="true"
    title="Macro Maker"
    [dragEnabled]="false"
    [hideOnOutsideClick]="true"
    [visible]="editMacroVisible$ | async"
    (onHiding)="onEditCancel()">
        <div class="dx-field">
            <div class="dx-field-label">Report Name</div>
            <div class="dx-field-value">
                <dx-text-box [(value)]="macro.name"></dx-text-box>
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">Font</div>
            <div class="dx-field-value">
                <dx-select-box [searchEnabled]="true" [(value)]="macro.font" [items]="['Arial', 'Courier New', 'Georgia', 'Impact', 'Lucida Console', 'Tahoma', 'Times New Roman', 'Verdana', 'Roboto', 'Dm Sans']"></dx-select-box>
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">Font Size</div>
            <div class="dx-field-value">
                <dx-select-box [searchEnabled]="true" [(value)]="macro.size" [items]="['8pt', '10pt', '12pt', '14pt', '18pt', '20pt', '22pt', '24pt', '26pt', '28pt', '30pt', '32pt', '34pt', '36pt', '38pt', '40pt', '42pt', '44pt', '46pt', '50pt', '56pt', '60pt', '66pt', '72pt']"></dx-select-box>
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">Font Bold</div>
            <div class="dx-field-value">
                <dx-select-box [searchEnabled]="true" [(value)]="macro.bold" [items]="[true, false]"></dx-select-box>
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">Text Alignment</div>
            <div class="dx-field-value">
                <dx-select-box [searchEnabled]="true" [(value)]="macro.align" [items]="['left', 'right', 'center', 'justify']"></dx-select-box>
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">Text Color</div>
            <div class="dx-field-value">
                <dx-color-box [(value)]="macro.color"></dx-color-box>
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">Background Color</div>
            <div class="dx-field-value">
                <dx-color-box [(value)]="macro.background"></dx-color-box>
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">Text Padding Left</div>
            <div class="dx-field-value">
                <dx-number-box [(value)]="macro.padding.left"></dx-number-box>
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">Text Padding Right</div>
            <div class="dx-field-value">
                <dx-number-box [(value)]="macro.padding.right"></dx-number-box>
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">Text Padding Top</div>
            <div class="dx-field-value">
                <dx-number-box [(value)]="macro.padding.top"></dx-number-box>
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">Text Padding Bottom</div>
            <div class="dx-field-value">
                <dx-number-box [(value)]="macro.padding.bottom"></dx-number-box>
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">Text Casing</div>
            <div class="dx-field-value">
                <dx-select-box [searchEnabled]="true" [(value)]="macro.textTransform" [items]="['uppercase', 'lowercase', 'capitalize']"></dx-select-box>
            </div>
        </div>
        <div class="row d-flex mt-5 justify-content-around" style="margin: 0 auto;">
            <div class="col-lg-6 text-center">
              <dx-button width="100" stylingMode="contained" text="Save" type="default" (onClick)="saveChanges()"></dx-button>
            </div>
            <div class="col-lg-6 text-center">
              <dx-button width="100" stylingMode="contained" text="Cancel" type="default" (onClick)="onEditCancel()"></dx-button>
            </div>
        </div>
    </dx-popup>
</ng-container>
