<div class="container-fluid">
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <dx-data-grid #macros id="gridContainer" [dataSource]="dataSource" [showBorders]="true" [renderAsync]="true" (onRowUpdating)="onRowUpdating($event)" (onToolbarPreparing)="onToolbarPreparing($event)">
                    <dxo-search-panel [visible]="true" [width]="240" placeholder="Search...">
                    </dxo-search-panel>
                    <dxo-load-panel [enabled]="true"></dxo-load-panel>
                    <dxo-scrolling mode="virtual"></dxo-scrolling>
                    <dxo-editing mode="popup" [allowUpdating]="true" [allowDeleting]="true" [useIcons]="true">
                        <dxo-popup title="Page Information" [showTitle]="true" [width]="700" [height]="getScreenHeight()">
                        </dxo-popup>
                    </dxo-editing>
                    <dxi-column dataField="name" [width]="'15%'"></dxi-column>
                    <dxi-column dataField="font" [width]="'10%'"></dxi-column>
                    <dxi-column dataField="casing" [width]="'10%'"></dxi-column>
                    <dxi-column dataField="bold" [width]="'5%'"></dxi-column>
                    <dxi-column dataField="size" [width]="'5%'"></dxi-column>
                    <dxi-column dataField="align" [width]="'5%'"></dxi-column>
                    <dxi-column dataField="color" [width]="'10%'"></dxi-column>
                    <dxi-column dataField="background" [width]="'10%'"></dxi-column>
                    <dxi-column dataField="padding.left" [width]="'5%'" [caption]="'Left'"></dxi-column>
                    <dxi-column dataField="padding.right" [width]="'5%'" [caption]="'Right'"></dxi-column>
                    <dxi-column dataField="padding.top" [width]="'5%'" [caption]="'Top'"></dxi-column>
                    <dxi-column dataField="padding.bottom" [width]="'5%'" [caption]="'Bottom'"></dxi-column>
                    <dxi-column type="buttons" [width]="'10%'" [fixed]="true">
                        <dxi-button name="edit" [onClick]="displayEditPage.bind(this)"></dxi-button>
                        <dxi-button name="delete"></dxi-button>
                    </dxi-column>
                </dx-data-grid>
            </div>
        </div>
    </div>
</div>

<ng-container *ngIf="macroEditVisible">
    <dx-popup [width]="500" [height]="700" [showTitle]="true" title="Create Macro" [dragEnabled]="false" [hideOnOutsideClick]="false" [(visible)]="macroEditVisible" [showCloseButton]="false">
        <div class="dx-field">
            <div class="dx-field-label">Report Name</div>
            <div class="dx-field-value">
                <dx-text-box [(ngModel)]="editedMacro.name"></dx-text-box>
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">Font</div>
            <div class="dx-field-value">
                <dx-select-box [searchEnabled]="true" [(ngModel)]="editedMacro.font" [items]="['Arial', 'Courier New', 'Georgia', 'Impact', 'Lucida Console', 'Tahoma', 'Times New Roman', 'Verdana', 'Roboto', 'Dm Sans']"></dx-select-box>
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">Font Size</div>
            <div class="dx-field-value">
                <dx-select-box [searchEnabled]="true" [(ngModel)]="editedMacro.size" [items]="['8pt', '10pt', '12pt', '14pt', '18pt', '20pt', '22pt', '24pt', '26pt', '28pt', '30pt', '32pt', '34pt', '36pt', '38pt', '40pt', '42pt', '44pt', '46pt', '50pt', '56pt', '60pt', '66pt', '72pt']"></dx-select-box>
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">Font Bold</div>
            <div class="dx-field-value">
                <dx-select-box [searchEnabled]="true" [(ngModel)]="editedMacro.bold" [items]="[true, false]"></dx-select-box>
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">Text Alignment</div>
            <div class="dx-field-value">
                <dx-select-box [searchEnabled]="true" [(ngModel)]="editedMacro.align" [items]="['left', 'right', 'center', 'justify']"></dx-select-box>
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">Text Color</div>
            <div class="dx-field-value">
                <dx-color-box [(ngModel)]="editedMacro.color"></dx-color-box>
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">Background Color</div>
            <div class="dx-field-value">
                <dx-color-box [(ngModel)]="editedMacro.background"></dx-color-box>
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">Text Padding Left</div>
            <div class="dx-field-value">
                <dx-number-box [(ngModel)]="editedMacro.padding.left"></dx-number-box>
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">Text Padding Right</div>
            <div class="dx-field-value">
                <dx-number-box [(ngModel)]="editedMacro.padding.right"></dx-number-box>
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">Text Padding Top</div>
            <div class="dx-field-value">
                <dx-number-box [(ngModel)]="editedMacro.padding.top"></dx-number-box>
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">Text Padding Bottom</div>
            <div class="dx-field-value">
                <dx-number-box [(ngModel)]="editedMacro.padding.bottom"></dx-number-box>
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">Text Casing</div>
            <div class="dx-field-value">
                <dx-select-box [searchEnabled]="true" [(ngModel)]="editedMacro.textTransform" [items]="['uppercase', 'lowercase', 'capitalize']"></dx-select-box>
            </div>
        </div>
        <div class="row d-flex mt-5 justify-content-around" style="margin: 0 auto;">
            <div class="col-lg-6 text-center">
              <dx-button width="100" stylingMode="contained" text="Save" type="default" (onClick)="saveMacro()"></dx-button>
            </div>
            <div class="col-lg-6 text-center">
              <dx-button width="100" stylingMode="contained" text="Cancel" type="default" (onClick)="closePopup()"></dx-button>
            </div>
        </div>
    </dx-popup>
</ng-container>
