<ng-container *ngIf="view=='edit'">
  <div class="mt-5 mb-5 text-center justify-content-around">
    <button class="btn btn-primary mr-3" id="edit-component-buttons" (click)="showPopup()">Configure Gallery</button>
  </div>

  <!--Gallery Popup Configuration-->
  <ng-container *ngIf="viewConfig">
    <dx-popup
      [width]="800"
      [height]="getScreenHeight()"
      [showTitle]="true"
      title="Configure Gallery"
      [dragEnabled]="true"
      [hideOnOutsideClick]="false"
      [(visible)]="viewConfig"
      [showCloseButton]="true"
      [position]="{ my: 'top', at: 'top'}">
      <dx-scroll-view [showScrollbar]="'always'" style="height:85%;">
        <app-component-header-view [component]="component" [view]="view"></app-component-header-view>
        <br>
        <div class="row">
          <div class="col-11">
              <h3>Component Body</h3>
          </div>
          <div class="col-1 mb-1">
            <dx-button name="angulareditor" [icon]="'add'" (onClick)="displayImageSelection('item_url', $event)"></dx-button>
          </div>
        </div>
        <dx-data-grid
          id="gridContainer"
          [width]="'100%'"
          [height]="150"
          [dataSource]="component.gallery.items"
          [showBorders]="true">
          <dxo-row-dragging
            [allowReordering]="true"
            [onReorder]="onReorder"
            [showDragIcons]="true">
          </dxo-row-dragging>
          <dxo-editing
            mode="popup"
            [allowUpdating]="true"
            [allowDeleting]="true"
            [useIcons]="true">
          </dxo-editing>
          <dxo-scrolling mode="virtual"></dxo-scrolling>
          <dxo-sorting mode="none"></dxo-sorting>
          <dxi-column dataField="item_type" caption="Type" dataType="number" [width]="75"></dxi-column>
          <dxi-column dataField="item_name" caption="Name" dataType="number"></dxi-column>
          <dxi-column dataField="width_ratio" caption="Width Ratio" dataType="number" [width]="100"></dxi-column>
          <dxi-column dataField="height_ratio" caption="Height Ratio" dataType="number" [width]="100"></dxi-column>
          <dxi-column type="buttons" [width]="110">
            <dxi-button name="edit" [onClick]="displayImageSelection.bind(this ,'item_url')"></dxi-button>
            <dxi-button name="delete"></dxi-button>
          </dxi-column>
        </dx-data-grid>
        <br>
        <div class="row mt-2">
          <div class="col">
            <div class="dx-field">
              <div class="dx-field-label">Gallery Orientation</div>
              <div class="dx-field-value">
                <dx-select-box  [searchEnabled]="true" [items]="['horizontal', 'vertical']" [(value)]="component.gallery.axis"></dx-select-box>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="dx-field">
              <div class="dx-field-label">Height</div>
              <div class="dx-field-value">
                <dx-number-box [(value)]="component.gallery.height" ></dx-number-box>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="dx-field">
              <div class="dx-field-label">Width</div>
              <div class="dx-field-value">
                <dx-number-box [(value)]="component.gallery.width" ></dx-number-box>
              </div>
            </div>
          </div>
        </div>
        <br>
        <app-footer-view [component]="component" [view]="view"></app-footer-view>
      </dx-scroll-view>
      <div class="row d-flex my-5 justify-content-around" style="margin: 0 auto;">
        <div class="col-lg-6 text-center">
          <dx-button width="100" stylingMode="contained" text="Save" type="default" (onClick)="viewConfig = false"></dx-button>
        </div>
        <div class="col-lg-6 text-center">
          <dx-button width="100" stylingMode="contained" text="Cancel" type="default" (onClick)="resetForm()"></dx-button>
        </div>
      </div>
    </dx-popup>
  </ng-container>

  <!--Image Uploader Popup-->
  <ng-container *ngIf="imageSelectVisible">
    <app-card-image-uploader
      [card]="editedImage"
      [field]="editedField"
      [imageSelectVisible]="imageSelectVisible"
      (imageSelectClosed)="closeItemWindow($event)"
      [height]="400"
      [captureImageName]="true"
      [imageNameField]="'item_name'">

      <div class="dx-field mt-2">
        <div class="dx-field-label">Item Name</div>
        <div class="dx-field-value">
          <dx-text-box [(value)]="editedImage.item_name"></dx-text-box>
        </div>
      </div>
      <div class="dx-field">
        <div class="dx-field-label">Item URL</div>
        <div class="dx-field-value">
          <dx-text-box [(value)]="editedImage.item_url"></dx-text-box>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-6">
          <div class="dx-field">
            <div class="dx-field-label">Item Width Ratio</div>
            <div class="dx-field-value">
              <dx-number-box [(value)]="editedImage.width_ratio"></dx-number-box>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="dx-field">
            <div class="dx-field-label">Item Height Ratio</div>
            <div class="dx-field-value">
              <dx-number-box [(value)]="editedImage.height_ratio"></dx-number-box>
            </div>
          </div>
        </div>
      </div>
    </app-card-image-uploader>
  </ng-container>
</ng-container>




<!--Gallery Display-->
<ng-container *ngIf="view == 'display' || view == 'preview'">
  <app-component-header-view [component]="component" [view]="view"></app-component-header-view>
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <dx-tile-view class="dx-tile-content"
        [height]="component.gallery.height"
        [width]="component.gallery.width"
        [itemMargin]="10">
        <dxi-item *ngFor="let home of component.gallery.items"
            [widthRatio]="home.width_ratio"
            [heightRatio]="home.height_ratio">
            <div class="image" [style.background-image]="'url(' + home.item_url + ')'" ></div>
        </dxi-item>
      </dx-tile-view>
    </div>
  </div>
  <app-footer-view [component]="component" [view]="view"></app-footer-view>
</ng-container>
