<div class="content-block responsive-paddings">
  <dx-toolbar class="content-list__header py-2 px-2">
    <dxi-item location="before" locateInMenu="never">
      <div *dxTemplate>
        <h2 class="content-block responsive-paddings underline">{{itemType}}s</h2>
      </div>
    </dxi-item>
    <dxi-item location="after">
      <div *dxTemplate>
        <dx-button class="icon-button manage-announcements-button" hint="MANAGE ANNOUNCEMENTS">
          <div *dxTemplate="let data of 'content'">
            <div class="d-flex">
              <i class="dx-icon-preferences"></i>
            </div>
            <dx-context-menu
              target=".manage-announcements-button"
              showEvent="dxclick"
              [position]="{ my: { x: 'center', y: 'top' }, at: 'left bottom' }">
              <dxi-item text="New" icon="add" [onClick]="showAddModal"></dxi-item>
            </dx-context-menu>
          </div>
        </dx-button>
      </div>
    </dxi-item>
  </dx-toolbar>
</div>

<dx-data-grid class="dx-card wide-card"
  #attendeeGrid
  [dataSource]="datasource$ | async"
  [height]="'56vh'"
  [showBorders]="false"
  [showColumnLines]="true"
  [showColumnLines]="true"
  [showRowLines]="true"
  [focusedRowEnabled]="true"
  [columnAutoWidth]="true"
  (onRowDblClick)="showEditModal($event)">

  <dxo-scrolling mode="virtual"></dxo-scrolling>

  <dxi-column dataField="date" [dataType]="'datetime'" [sortOrder]="'asc'"></dxi-column>
  <dxi-column dataField="sentBy"></dxi-column>
  <dxi-column dataField="announcement"></dxi-column>
  <dxi-column type="buttons" [width]="150" caption="Actions">
    <dxi-button icon="trash" hint="DELETE" [onClick]="delete"></dxi-button>
  </dxi-column>
</dx-data-grid>

<dx-popup
  [showTitle]="true"
  [dragEnabled]="false"
  [visible]="isVisible$ | async"
  [width]="'60%'"
  [height]="'40%'"
  [showCloseButton]="true"
  (onHiding)="onCancel()">
  <dxi-toolbar-item toolbar="top" location="center">
    <div *dxTemplate>
      <p class="popup-title">
        ANNOUNCEMENT
      </p>
    </div>
  </dxi-toolbar-item>
  <div *dxTemplate="let data of 'content'">
    <div class="add-item-modal">
      <div class="add-item-modal__content" *ngIf="isVisible$ | async">
        <dx-form
            #form
            class="pb-2"
            [(formData)]="selectedItem"
            [showColonAfterLabel]="false"
            labelLocation="left">
            <dxi-item dataField="title" [colSpan]="1" [isRequired]="true"></dxi-item>
        </dx-form>
        <dx-text-area [(ngModel)]="selectedItem.announcement" [height]="150"></dx-text-area>
      </div>
      <div class="add-item-modal__button-group">
        <dx-button
          text="CANCEL"
          stylingMode="contained"
          type="normal"
          [disabled]="inProgress$ | async"
          (onClick)="onCancel()">
        </dx-button>
        <app-indicator-button
          [isInProgress]="inProgress$ | async"
          [title]="'SAVE'"
          [disabled]="inProgress$ | async"
          (onClick)="onSave(selectedItem)">
        </app-indicator-button>
      </div>
    </div>
  </div>
</dx-popup>
