<ng-container *ngIf="view=='edit'">
  <div class="mt-5 mb-5 text-center justify-content-around">
    <button class="btn btn-primary mr-3" id="edit-component-buttons" (click)="showPopup()">Configure Video</button>
  </div>
  <!--Video Popup Configuration-->
  <ng-container *ngIf="viewConfig">
    <dx-popup
      [width]="800"
      [height]="getScreenHeight()"
      [showTitle]="true"
      title="Configure Video"
      [dragEnabled]="true"
      [hideOnOutsideClick]="false"
      [(visible)]="viewConfig"
      [showCloseButton]="true"
      [position]="{ my: 'top', at: 'top'}">
      <dx-scroll-view [showScrollbar]="'always'" style="height:85%;">
        <app-component-header-view [component]="component" [view]="view"></app-component-header-view>
        <div class="row">
          <div class="col">
              <h3>Component Body</h3>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            <div class="dx-field">
              <div class="dx-field-label">Video ID</div>
              <div class="dx-field-value">
                <dx-text-box [(ngModel)]="component.video.url"></dx-text-box>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="dx-field">
              <div class="dx-field-label">Source</div>
              <div class="dx-field-value">
                <dx-select-box  [searchEnabled]="true" [items]="['Vimeo', 'YouTube']" [(ngModel)]="component.video.source"></dx-select-box>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="dx-field">
              <div class="dx-field-label">Video Height</div>
              <div class="dx-field-value">
                <dx-number-box [(ngModel)]="component.video.height"></dx-number-box>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="dx-field">
              <div class="dx-field-label">Auto Play?
              </div>
              <div class="dx-field-value">
                <dx-select-box  [searchEnabled]="true" [(ngModel)]="component.video.autoplay" [items]="[true, false]"></dx-select-box>
              </div>
            </div>
          </div>
        </div>
        <app-footer-view [component]="component"></app-footer-view>
      </dx-scroll-view>
      <div class="row d-flex my-5 justify-content-around" style="margin: 0 auto;">
        <div class="col-lg-6 text-center">
          <dx-button width="100" stylingMode="contained" text="Save" type="default" (onClick)="viewConfig = false"></dx-button>
        </div>
        <div class="col-lg-6 text-center">
          <dx-button width="100" stylingMode="contained" text="Cancel" type="default" (onClick)="resetForm()"></dx-button>
        </div>
      </div>
    </dx-popup>
  </ng-container>
</ng-container>



<!--Video Display-->
<ng-container *ngIf="view == 'display' || view == 'preview'">
  <app-component-header-view [component]="component" [view]="view"></app-component-header-view>
  <ng-container *ngIf="component.video.source=='YouTube'">
    <div class="row d-flex justify-content-around" style="margin: 0 5% 0 5%">
      <iframe [src]="component.video | safeYoutubeUrl" width=100% height="{{component.video.height/col_count}}" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
    </div>
  </ng-container>
  <ng-container *ngIf="component.video.source=='Vimeo'">
    <div class="row d-flex justify-content-around" style="margin: 0 5% 0 5%">
      <iframe [src]="component.video | safeVimeoUrl" width=100% height="{{component.video.height/col_count}}" frameborder="0" allow="autoplay; fullscreen" allowfullscreen=""> </iframe>
    </div>
  </ng-container>
  <app-footer-view [component]="component" [view]="view"></app-footer-view>
</ng-container>


