<ng-container *ngIf="view=='edit'">
    <div class="mt-5 mb-5 text-center justify-content-around">
      <button class="btn btn-primary mr-3" id="edit-component-buttons" (click)="showPopup()">Configure Button</button>
    </div>

    <!--Button Popup Configuration-->
    <dx-popup
      [width]="800"
      [height]="getScreenHeight()"
      [showTitle]="true"
      title="Configure Button"
      [dragEnabled]="true"
      [hideOnOutsideClick]="false"
      [(visible)]="viewConfig"
      [showCloseButton]="true"
      [position]="{ my: 'top', at: 'top'}">
      <dx-scroll-view [showScrollbar]="'always'" style="height:85%;">
        <div class="dx-field">
          <div class="dx-field-label">Button Value</div>
          <div class="dx-field-value">
            <dx-text-box [(value)]="component.button.button_name"></dx-text-box>
          </div>
        </div>
        <div class="dx-field">
          <div class="dx-field-label">Button</div>
          <div class="dx-field-value">
            <dx-select-box
              #cardButtonSelect
              [items]="buttonStyles"
              [(value)]="component.button.button_style"
              [searchEnabled]="true">
            </dx-select-box>
            <div *ngIf="cardButtonSelect.value" class="mt-2 text-center" style="background-color: darkgrey;">
              <button
                type="button"
                class="btn-link {{component.button.button_style}}">
                  {{component.button.button_name}}
                </button>
            </div>
          </div>
        </div>
        <div class="dx-field">
          <div class="dx-field-label">Button Size</div>
          <div class="dx-field-value">
              <dx-number-box [(value)]="component.button.button_size"></dx-number-box>
          </div>
        </div>
        <div class="dx-field">
          <div class="dx-field-label">Button Border Width</div>
          <div class="dx-field-value">
              <dx-number-box [(value)]="component.button.button_border"></dx-number-box>
          </div>
        </div>
        <div class="dx-field">
          <div class="dx-field-label">Button Margin Top (%)</div>
          <div class="dx-field-value">
            <dx-number-box [(value)]="component.button.button_margin_top"></dx-number-box>
          </div>
        </div>
        <div class="dx-field">
          <div class="dx-field-label">Button Margin Left (%)</div>
          <div class="dx-field-value">
            <dx-number-box [(value)]="component.button.button_margin_left"></dx-number-box>
          </div>
        </div>
        <div class="dx-field">
          <div class="dx-field-label">URL</div>
          <div class="dx-field-value">
            <dx-select-box #imageclickable
              [value]="component.button.link_external ? 'External Link' : 'Internal Link'"
              [items]="['External Link', 'Internal Link', 'Product Link']"
              (onValueChanged)="onSelectionChanged($event)"
              [searchEnabled]="true"></dx-select-box>
          </div>
        </div>
        <ng-container *ngIf="imageclickable.value=='External Link'">
          <div class="dx-field">
            <div class="dx-field-label">On Click URL</div>
            <div class="dx-field-value">
              <dx-text-box [(value)]="component.button.link.link"></dx-text-box>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="imageclickable.value=='Internal Link'">
          <div class="dx-field">
            <div class="dx-field-label">On Click URL</div>
            <div class="dx-field-value">
              <dx-text-box [(value)]="component.button.link.label" style="width: 90%; float: left"></dx-text-box>
              <dx-button style="float: right" [icon]="'add'" (onClick)="displayPageSelection('link', component.button)"></dx-button>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="imageclickable.value=='Product Link'">
          <div class="dx-field">
            <div class="dx-field-label">On Click URL</div>
            <div class="dx-field-value">
              <dx-text-box [(value)]="component.button.link.label" style="width: 90%; float: left"></dx-text-box>
              <dx-button style="float: right" [icon]="'add'" (onClick)="displayProductSelection('link', component.button)"></dx-button>
            </div>
          </div>
        </ng-container>

        <div class="dx-field">
          <div class="dx-field-label">Background Area </div>
          <div class="dx-field-value">
            <dx-color-box [(value)]="component.button.button_area" [showClearButton]="true" ></dx-color-box>
          </div>
        </div>
        <!--Button Link Popup-->
        <dx-popup
          [width]="500"
          [height]="650"
          [showTitle]="true"
          title="Select File"
          [dragEnabled]="false"
          [hideOnOutsideClick]="false"
          [(visible)]="pageSelectVisible"
          [showCloseButton]="true">

          <div class="row">
            <div class="col-12">
              <dx-select-box #page_type [items]="['Page', 'Product']"></dx-select-box>
            </div>
            <div class="col-12">
              <dx-list
                *ngIf="page_type.value == 'Page'"
                height="400"
                [displayExpr]="'name'"
                [dataSource]="pageList | async"
                selectionMode="single"
                [showSelectionControls]="true"
                [showScrollbar]="'always'"
                [(selectedItems)]="selectedPage">
              </dx-list>
              <dx-list
                *ngIf="page_type.value == 'Product'"
                height="400"
                [displayExpr]="'title'"
                [dataSource]="productList | async"
                selectionMode="single"
                [showSelectionControls]="true"
                [showScrollbar]="'always'"
                [(selectedItems)]="selectedProduct">
              </dx-list>
            </div>
          </div>
          <div class="row d-flex mt-5 justify-content-around" style="margin: 0 auto;">
            <div class="col-lg-6 text-center">
              <dx-button *ngIf="page_type.value == 'Page'" width="100" stylingMode="contained" text="Save" type="default" (onClick)="selectPage($event)"></dx-button>
              <dx-button *ngIf="page_type.value == 'Product'" width="100" stylingMode="contained" text="Save" type="default" (onClick)="selectProduct($event)"></dx-button>
            </div>
            <div class="col-lg-6 text-center">
              <dx-button width="100" stylingMode="contained" text="Cancel" type="default" (onClick)="closePageWindow()"></dx-button>
            </div>
          </div>
        </dx-popup>
      </dx-scroll-view>
      <div class="row d-flex my-5 justify-content-around">
        <div class="col-lg-6 text-center">
          <dx-button width="100" stylingMode="contained" text="Save" type="default" (onClick)="viewConfig = false"></dx-button>
        </div>
        <div class="col-lg-6 text-center">
          <dx-button width="100" stylingMode="contained" text="Cancel" type="default" (onClick)="resetForm()"></dx-button>
        </div>
      </div>
    </dx-popup>
</ng-container>




<!--Button Display-->
<ng-container *ngIf="view == 'display' || view == 'preview'">
  <div [ngStyle]="button_area">
    <button type="button" [ngStyle]="button_component" class="{{component.button.button_style}}" (click)="selectItem(component.button)">{{component.button.button_name}}</button>
  </div>
</ng-container>


