<div class="container-fluid" id="card-display-container">
    <div id="script_anchor"></div>
    <ng-template [ngIf] = "loading | async">
      <ng-template [ngIf]="currentForm != null">
          <div class="card" id="section-display"  [style.background-color]="currentForm.form_color">
            <div class="section-body">
              <app-form-header-view [view]="mode" [form]="currentForm"></app-form-header-view>
              <app-form-body-view [view]="mode" [form]="currentForm"></app-form-body-view>
            </div>
          </div>
      </ng-template>
    </ng-template>
  </div>
