<div class="content-block responsive-paddings">
  <dx-toolbar class="content-list__header py-2">
    <dxi-item location="before" locateInMenu="never">
      <div *dxTemplate>
        <h2 class="content-block responsive-paddings underline">{{itemType}}s</h2>
      </div>
    </dxi-item>
    <dxi-item
      location="after"
      widget="dxButton"
      [options]="{
        hint: 'ADD ' + itemType | uppercase,
        type: 'default',
        text: 'ADD ' + itemType | uppercase,
        stylingMode: 'contained',
        onClick: showAddModal
      }"
    ></dxi-item>
  </dx-toolbar>
</div>

<dx-data-grid class="dx-card wide-card"
  #grid
  [dataSource]="datasource$ | async"
  [height]="'75vh'"
  [showBorders]="false"
  [showColumnLines]="true"
  [showColumnLines]="true"
  [showRowLines]="true"
  [focusedRowEnabled]="true"
  [columnAutoWidth]="true">

  <dxo-scrolling mode="virtual"></dxo-scrolling>
  <dxo-filter-row [visible]="true"></dxo-filter-row>

  <dxi-column dataField="firstName"></dxi-column>
  <dxi-column dataField="lastName"></dxi-column>
  <dxi-column dataField="email"></dxi-column>
  <dxi-column dataField="phone.countryCode" [caption]="'Country Code'" [visible]="false"></dxi-column>
  <dxi-column dataField="phone.number" [caption]="'Number'" cellTemplate="phoneNumberCellTemplate"></dxi-column>
  <dxi-column dataField="phone.type" [caption]="'Type'"  [visible]="false">
    <dxo-lookup [dataSource]="phone_types"></dxo-lookup>
  </dxi-column>
  <dxi-column dataField="churchName"></dxi-column>
  <dxi-column dataField="country" [visible]="false"></dxi-column>
  <dxi-column dataField="commitment" [dataType]="'number'" [visible]="false"></dxi-column>
  <dxi-column dataField="readiness" [dataType]="'number'" [visible]="false"></dxi-column>
  <dxi-column dataField="strategyDescription" [visible]="false"></dxi-column>
  <dxi-column dataField="teamDescription" [visible]="false"></dxi-column>
  <dxi-column dataField="communicationDescription" [visible]="false"></dxi-column>
  <dxi-column dataField="resourceDescription" [visible]="false"></dxi-column>
  <dxi-column dataField="resultsDescription" [visible]="false"></dxi-column>
  <dxi-column dataField="supportDescription" [visible]="false"></dxi-column>
  <dxi-column dataField="date" [dataType]="'date'" [visible]="false"></dxi-column>
  <dxi-column type="buttons" caption="Actions" [allowReordering]="false">
    <dxi-button icon="edit" hint="EDIT" [onClick]="showEditModal"></dxi-button>
    <dxi-button icon="trash" hint="DELETE" [onClick]="delete"></dxi-button>
  </dxi-column>

  <div *dxTemplate="let cell of 'phoneNumberCellTemplate'">
    <div class="">
      {{ (cell.data?.phone?.countryCode ? "+" + cell.data?.phone?.countryCode : '')}} {{cell.data.phone? ((cell.data.phone | phoneNumberMask : false)) : '' }}
    </div>
  </div>
</dx-data-grid>

<dx-popup
  [showTitle]="true"
  [dragEnabled]="false"
  [visible]="isVisible$ | async"
  [width]="'60%'"
  [height]="'80%'"
  [showCloseButton]="true"
  (onHiding)="onCancel()">
  <dxi-toolbar-item toolbar="top" location="center">
    <div *dxTemplate>
      <p class="popup-title">
        {{ selectedItem?.id ? 'EDIT' : 'ADD' }} {{itemType | uppercase}}
      </p>
    </div>
  </dxi-toolbar-item>
  <div *dxTemplate="let data of 'content'">
    <div class="add-item-modal">
      <dx-scroll-view height="90%">
        <div class="add-item-modal__content" *ngIf="isVisible$ | async">
          <dx-form
            #addEditForm
            [(formData)]="selectedItem"
            [showColonAfterLabel]="false"
            labelLocation="left"
            [colCount]="1">
            <dxi-item itemType="group" [colCount]="4" [colSpan]="1">
              <dxi-item dataField="firstName" [colSpan]="2"></dxi-item>
              <dxi-item dataField="lastName" [colSpan]="2"></dxi-item>
              <dxi-item dataField="email" [colSpan]="4"></dxi-item>
            </dxi-item>
            <dxi-item itemType="group" caption="Contact Information" [colCount]="6" [colSpan]="1">
              <dxi-item dataField="phone.countryCode" [colSpan]="2" [label]="{text: 'Country Code'}"></dxi-item>
              <dxi-item dataField="phone.number" [colSpan]="2" [label]="{text: 'Number'}" [editorOptions]="phoneEditorOptions"></dxi-item>
              <dxi-item dataField="phone.type" [colSpan]="2" [label]="{text: 'Type'}">
                <div *dxTemplate>
                  <dx-select-box [value]="'phone.type'" [dataSource]="phone_types"></dx-select-box>
                </div>
              </dxi-item>
            </dxi-item>
            <dxi-item itemType="group" [colCount]="4" [colSpan]="1">
              <dxi-item dataField="churchName" [colSpan]="2"></dxi-item>
              <dxi-item dataField="country" [colSpan]="2"></dxi-item>
              <dxi-item dataField="commitment" [colSpan]="2"></dxi-item>
              <dxi-item dataField="readiness" [colSpan]="2"></dxi-item>
              <dxi-item dataField="strategyDescription" [colSpan]="4" [editorType]="'dxTextArea'" [editorOptions]="{ height: 150 }"></dxi-item>
              <dxi-item dataField="teamDescription" [colSpan]="4" [editorType]="'dxTextArea'" [editorOptions]="{ height: 150 }"></dxi-item>
              <dxi-item dataField="communicationDescription" [colSpan]="4" [editorType]="'dxTextArea'" [editorOptions]="{ height: 150 }"></dxi-item>
              <dxi-item dataField="resourceDescription" [colSpan]="4" [editorType]="'dxTextArea'" [editorOptions]="{ height: 150 }"></dxi-item>
              <dxi-item dataField="resultsDescription" [colSpan]="4" [editorType]="'dxTextArea'" [editorOptions]="{ height: 150 }"></dxi-item>
              <dxi-item dataField="supportDescription" [colSpan]="4" [editorType]="'dxTextArea'" [editorOptions]="{ height: 150 }"></dxi-item>
            </dxi-item>
          </dx-form>
        </div>
      </dx-scroll-view>
      <div class="add-item-modal__button-group" style="bottom: 10px; right: 10px; position: fixed;">
        <dx-button
          text="CANCEL"
          stylingMode="contained"
          type="normal"
          [disabled]="inProgress$ | async"
          (onClick)="onCancel()">
        </dx-button>
        <app-indicator-button
          [isInProgress]="inProgress$ | async"
          [title]="'SAVE'"
          [disabled]="inProgress$ | async"
          (onClick)="onSave(selectedItem)">
        </app-indicator-button>
      </div>
    </div>
  </div>
</dx-popup>


