<ng-container *ngIf="view=='edit'">
  <div class="dx-fieldset">
    <div class="dx-fieldset-header align-middle">Form Content
      <span style="float: right;">
        <button class="btn btn-primary mr-3" id="edit-component-buttons" (click)="addrow()">Add Row</button>
      </span>
    </div>

    <dx-sortable
      id="list"
      [itemOrientation]="'vertical'"
      [dragDirection]="'vertical'"
      handle=".list-title"
      (onReorder)="onListReorder($event)">
        <div *ngFor="let row of form.rows; let r = index" class="mb-5">
          <div class="list-title row d-flex" id="card-row">
            <div><p>Row {{r + 1}}</p></div>
            <div class=""><p>Row Height</p></div>
            <dx-number-box [(ngModel)]="row.row_height" [height]="30"></dx-number-box>
            <p>Distribution</p>
            <dx-select-box  [searchEnabled]="true" #distribution [items]="['Even', 'Offset']" [(ngModel)]="row.distribution"></dx-select-box>
            <button class="btn component-button ml-3" (click)="addform(r)">Add Input</button>
            <button class="btn component-button mr-3 " (click)="deleterow(r)">Delete Row</button>
          </div>
          <div class="row component-drop-row" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="slide($event, row.inputs)">
            <div class="col  component-drop" *ngFor="let input of row.inputs; let c = index" cdkDrag>
              <div class="row d-flex" id="component-row">
                <span><h4 style="color:white; margin-top: 5px;">Input {{c + 1}}</h4></span>
                <span><dx-button [icon]="'close'" (onClick)="deleteform(r, c)"></dx-button></span>
              </div>
              <div class="form">
                <div class="dx-field m-2">
                  <div class="dx-field-label">Input Type</div>
                  <div class="dx-field-value">
                    <dx-select-box  [searchEnabled]="true" #inputSelect [items]="inputTypes" [(ngModel)]="input.input_type" class="component-type-select"></dx-select-box>
                  </div>
                </div>
                <ng-template [ngIf]="distribution.value == 'Offset'">
                  <div class="dx-field m-2">
                    <div class="dx-field-label">
                      Column Span
                      <i class="mdi mdi-help-circle"
                        id="helpIcon"
                        (mouseenter)="toggleHelp()"
                        (mouseleave)="toggleHelp()">
                      </i>
                      <dx-tooltip
                        target="#helpIcon"
                        [(visible)]="helpVisible"
                        [hideOnOutsideClick]="false">
                      <div *dxTemplate="let data = data of 'content'">
                          Width of Column in Row. (Based on all columns totaling 12).
                      </div>
                  </dx-tooltip></div>
                    <div class="dx-field-value">
                      <dx-select-box  [searchEnabled]="true" [items]="[12,11,10,9,8,7,6,5,4,3,2,1]" [(ngModel)]="input.span" [selectedItem]="12"></dx-select-box>
                    </div>
                  </div>
                </ng-template>

                <ng-template [ngIf]="inputSelect.value == 'Text'">
                  <app-text [view]="view" [input]="input"></app-text>
                </ng-template>
                <ng-template [ngIf]="inputSelect.value == 'Text Area'">
                  <app-textarea [view]="view" [input]="input"></app-textarea>
                </ng-template>
                <ng-template [ngIf]="inputSelect.value == 'Select'">
                  <app-select [view]="view" [input]="input"></app-select>
                </ng-template>
                <ng-template [ngIf]="inputSelect.value == 'Boolean'">
                  <app-boolean [view]="view" [input]="input"></app-boolean>
                </ng-template>
                <ng-template [ngIf]="inputSelect.value == 'Date'">
                  <app-date [view]="view" [input]="input"></app-date>
                </ng-template>
                <ng-template [ngIf]="inputSelect.value == 'Date Time'">
                  <app-date-time [view]="view" [input]="input"></app-date-time>
                </ng-template>
                <ng-template [ngIf]="inputSelect.value == 'Multiple Checkbox'">
                  <app-multiple-checkbox [view]="view" [input]="input"></app-multiple-checkbox>
                </ng-template>
                <ng-template [ngIf]="inputSelect.value == 'Single Checkbox'">
                  <app-single-checkbox [view]="view" [input]="input"></app-single-checkbox>
                </ng-template>
                <ng-template [ngIf]="inputSelect.value == 'Number'">
                  <app-number [view]="view" [input]="input"></app-number>
                </ng-template>
                <ng-template [ngIf]="inputSelect.value == 'Radio Buttons'">
                  <app-radio-buttons [view]="view" [input]="input"></app-radio-buttons>
                </ng-template>
              </div>
            </div>
        </div>
      </div>
    </dx-sortable>
  </div>
  <hr color="#091D45" width="100%"/>
</ng-container>

<ng-container *ngIf="view == 'display' || view == 'preview'">
  <form action="your-action" (submit)="saveForm($event)">
    <ng-container *ngFor="let row of form.rows; let r = index">
      <div class="row justify-content-center" id="body-view-row" [style.height]="row.row_height + 'px'" >
        <ng-container *ngFor="let input of row.inputs; let c = index">
          <div class="col-{{row.distribution == 'Even'? 12/row.inputs.length : input.span}}">
            <div class="card-body">
              <ng-template [ngIf]="input.input_type=='Text'">
                <app-text [view]="'display'" [input]="input" [form]="form" [col_count]="row.inputs.length" [formToSubmit]="formToSubmit"></app-text>
              </ng-template>
              <ng-template [ngIf]="input.input_type=='Text Area'">
                <app-textarea [view]="'display'" [input]="input" [form]="form" [col_count]="row.inputs.length" [formToSubmit]="formToSubmit"></app-textarea>
              </ng-template>
              <ng-template [ngIf]="input.input_type=='Select'">
                <app-select [view]="'display'" [input]="input" [form]="form" [col_count]="row.inputs.length" [formToSubmit]="formToSubmit"></app-select>
              </ng-template>
              <ng-template [ngIf]="input.input_type=='Boolean'">
                <app-boolean [view]="'display'" [input]="input" [form]="form"  [col_count]="row.inputs.length" [formToSubmit]="formToSubmit"></app-boolean>
              </ng-template>
              <ng-template [ngIf]="input.input_type=='Date'">
                <app-date [view]="'display'" [input]="input" [form]="form"  [col_count]="row.inputs.length" [formToSubmit]="formToSubmit"></app-date>
              </ng-template>
              <ng-template [ngIf]="input.input_type=='Date Time'">
                <app-date-time [view]="'display'" [input]="input" [form]="form"  [col_count]="row.inputs.length" [formToSubmit]="formToSubmit"></app-date-time>
              </ng-template>
              <ng-template [ngIf]="input.input_type=='Multiple Checkbox'">
                <app-multiple-checkbox [view]="'display'" [input]="input" [form]="form"  [col_count]="row.inputs.length" [formToSubmit]="formToSubmit"></app-multiple-checkbox>
              </ng-template>
              <ng-template [ngIf]="input.input_type=='Single Checkbox'">
                <app-single-checkbox [view]="'display'" [input]="input" [form]="form"  [col_count]="row.inputs.length" [formToSubmit]="formToSubmit"></app-single-checkbox>
              </ng-template>
              <ng-template [ngIf]="input.input_type=='Number'">
                <app-number [view]="'display'" [input]="input" [form]="form"  [col_count]="row.inputs.length" [formToSubmit]="formToSubmit"></app-number>
              </ng-template>
              <ng-template [ngIf]="input.input_type=='Radio Buttons'">
                <app-radio-buttons [view]="'display'" [input]="input" [form]="form"  [col_count]="row.inputs.length" [formToSubmit]="formToSubmit"></app-radio-buttons>
              </ng-template>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
    <ng-container *ngIf="form.button.position == 'left'">
      <div class="row" style="float: left; margin-left: 8px;">
        <div class="col-12 mb-1 d-flex justify-content-around" [ngStyle]="button_area">
          <dx-button
            id="button"
            class="{{form.button.button_style}}"
            [ngStyle]="button_component"
            text="{{form.button.button_name}}"
            [useSubmitBehavior]="true">
          </dx-button>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="form.button.position == 'center'">
      <div class="row">
        <div class="col-12 mb-1 d-flex justify-content-around" [ngStyle]="button_area">
          <dx-button
            id="button"
            class="{{form.button.button_style}}"
            [ngStyle]="button_component"
            text="{{form.button.button_name}}"
            [useSubmitBehavior]="true">
          </dx-button>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="form.button.position == 'right'">
      <div class="row"  style="float: right; margin-right: 8px;">
        <div class="col-12 mb-1 d-flex justify-content-around" [ngStyle]="button_area">
          <dx-button
            id="button"
            class="{{form.button.button_style}}"
            [ngStyle]="button_component"
            text="{{form.button.button_name}}"
            [useSubmitBehavior]="true">
          </dx-button>
        </div>
      </div>
    </ng-container>
</form>
</ng-container>
