<div class="content-block responsive-paddings">
  <dx-toolbar class="content-list__header py-2">
    <dxi-item location="before" locateInMenu="never">
      <div *dxTemplate>
        <h2 class="content-block responsive-paddings underline">{{itemType}}s</h2>
      </div>
    </dxi-item>
    <dxi-item
      location="after"
      widget="dxButton"
      [options]="{
        hint: 'ADD ' + itemType | uppercase,
        type: 'default',
        text: 'ADD ' + itemType | uppercase,
        stylingMode: 'contained',
        onClick: showAddModal
      }"
    ></dxi-item>
  </dx-toolbar>
</div>

<dx-data-grid class="dx-card wide-card"
  #grid
  [dataSource]="datasource$ | async"
  [height]="'75vh'"
  [showBorders]="false"
  [showColumnLines]="true"
  [showColumnLines]="true"
  [showRowLines]="true"
  [focusedRowEnabled]="true"
  [columnAutoWidth]="true">

  <dxo-scrolling mode="virtual"></dxo-scrolling>
  <dxo-filter-row [visible]="true"></dxo-filter-row>

  <dxi-column dataField="eventCoordinator" [caption]="'Coordinator'"></dxi-column>
  <dxi-column dataField="preferredLocationName" [caption]="'Location Name'"></dxi-column>
  <dxi-column dataField="requestedDate" [dataType]="'date'" [caption]="'Date'"></dxi-column>
  <dxi-column dataField="requestedStartTime" [dataType]="'time'" [caption]="'Start Time'" cellTemplate="startTimeCellTemplate"></dxi-column>
  <dxi-column dataField="requestedEndTime" [dataType]="'time'" [caption]="'End Time'" cellTemplate="endTimeCellTemplate"></dxi-column>
  <dxi-column dataField="email"></dxi-column>
  <dxi-column dataField="preferredTrainer" [caption]="'Trainer'" [visible]="false"></dxi-column>
  <dxi-column dataField="preferredLocation.address1" [caption]="'Address 1'" [visible]="false"></dxi-column>
  <dxi-column dataField="preferredLocation.address2" [caption]="'Address 2'" [visible]="false"></dxi-column>
  <dxi-column dataField="preferredLocation.city" [caption]="'City'" [visible]="false"></dxi-column>
  <dxi-column dataField="preferredLocation.state" [caption]="'State'" [visible]="false"></dxi-column>
  <dxi-column dataField="preferredLocation.zip" [caption]="'Zip'" [visible]="false"></dxi-column>
  <dxi-column dataField="phone.countryCode" [caption]="'Country Code'" [visible]="false"></dxi-column>
  <dxi-column dataField="phone.number" [caption]="'Number'" [editorOptions]="{ mask: '(000) 000-0000' }" cellTemplate="phoneNumberCellTemplate" [visible]="false"></dxi-column>
  <dxi-column dataField="phone.type" [caption]="'Type'" [visible]="false">
    <dxo-lookup [dataSource]="phone_types"></dxo-lookup>
  </dxi-column>
  <dxi-column dataField="hasProjectingDevice" [visible]="false"></dxi-column>
  <dxi-column dataField="volunteersAvailable" [visible]="false"></dxi-column>
  <dxi-column dataField="isPrivateEvent" [visible]="false"></dxi-column>
  <dxi-column dataField="isPersonalRegistration" [visible]="false"></dxi-column>
  <dxi-column dataField="requestedTicketPrice" [visible]="false"></dxi-column>
  <dxi-column dataField="isLunchProvided" [visible]="false"></dxi-column>
  <dxi-column dataField="isLunchIncluded" [visible]="false"></dxi-column>
  <dxi-column dataField="comments" [visible]="false"></dxi-column>
  <dxi-column type="buttons" caption="Actions" [allowReordering]="false">
    <dxi-button icon="edit" hint="EDIT" [onClick]="showEditModal"></dxi-button>
    <dxi-button icon="trash" hint="DELETE" [onClick]="delete"></dxi-button>
  </dxi-column>

  <div *dxTemplate="let cell of 'phoneNumberCellTemplate'">
    <div class="">
      {{ cell.data.phone | phoneNumberMask : false }}
    </div>
  </div>

  <div *dxTemplate="let cell of 'startTimeCellTemplate'">
    <div class="">
      {{ cell.data.requestedStartTime | date : 'HH:mm'}}
    </div>
  </div>

  <div *dxTemplate="let cell of 'endTimeCellTemplate'">
    <div class="">
      {{ cell.data.requestedEndTime | date : 'HH:mm'}}
    </div>
  </div>
</dx-data-grid>

<dx-popup
  [showTitle]="true"
  [dragEnabled]="false"
  [visible]="isVisible$ | async"
  [width]="'60%'"
  [height]="'80%'"
  [showCloseButton]="true"
  (onHiding)="onCancel()">
  <dxi-toolbar-item toolbar="top" location="center">
    <div *dxTemplate>
      <p class="popup-title">
        {{ selectedItem?.id ? 'EDIT' : 'ADD' }} {{itemType | uppercase}}
      </p>
    </div>
  </dxi-toolbar-item>
  <div *dxTemplate="let data of 'content'">
    <div class="add-item-modal">
      <dx-scroll-view height="90%">
        <div class="add-item-modal__content">
          <dx-form
            #addEditForm
            [(formData)]="selectedItem"
            [showColonAfterLabel]="false"
            labelLocation="left">
          <dxi-item dataField="preferredTrainer" [colSpan]="1"></dxi-item>
          <dxi-item itemType="group" caption="Information" [colCount]="3" [colSpan]="1">
            <dxi-item
              dataField="requestedDate"
              editorType="dxDateBox"
              [label]="{ text: 'Date' }"
              [editorOptions]="{
                displayFormat: 'M/d/yyyy',
                type: 'date',
                useMaskBehavior: true
              }">
            </dxi-item>
            <dxi-item
              dataField="requestedStartTime"
              editorType="dxDateBox"
              [label]="{ text: 'Start Time' }"
              [editorOptions]="{
                displayFormat: 'HH:mm',
                type: 'time',
                useMaskBehavior: true
              }">
            </dxi-item>
            <dxi-item
              dataField="requestedEndTime"
              editorType="dxDateBox"
              [label]="{ text: 'End Time' }"
              [editorOptions]="{
                displayFormat: 'HH:mm',
                type: 'time',
                useMaskBehavior: true
              }">
            </dxi-item>
          </dxi-item>
          <dxi-item itemType="group" caption="Address" [colCount]="6" [colSpan]="1">
            <dxi-item dataField="preferredLocationName" [colSpan]="6" [label]="{text: 'Location Name'}"></dxi-item>
            <dxi-item dataField="preferredLocation.address1" [colSpan]="6" [label]="{text: 'Address1'}"></dxi-item>
            <dxi-item dataField="preferredLocation.address2" [colSpan]="6" [label]="{text: 'Address2'}"></dxi-item>
            <dxi-item dataField="preferredLocation.city" [colSpan]="3" [label]="{text: 'City'}"></dxi-item>
            <dxi-item dataField="preferredLocation.state" [colSpan]="2" [label]="{text: 'State'}"></dxi-item>
            <dxi-item dataField="preferredLocation.zip" [colSpan]="1" [label]="{text: 'Zip'}"></dxi-item>
          </dxi-item>
          <dxi-item itemType="group" caption="Contact Information" [colCount]="6" [colSpan]="1">
            <dxi-item dataField="eventCoordinator" [colSpan]="6" [label]="{text: 'Coordinator'}"></dxi-item>
            <dxi-item dataField="email" [colSpan]="6"></dxi-item>
            <dxi-item dataField="phone.countryCode" [colSpan]="2" [label]="{text: 'Countyr Code'}"></dxi-item>
            <dxi-item dataField="phone.number" [colSpan]="2" [label]="{text: 'Number'}" [editorOptions]="phoneEditorOptions"></dxi-item>
            <dxi-item dataField="phone.type" [colSpan]="2" [label]="{text: 'Type'}">
              <div *dxTemplate>
                <dx-select-box [(value)]="selectedItem.phone.type" [dataSource]="phone_types"></dx-select-box>
              </div>
            </dxi-item>
          </dxi-item>
          <dxi-item itemType="group" [colCount]="4" [colSpan]="1">
            <dxi-item dataField="hasProjectingDevice" [colSpan]="2" [editorType]="'dxSwitch'" [editorOptions]="{ switchedOnText: 'Yes', switchedOffText: 'No' }"></dxi-item>
            <dxi-item dataField="volunteersAvailable" [colSpan]="2" [editorType]="'dxSwitch'" [editorOptions]="{ switchedOnText: 'Yes', switchedOffText: 'No' }"></dxi-item>
            <dxi-item dataField="isPrivateEvent" [colSpan]="2" [editorType]="'dxSwitch'" [editorOptions]="{ switchedOnText: 'Yes', switchedOffText: 'No' }"></dxi-item>
            <dxi-item dataField="isPersonalRegistration" [colSpan]="2" [editorType]="'dxSwitch'" [editorOptions]="{ switchedOnText: 'Yes', switchedOffText: 'No' }"></dxi-item>
            <dxi-item dataField="requestedTicketPrice" [colSpan]="2"></dxi-item>
            <dxi-item dataField="isLunchProvided" [colSpan]="2" [editorType]="'dxSwitch'" [editorOptions]="{ switchedOnText: 'Yes', switchedOffText: 'No' }"></dxi-item>
            <dxi-item dataField="isLunchIncluded" [colSpan]="4" [editorType]="'dxSwitch'" [editorOptions]="{ switchedOnText: 'Yes', switchedOffText: 'No' }"></dxi-item>
            <dxi-item dataField="comments" [colSpan]="4" [editorType]="'dxTextArea'" [editorOptions]="{ height: 150 }"></dxi-item>
          </dxi-item>
          </dx-form>
        </div>
      </dx-scroll-view>
      <div class="add-item-modal__button-group" style="bottom: 10px; right: 10px; position: fixed;">
        <dx-button
          text="CANCEL"
          stylingMode="contained"
          type="normal"
          [disabled]="inProgress$ | async"
          (onClick)="onCancel()">
        </dx-button>
        <app-indicator-button
          [isInProgress]="inProgress$ | async"
          [title]="'SAVE'"
          [disabled]="inProgress$ | async"
          (onClick)="onSave(selectedItem)">
        </app-indicator-button>
      </div>
    </div>
  </div>
</dx-popup>
