<div class="content-block responsive-paddings">
  <dx-toolbar class="content-list__header py-2 px-2">
    <dxi-item location="before" locateInMenu="never">
      <div *dxTemplate>
        <h2 class="content-block responsive-paddings underline">{{itemType}}</h2>
      </div>
    </dxi-item>
    <dxi-item location="after">
      <div *dxTemplate>
        <dx-button class="icon-button manage-button" hint="MANAGE ROOMS">
          <div *dxTemplate="let data of 'content'">
            <div class="d-flex">
              <i class="dx-icon-preferences"></i>
            </div>
            <dx-context-menu
              target=".manage-button"
              showEvent="dxclick"
              [position]="{ my: { x: 'center', y: 'top' }, at: 'left bottom' }">
              <dxi-item text="New" icon="add" [onClick]="showAddModal"></dxi-item>
            </dx-context-menu>
          </div>
        </dx-button>
      </div>
    </dxi-item>
  </dx-toolbar>
</div>

<dx-data-grid class="dx-card wide-card"
  #grid
  [dataSource]="trainingRooms"
  [height]="'23vh'"
  [showBorders]="false"
  [showColumnLines]="true"
  [showColumnLines]="true"
  [showRowLines]="true"
  [columnAutoWidth]="true">

  <dxo-scrolling mode="virtual"></dxo-scrolling>

  <dxi-column dataField="name"></dxi-column>
  <dxi-column dataField="capacity" [dataType]="'number'"></dxi-column>
  <dxi-column type="buttons" caption="Actions" [allowReordering]="false">
    <dxi-button icon="edit" hint="EDIT" [onClick]="showEditModal"></dxi-button>
    <dxi-button icon="trash" hint="DELETE" [onClick]="delete"></dxi-button>
  </dxi-column>
</dx-data-grid>

<dx-popup
  [showTitle]="true"
  [dragEnabled]="false"
  [visible]="isVisible$ | async"
  height="20%"
  width="25%"
  [showCloseButton]="true"
  (onHiding)="onCancel()">
  <dxi-toolbar-item toolbar="top" location="center">
    <div *dxTemplate>
      <p class="popup-title">
        {{ selectedItem?.id ? 'EDIT' : 'ADD' }} {{itemType | uppercase}}
      </p>
    </div>
  </dxi-toolbar-item>
  <div *dxTemplate="let data of 'content'">
    <div class="add-item-modal">
      <div class="add-item-modal__content" *ngIf="isVisible$ | async">
        <dx-form
          #addEditForm
          [(formData)]="selectedItem"
          [showColonAfterLabel]="false"
          labelLocation="left"
          [colCount]="2">
          <dxi-item dataField="name" [colSpan]="1"></dxi-item>
          <dxi-item dataField="name" [colSpan]="1">
            <div *dxTemplate>
              <dx-number-box [(value)]="selectedItem.capacity"></dx-number-box>
            </div>
          </dxi-item>
        </dx-form>
      </div>
      <div class="add-item-modal__button-group">
        <dx-button
          text="CANCEL"
          stylingMode="contained"
          type="normal"
          [disabled]="inProgress$ | async"
          (onClick)="onCancel()">
        </dx-button>
        <app-indicator-button
          [isInProgress]="inProgress$ | async"
          [title]="'SAVE'"
          [disabled]="inProgress$ | async"
          (onClick)="onSave(selectedItem)">
        </app-indicator-button>
      </div>
    </div>
  </div>
</dx-popup>
