<h2 class="content-block">Application Logs</h2>
<div class="content-block">
  <dx-data-grid class="dx-card wide-card"
    #grid
    [dataSource]="dataSource | async"
    [width]="'100%'"
    [showBorders]="false"
    [focusedRowEnabled]="true"
    [columnAutoWidth]="true"
    [columnHidingEnabled]="true"
    (onRowUpdating)="onRowUpdating($event)">

    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
    <dxo-search-panel [visible]="true" placeholder="Search..."></dxo-search-panel>

    <dxi-column dataField="date" dataType="datetime" format="MM/dd/yyy"></dxi-column>
    <dxi-column dataField="type"></dxi-column>
    <dxi-column dataField="error_code"></dxi-column>
    <dxi-column dataField="message"></dxi-column>
  </dx-data-grid>
</div>
