<dx-tabs #apiTabs [dataSource]="tabs" [(selectedIndex)]="selectedIndex" (onItemClick)="selectTab($event)" ></dx-tabs>

<ng-template [ngIf]="selectedTab == 'Events'">
  <app-events></app-events>
</ng-template>

<ng-template [ngIf]="selectedTab == 'Coaches'">
  <app-coaches></app-coaches>
</ng-template>

<ng-template [ngIf]="selectedTab == 'Courses'">
  <app-courses></app-courses>
</ng-template>

<ng-template [ngIf]="selectedTab == 'Locations'">
  <app-locations></app-locations>
</ng-template>

<ng-template [ngIf]="selectedTab == 'Organizations'">
  <app-organizations></app-organizations>
</ng-template>

