<ng-container *ngIf="view=='edit'">
    <div class="mt-5 mb-5 text-center justify-content-around">
        <button class="btn btn-primary mr-3" id="edit-component-buttons" (click)="showPopup()">Configure Date Input</button>
    </div>
    <ng-container *ngIf="viewConfig">
        <dx-popup
            [width]="400"
            [height]="getScreenHeight()"
            [showTitle]="true"
            title="Configure Date Input"
            [dragEnabled]="true"
            [hideOnOutsideClick]="false"
            [(visible)]="viewConfig"
            [showCloseButton]="true">
            <dx-scroll-view [showScrollbar]="'true'" style="height:85%;">
                <div class="dx-field">
                        <div class="dx-field-label">Results Order</div>
                        <div class="dx-field-value">
                            <dx-text-box [(ngModel)]="input.result_order"></dx-text-box>
                        </div>
                    </div>
                    <div class="dx-field">
                        <div class="dx-field-label">Required</div>
                        <div class="dx-field-value">
                            <dx-select-box [(ngModel)]="input.required" [items]="[true, false]"></dx-select-box>
                        </div>
                    </div>
                    <div class="dx-field">
                        <div class="dx-field-label">Label</div>
                        <div class="dx-field-value">
                            <dx-text-box [(ngModel)]="input.date.label"></dx-text-box>
                        </div>
                    </div>
                    <div class="dx-field">
                        <div class="dx-field-label">Field Name</div>
                        <div class="dx-field-value">
                            <dx-text-box [(ngModel)]="input.date.field_name"></dx-text-box>
                        </div>
                    </div>
                </dx-scroll-view>
                <div class="row d-flex my-5 justify-content-around" style="margin: 0 auto;">
                    <div class="col-lg-6 text-center">
                      <dx-button width="100" stylingMode="contained" text="Save" type="default" (onClick)="viewConfig = false"></dx-button>
                    </div>
                    <div class="col-lg-6 text-center">
                      <dx-button width="100" stylingMode="contained" text="Cancel" type="default" (onClick)="resetForm()"></dx-button>
                    </div>
                  </div>
        </dx-popup>
    </ng-container>
</ng-container>


<!--Date Display-->
<ng-container *ngIf="view == 'display' || view == 'preview'">
    <ng-container *ngIf="form.position == 'top'">
        <label class="align-text-middle pt-2" for="{{input.date.label}}">{{input.date.label}}</label>
        <dx-date-box
            [(ngModel)]="formToSubmit[input.date.field_name]"
            type="date">
            <dx-validator>
                <dxi-validation-rule
                  type="required"
                  message="Field is required">
                </dxi-validation-rule>
              </dx-validator>
        </dx-date-box>
    </ng-container>
    <ng-container *ngIf="form.position == 'left'">
        <label style="float: left; width: 20%;" class="align-text-middle pt-2" for="{{input.date.label}}">{{input.date.label}}</label>
        <dx-date-box
            style="float: right; width: 80%;"
            [(ngModel)]="formToSubmit[input.date.field_name]"
            type="date">
            <dx-validator>
                <dxi-validation-rule
                  type="required"
                  message="Field is required">
                </dxi-validation-rule>
              </dx-validator>
        </dx-date-box>
    </ng-container>
    <ng-container *ngIf="form.position == 'placeholder'">
        <dx-date-box
            [(ngModel)]="formToSubmit[input.date.field_name]"
            [placeholder]="input.date.label"
            type="date">
            <dx-validator>
                <dxi-validation-rule
                  type="required"
                  message="Field is required">
                </dxi-validation-rule>
              </dx-validator>
        </dx-date-box>
    </ng-container>
</ng-container>
