
  <dx-scheduler
    timeZone="America/Los_Angeles"
    id="scheduler"
    [dataSource]="event.agendaItems"
    [currentDate]="currentDate"
    [startDayHour]="9"
    [width]="'83vw'"
    [timeZone]="'EST'"
    [editing]="true"
    appointmentTemplate="appointment-template"
    (onAppointmentFormOpening)="onAppointmentFormOpening($event)"
    [textExpr]="'name'">
    <dxi-resource
      fieldExpr="course"
      [useColorAsDefault]="true"
      [dataSource]="courses">
    </dxi-resource>
    <dxi-resource
      fieldExpr="coach"
      [useColorAsDefault]="true"
      [dataSource]="coaches">
    </dxi-resource>
    <dxi-view type="day" [intervalCount]="3"> </dxi-view>
    <div *dxTemplate="let model of 'appointment-template'">
      <div class="showtime-preview" *ngIf="model.targetedAppointmentData.isCourse">
        <div>Course: <strong>{{getCourseById(model.appointmentData.course)?.title}}</strong></div>
        <div *ngFor="let coach of model.targetedAppointmentData.coaches">
          Coach:  <strong>{{getCoachById(coach)?.fullname }}</strong>
        </div>
        <div>{{getCourseById(model.appointmentData.course)?.shortDescription}}</div>
        <div *ngIf="model.appointmentData.maxParticipants > 0">
          Capcacity Left: {{model.appointmentData.maxParticipants - (model.appointmentData.signedUp ? model.appointmentData.signedUp : 0)}}
        </div>
      </div>
      <div class="showtime-preview" *ngIf="!model.targetedAppointmentData.isCourse">
        <div><strong>{{model.appointmentData.text}}</strong></div>
        <div><strong>{{model.targetedAppointmentData.description }}</strong></div>
      </div>
      <div>
        <div class="dropdown-appointment-dates">
          {{
            (model.targetedAppointmentData?.displayStartDate | date : "shortTime") +
              " - " +
              (model.targetedAppointmentData?.displayEndDate | date : "shortTime")
          }}
        </div>
      </div>
    </div>
  </dx-scheduler>

