<div class="content-block">
  <dx-data-grid class="dx-card wide-card"
    #grid
    [dataSource]="dataSource"
    [width]="'100%'"
    [showBorders]="false"
    [focusedRowEnabled]="true"
    [columnAutoWidth]="true"
    [columnHidingEnabled]="true"
    [rowAlternationEnabled]="true"
    (onRowUpdating)="onRowUpdating($event)">

    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
    <dxo-filter-row [visible]="false"></dxo-filter-row>
    <dxo-header-filter [visible]="false"></dxo-header-filter>
    <dxo-search-panel
      [visible]="true"
      [width]="240"
      placeholder="Search...">
    </dxo-search-panel>
    <dxo-toolbar>
      <dxi-item location="before">
        <div *dxTemplate>
          <div class="toolbar-label">
            <b>Events</b>
          </div>
        </div>
      </dxi-item>

      <dxi-item name="addRowButton"></dxi-item>
      <dxi-item name="searchPanel"></dxi-item>
    </dxo-toolbar>
    <dxo-editing
      mode="popup"
      [allowAdding]="true"
      [allowUpdating]="true"
      [allowDeleting]="true">
      <dxo-popup
        title="Add/Edit Event"
        [showTitle]="true"
        [width]="600"
        [height]="400">
      </dxo-popup>
      <dxo-form [colCount]="1">
        <dxi-item itemType="group" caption="Event" [colCount]="2" [colSpan]="1">
          <dxi-item dataField="startDate" [colSpan]="1"></dxi-item>
          <dxi-item dataField="endDate" [colSpan]="1"></dxi-item>

          <dxi-item dataField="eventName" [colSpan]="2"></dxi-item>

          <dxi-item dataField="organization" [colSpan]="1"></dxi-item>
          <dxi-item dataField="location" [colSpan]="1"></dxi-item>
        </dxi-item>
      </dxo-form>
    </dxo-editing>

    <dxi-column dataField="startDate" [caption]="'From'" [dataType]="'datetime'"></dxi-column>
    <dxi-column dataField="endDate" [caption]="'To'" [dataType]="'datetime'"></dxi-column>
    <dxi-column dataField="eventName" [caption]="'Event Name'"></dxi-column>
    <dxi-column dataField="organization" [caption]="'Organization'">
      <dxo-lookup [dataSource]="organizations" displayExpr="name" valueExpr="id"></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="location" [caption]="'Location'">
      <dxo-lookup [dataSource]="locations" displayExpr="name" valueExpr="id"></dxo-lookup>
    </dxi-column>
    <dxi-column type="buttons" [width]="150" [fixed]="true" caption="Actions">
      <dxi-button icon="edit" hint="Edit Event Details" name="edit"></dxi-button>
      <dxi-button icon="orderedlist" hint="Edit Training Sessions" [onClick]="editSessions.bind(this)"></dxi-button>
      <dxi-button icon="event" hint="Edit Event Agenda" [onClick]="editAgenda.bind(this)"></dxi-button>
      <dxi-button icon="group" hint="View Event Atendees List" [onClick]="viewAttendees.bind(this)"></dxi-button>
      <dxi-button icon="trash" name="delete"></dxi-button>
    </dxi-column>
  </dx-data-grid>
</div>

<ng-container *ngIf="isEditVisible">
  <dx-popup
    [(visible)]="isEditVisible"
    [deferRendering]="true"
    [showCloseButton]="true"
    [resizeEnabled]="false"
    [toolbarItems]="[{ location: 'left', text: 'Add/Edit Event' }]">
    <app-event-sessions [event]="selectedEvent"></app-event-sessions>
  </dx-popup>
</ng-container>

<ng-container *ngIf="isAgendaVisible">
  <dx-popup
    [(visible)]="isAgendaVisible"
    [deferRendering]="true"
    [showCloseButton]="true"
    [resizeEnabled]="false"
    [toolbarItems]="[{ location: 'left', text: 'Add/Edit Agenda' }]">
    <app-event-agenda [event]="selectedEvent" (onCloseWindow)="isAgendaVisible = $event"></app-event-agenda>
  </dx-popup>
</ng-container>

<ng-container *ngIf="isSessionsVisible">
  <dx-popup
    [(visible)]="isSessionsVisible"
    [deferRendering]="true"
    [showCloseButton]="true"
    [resizeEnabled]="false"
    [toolbarItems]="[{ location: 'left', text: 'Add/Edit Agenda' }]">
    <app-event-sessions [event]="selectedEvent"></app-event-sessions>
  </dx-popup>
</ng-container>

<ng-container *ngIf="isAttendeesListVisible">
  <dx-popup
    [(visible)]="isAttendeesListVisible"
    [deferRendering]="true"
    [showCloseButton]="true"
    [resizeEnabled]="false"
    [toolbarItems]="[{ location: 'left', text: 'Add/Edit Attendee List' }]">
    <app-event-sessions [event]="selectedEvent"></app-event-sessions>
  </dx-popup>
</ng-container>


