<div class="header-container">
  <dx-toolbar>
    <dxi-item *ngIf="topNavService.current()?.level != 0" location="before" widget="dxButton" [options]="backButtonOptions">
    </dxi-item>
    <dxi-item location="center" widget="dxButton" locateInMenu="never">
      <div *dxTemplate>
        <div class="toolbar-label"><b>{{topNavService.current() ? topNavService.current()?.name : 'Home'}}</b></div>
      </div>
    </dxi-item>
  </dx-toolbar>
</div>
<div class="app-container">
  <router-outlet>
  </router-outlet>
</div>

<div class="footer-container">
  <dx-tabs
    #withIcon
    [width]="'auto'"
    [selectedIndex]="0"
    [rtlEnabled]="false"
    [scrollByContent]="false"
    [showNavButtons]="false"
    [dataSource]="tabsWithIcon"
    [orientation]="'horizontal'"
    [stylingMode]="'primary'"
    [iconPosition]="'top'"
    (onItemClick)="tabClicked($event)">
  </dx-tabs>
</div>
