.header-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height:50px;
}

.app-container{
  position: absolute;
  top: 51px;
}


.footer-container {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100vw;
}
