.header-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height:50px;
}

.app-container{
  position: absolute;
  top: 51px;
}


.footer-container {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100vw;
}

::ng-deep .popup-title {
  font-size: 16px;
  margin: 0;
}

::ng-deep .add-item-modal {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__button-group {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 10px;
    justify-content: flex-end;
    padding-top: 20px;

    .dx-button {
      width: 130px;
      height: 40px;
      text-transform: uppercase;

      .dx-button-content {
        padding: 10px 0;
      }
    }
  }
}


