<div class="content-block responsive-paddings">
  <dx-toolbar class="content-list__header py-2">
    <dxi-item location="before" locateInMenu="never">
      <div *dxTemplate>
        <h2 class="content-block responsive-paddings underline">{{itemType}}s</h2>
      </div>
    </dxi-item>
    <dxi-item
      location="after"
      widget="dxButton"
      [options]="{
        hint: 'ADD ' + itemType | uppercase,
        type: 'default',
        text: 'ADD ' + itemType | uppercase,
        stylingMode: 'contained',
        onClick: showAddModal
      }"
    ></dxi-item>
  </dx-toolbar>
</div>

<dx-data-grid class="dx-card wide-card"
  #grid
  [dataSource]="datasource$ | async"
  [height]="'75vh'"
  [showBorders]="true"
  [showColumnLines]="true"
  [showRowLines]="true"
  [focusedRowEnabled]="true"
  [columnAutoWidth]="true">

  <dxo-scrolling mode="virtual"></dxo-scrolling>
  <dxo-filter-row [visible]="true"></dxo-filter-row>

  <dxi-column dataField="thumbnail" [width]="120" cellTemplate="cellTemplate"></dxi-column>
  <dxi-column dataField="title"></dxi-column>
  <dxi-column dataField="date" [dataType]="'datetime'"></dxi-column>
  <dxi-column dataField="subject"></dxi-column>
  <dxi-column dataField="url" [visible]="false"></dxi-column>
  <dxi-column type="buttons" caption="Actions" [allowReordering]="false">
    <dxi-button icon="edit" hint="EDIT" [onClick]="showEditModal"></dxi-button>
    <dxi-button icon="trash" hint="DELETE" [onClick]="delete"></dxi-button>
  </dxi-column>

  <div *dxTemplate="let data of 'cellTemplate'">
    <img *ngIf="data?.value" width="100" [src]="data?.value?.url" [alt]="data?.value?.name"/>
  </div>
</dx-data-grid>

<dx-popup
  [showTitle]="true"
  [dragEnabled]="false"
  [visible]="isVisible$ | async"
  [width]="'60%'"
  [height]="'60%'"
  [showCloseButton]="true"
  (onHiding)="onCancel()"
>
  <dxi-toolbar-item toolbar="top" location="center">
    <div *dxTemplate>
      <p class="popup-title">
        {{ selectedItem?.id ? 'EDIT' : 'ADD' }} {{itemType | uppercase}}
      </p>
    </div>
  </dxi-toolbar-item>
  <div *dxTemplate="let data of 'content'">
    <div class="add-item-modal">
      <div class="add-item-modal__content" *ngIf="isVisible$ | async">
        <dx-form [colCount]="2" [(formData)]="selectedItem">
          <dxi-item dataField="title" [colSpan]="2"></dxi-item>
          <dxi-item dataField="subject" [colSpan]="2"></dxi-item>
          <dxi-item dataField="url" [colSpan]="2"></dxi-item>
          <dxi-item dataField="thumbnail.name" [colSpan]="2"></dxi-item>
        </dx-form>
        <div class="row pt-1">
          <div class="col-12"><b>Tags</b></div>
        </div>
        <div class="row pt-2">
          <div class="col-12">
            <dx-tag-box
              [dataSource]="blogTags"
              [(value)]="selectedItem.tags"
              [acceptCustomValue]="true"
              [searchEnabled]="true"
              [hideSelectedItems]="true"
              placeholder="Tag this Blog..."
              (onCustomItemCreating)="onCustomItemCreating($event)">
            </dx-tag-box>
          </div>
        </div>
      </div>
      <div class="add-item-modal__button-group pb-2">
        <dx-button
          text="Upload Main Image"
          width="250px"
          stylingMode="contained"
          type="normal"
          [disabled]="inProgress$ | async"
          (onClick)="showSingleImageModal()">
        </dx-button>
        <dx-button
          text="CANCEL"
          stylingMode="contained"
          type="normal"
          [disabled]="inProgress$ | async"
          (onClick)="onCancel()">
        </dx-button>
        <app-indicator-button
          [isInProgress]="inProgress$ | async"
          [title]="'SAVE'"
          [disabled]="inProgress$ | async"
          (onClick)="onSave(selectedItem)"
        ></app-indicator-button>
      </div>
    </div>
  </div>
</dx-popup>

<ng-container *ngIf="isSingleImageVisible$ | async">
  <app-image-uploader
    [card]="selectedItem"
    [isList]="false"
    [field]="'thumbnail'"
    [selectionMode]="'single'"
    [imageSelectVisible]="isSingleImageVisible$ | async"
    (imageSelectClosed)="closeSingleImageModal()">
  </app-image-uploader>
</ng-container>
