<div class="container-fluid">
    <div id="data-grid-demo">
        <dx-data-grid id="gridContainer" [dataSource]="dataSource" [showBorders]="true" [renderAsync]="true" (onRowUpdating)="onRowUpdating($event)" (onToolbarPreparing)="onToolbarPreparing($event)">

            <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
            <dxo-load-panel [enabled]="true"></dxo-load-panel>
            <dxo-scrolling mode="virtual"></dxo-scrolling>
            <dxo-editing mode="popup" [allowUpdating]="true" [allowDeleting]="true" [useIcons]="true">
                <dxo-popup title="Form Information" [showTitle]="true" [width]="700" [height]="getScreenHeight()">
                </dxo-popup>
            </dxo-editing>
            <dxo-sorting mode="multiple"></dxo-sorting>
            <dxi-column type="buttons" [width]="110" [fixed]="true">
                <dxi-button hint="Preview" icon="search" [visible]="true" [onClick]="displayFormPreview.bind(this)">
                </dxi-button>
                <dxi-button name="edit" [onClick]="displayFormEdit.bind(this)"></dxi-button>
                <dxi-button name="delete"></dxi-button>
            </dxi-column>
            <dxi-column dataField="name"></dxi-column>
            <dxi-column dataField="dbId"></dxi-column>
            <dxi-column type="buttons" [caption]="'Results'" [width]="75">
                <dxi-button hint="View Results" icon="box" [visible]="true" [onClick]="viewFormResults.bind(this)">
                </dxi-button>
            </dxi-column>
        </dx-data-grid>
    </div>

    <ng-container *ngIf="confirePublishFormVisible">
        <dx-popup [width]="300" [height]="250" [showTitle]="true" title="Publish Form Changes?" [dragEnabled]="false" [hideOnOutsideClick]="true" [(visible)]="confirePublishFormVisible">
            <p>Publishing this form will push all your changes into production. Are you sure you want to do this?</p>
            <div class="row d-flex mt-5 justify-content-around" style="margin: 0 auto;">
                <div class="col-lg-6 text-center">
                  <dx-button width="100" stylingMode="contained" text="Save" type="default" (onClick)="publishForm($event)"></dx-button>
                </div>
                <div class="col-lg-6 text-center">
                  <dx-button width="100" stylingMode="contained" text="Cancel" type="default" (onClick)="closePublishFormWarning()"></dx-button>
                </div>
              </div>
        </dx-popup>
    </ng-container>
