<dx-data-grid class="dx-card wide-card"
  #attendeeGrid
  [dataSource]="datasource$ | async"
  [height]="'50vh'"
  [showBorders]="false"
  [showColumnLines]="true"
  [showColumnLines]="true"
  [showRowLines]="true"
  [allowColumnReordering]="true"
  [allowColumnResizing]="true"
  [columnHidingEnabled]="true"
  [focusedRowEnabled]="true"
  [columnAutoWidth]="true">
  <dxo-state-storing
    [enabled]="true"
    type="localStorage"
    storageKey="storage"
  ></dxo-state-storing>
  <dxo-scrolling mode="virtual"></dxo-scrolling>
  <dxo-filter-row [visible]="true"></dxo-filter-row>

  <dxi-column dataField="lastName" [sortOrder]="'asc'"></dxi-column>
  <dxi-column dataField="firstName"></dxi-column>
  <dxi-column dataField="email"></dxi-column>
  <dxi-column dataField="breakoutName" [groupIndex]="0"></dxi-column>
  <dxi-column dataField="startDate" [caption]="" [groupIndex]="1" groupCellTemplate="cellTemplate" [sortOrder]="0"></dxi-column>

  <div *dxTemplate="let data of 'cellTemplate'">
    {{getSessionTime(data.value)}}
  </div>

  <dxo-summary>
    <dxi-total-item column="email" summaryType="count"> </dxi-total-item>
    <dxi-group-item column="email" summaryType="count" displayFormat="{0} registered"></dxi-group-item>
  </dxo-summary>
</dx-data-grid>
