<div class="content-block responsive-paddings">
  <dx-toolbar class="content-list__header py-2 px-2">
    <dxi-item location="before" locateInMenu="never">
      <div *dxTemplate>
        <h2 class="content-block responsive-paddings underline">{{itemType}}s</h2>
      </div>
    </dxi-item>
    <dxi-item location="after">
      <div *dxTemplate>
        <dx-button class="icon-button manage-button" hint="MANAGE SUBSCRIPTIONS">
          <div *dxTemplate="let data of 'content'">
            <div class="d-flex">
              <i class="dx-icon-preferences"></i>
            </div>
            <dx-context-menu
              target=".manage-button"
              showEvent="dxclick"
              [position]="{ my: { x: 'center', y: 'top' }, at: 'left bottom' }">
              <dxi-item text="New" icon="add" [onClick]="showAddModal"></dxi-item>
              <dxi-item text="Send Prayer Request" icon="contentlayout" [onClick]="showPrayerModal"></dxi-item>
            </dx-context-menu>
          </div>
        </dx-button>
      </div>
    </dxi-item>
  </dx-toolbar>
</div>

<dx-data-grid class="dx-card wide-card"
  #grid
  [dataSource]="datasource$ | async"
  [height]="'75vh'"
  [showBorders]="false"
  [showColumnLines]="true"
  [showRowLines]="true"
  [focusedRowEnabled]="true"
  [columnAutoWidth]="true"
  [columnAutoWidth]="true"
  (onRowDblClick)="showEditModal($event)">

  <dxo-scrolling mode="virtual"></dxo-scrolling>
  <dxo-filter-row [visible]="true"></dxo-filter-row>

  <dxi-column dataField="lastName" sortOrder="asc"></dxi-column>
  <dxi-column dataField="firstName"></dxi-column>
  <dxi-column dataField="email"></dxi-column>
  <dxi-column dataField="date" [dataType]="'datetime'"></dxi-column>
  <dxi-column type="buttons" caption="Actions" [allowReordering]="false">
    <dxi-button icon="trash" hint="DELETE" [onClick]="delete"></dxi-button>
  </dxi-column>
</dx-data-grid>

<dx-popup
  [showTitle]="true"
  [dragEnabled]="false"
  [visible]="isEditVisible$ | async"
  [width]="'60%'"
  [height]="'40%'"
  [showCloseButton]="true"
  (onHiding)="onCancel()">
  <dxi-toolbar-item toolbar="top" location="center">
    <div *dxTemplate>
      <p class="popup-title">
        {{ selectedItem?.id ? 'EDIT' : 'ADD' }} {{itemType | uppercase}}
      </p>
    </div>
  </dxi-toolbar-item>
  <div *dxTemplate="let data of 'content'">
    <div class="add-item-modal">
      <div class="add-item-modal__content" *ngIf="isEditVisible$ | async">
        <dx-form
          #addEditForm
          [(formData)]="selectedItem"
          [showColonAfterLabel]="false"
          labelLocation="left">
          <dxi-item dataField="firstName" [label]="{ text: 'First Name' }" [isRequired]="true"></dxi-item>
          <dxi-item dataField="lastName" [label]="{ text: 'Last Name' }" [isRequired]="true"></dxi-item>
          <dxi-item dataField="email" [label]="{ text: 'Email' }" [isRequired]="true"></dxi-item>
        </dx-form>
      </div>
      <div class="add-item-modal__button-group">
        <dx-button
          text="CANCEL"
          stylingMode="contained"
          type="normal"
          [disabled]="inProgress$ | async"
          (onClick)="onCancel()">
        </dx-button>
        <app-indicator-button
          [isInProgress]="inProgress$ | async"
          [title]="'SAVE'"
          [disabled]="inProgress$ | async"
          (onClick)="onSave(selectedItem)">
        </app-indicator-button>
      </div>
    </div>
  </div>
</dx-popup>

<dx-popup
  [showTitle]="true"
  [dragEnabled]="false"
  [visible]="isPrayerVisible$ | async"
  [width]="'80%'"
  [height]="'60%'"
  [showCloseButton]="true"
  (onHiding)="onCancel()">
  <dxi-toolbar-item toolbar="top" location="center">
    <div *dxTemplate>
      <p class="popup-title">
        SEND PRAYER REQUEST
      </p>
    </div>
  </dxi-toolbar-item>
  <div *dxTemplate="let data of 'content'">
    <div class="add-item-modal">
      <div class="add-item-modal__content" *ngIf="isPrayerVisible$ | async">
        <dx-form
            #addEditForm
            class="pb-2"
            [(formData)]="prayer"
            [showColonAfterLabel]="false"
            labelLocation="left">
            <dxi-item dataField="subject" [colSpan]="1" [isRequired]="true"></dxi-item>
        </dx-form>
        <dx-html-editor height="100%" [(value)]="prayer.html">
            <dxo-toolbar [multiline]="false">
              <dxi-item name="undo"></dxi-item>
              <dxi-item name="redo"></dxi-item>
              <dxi-item name="separator"></dxi-item>
              <dxi-item
                name="size"
                [acceptedValues]="['8pt', '10pt', '12pt', '14pt', '18pt', '24pt', '36pt']"
              ></dxi-item>
              <dxi-item
                name="font"
                [acceptedValues]="[
                  'Arial',
                  'Courier New',
                  'Georgia',
                  'Impact',
                  'Lucida Console',
                  'Tahoma',
                  'Times New Roman',
                  'Verdana'
                ]"
              ></dxi-item>
              <dxi-item name="separator"></dxi-item>
              <dxi-item name="bold"></dxi-item>
              <dxi-item name="italic"></dxi-item>
              <dxi-item name="strike"></dxi-item>
              <dxi-item name="underline"></dxi-item>
              <dxi-item name="separator"></dxi-item>
              <dxi-item name="alignLeft"></dxi-item>
              <dxi-item name="alignCenter"></dxi-item>
              <dxi-item name="alignRight"></dxi-item>
              <dxi-item name="alignJustify"></dxi-item>
              <dxi-item name="separator"></dxi-item>
              <dxi-item name="orderedList"></dxi-item>
              <dxi-item name="bulletList"></dxi-item>
              <dxi-item name="separator"></dxi-item>
              <dxi-item name="header" [acceptedValues]="[false, 1, 2, 3, 4, 5]"></dxi-item>
              <dxi-item name="separator"></dxi-item>
              <dxi-item name="color"></dxi-item>
              <dxi-item name="background"></dxi-item>
              <dxi-item name="separator"></dxi-item>
              <dxi-item name="link"></dxi-item>
              <dxi-item name="image"></dxi-item>
              <dxi-item name="separator"></dxi-item>
              <dxi-item name="clear"></dxi-item>
              <dxi-item name="codeBlock"></dxi-item>
              <dxi-item name="blockquote"></dxi-item>
              <dxi-item name="separator"></dxi-item>
              <dxi-item name="variable"></dxi-item>
            </dxo-toolbar>
            <dxo-variables [dataSource]="emailVals" [escapeChar]="['{{', '}}']"> </dxo-variables>
            <dxo-media-resizing [enabled]="true"> </dxo-media-resizing>
        </dx-html-editor>
      </div>
      <div class="add-item-modal__button-group">
        <dx-button
          text="CANCEL"
          stylingMode="contained"
          type="normal"
          [disabled]="inProgress$ | async"
          (onClick)="onPrayerCancel()">
        </dx-button>
        <app-indicator-button
          [isInProgress]="inProgress$ | async"
          [title]="'SEND'"
          [disabled]="inProgress$ | async"
          (onClick)="sendPrayer()">
        </app-indicator-button>
      </div>
    </div>
  </div>
</dx-popup>
