<dx-toolbar class="content-list__header py-2 px-2 px-2">
  <dxi-item location="after">
    <div *dxTemplate>
      <dx-button class="icon-button manage-button" hint="MANAGE PRODUCTS">
        <div *dxTemplate="let data of 'content'">
          <div class="d-flex">
            <i class="dx-icon-preferences"></i>
          </div>
          <dx-context-menu
            target=".manage-button"
            showEvent="dxclick"
            [position]="{ my: { x: 'center', y: 'top' }, at: 'left bottom' }">
            <dxi-item text="New" icon="add" [onClick]="displayCardAdd"></dxi-item>
          </dx-context-menu>
        </div>
      </dx-button>
    </div>
  </dxi-item>
</dx-toolbar>

<div id="data-grid-demo">
    <dx-data-grid #cardTable
      id="gridContainer"
      [dataSource]="dataSource"
      [showBorders]="true"
      [renderAsync]="true"
      (onRowUpdating)="onRowUpdating($event)">
        <dxo-load-panel [enabled]="true"></dxo-load-panel>
        <dxo-scrolling mode="virtual"></dxo-scrolling>
        <dxo-editing mode="popup" [allowUpdating]="true" [allowDeleting]="true" [useIcons]="true">
            <dxo-popup title="Card Information" [showTitle]="true" [width]="700" [height]="getScreenHeight()">
            </dxo-popup>
        </dxo-editing>
        <dxo-sorting mode="multiple"></dxo-sorting>
        <dxi-column dataField="name"></dxi-column>
        <dxi-column dataField="dbId"></dxi-column>
        <dxi-column type="buttons" [caption]="'Publish'" [width]="175" [fixed]="true">
            <dxi-button hint="Preview" icon="search" [visible]="true" [onClick]="displayCardPreview.bind(this)"></dxi-button>
            <dxi-button name="edit" [onClick]="displayCardEdit.bind(this)"></dxi-button>
            <dxi-button hint="Publish" icon="refresh" [visible]="true" [onClick]="displayPublishcardWarning.bind(this)"></dxi-button>
            <dxi-button hint="Copy" icon="copy" [visible]="true" [onClick]="displayCopyCard.bind(this)"></dxi-button>
            <dxi-button name="delete"></dxi-button>
        </dxi-column>
    </dx-data-grid>
</div>
<ng-container *ngIf="confirmPublishCardVisible">
    <dx-popup
      [width]="300"
      [height]="250"
      [showTitle]="true"
      title="Publish Card Changes?"
      [dragEnabled]="false"
      [hideOnOutsideClick]="true"
      [(visible)]="confirmPublishCardVisible">
        <p>Publishing this card will push all your changes into production. Are you sure you want to do this?</p>
        <div class="row d-flex mt-5 justify-content-around" style="margin: 0 auto;">
            <div class="col-lg-6 text-center">
              <dx-button width="100" stylingMode="contained" text="Yes" type="default" (onClick)="publishCard($event)"></dx-button>
            </div>
            <div class="col-lg-6 text-center">
              <dx-button width="100" stylingMode="contained" text="No" type="default" (onClick)="closePublishcardWarning()"></dx-button>
            </div>
          </div>
    </dx-popup>
</ng-container>

<ng-container *ngIf="copyCardVisible == true">
    <dx-popup [width]="600"
      [height]="250"
      [showTitle]="true"
      title="Make A Copy of This Card?"
      [dragEnabled]="false"
      [hideOnOutsideClick]="true"
      [(visible)]="copyCardVisible">
        <div class="dx-field">
            <div class="dx-field-label">Name the new copy of this card</div>
            <div class="dx-field-value">
                <dx-text-box [(ngModel)]="newname"></dx-text-box>
            </div>
        </div>
        <div class="row d-flex mt-5 justify-content-around" style="margin: 0 auto;">
            <div class="col-lg-6 text-center">
              <dx-button width="100" stylingMode="contained" text="Save" type="default" (onClick)="copyCard()"></dx-button>
            </div>
            <div class="col-lg-6 text-center">
              <dx-button width="100" stylingMode="contained" text="Cancel" type="default" (onClick)="closeDisplayCopyCard()"></dx-button>
            </div>
        </div>
    </dx-popup>
</ng-container>

<ng-container *ngIf="addCardVisible">
  <dx-popup
    [fullScreen]="true"
    [showTitle]="true"
    [dragEnabled]="false"
    [hideOnOutsideClick]="true"
    [(visible)]="addCardVisible">
    <app-card-maker></app-card-maker>
  </dx-popup>
</ng-container>
