<div class="content-block responsive-paddings">
  <dx-toolbar class="content-list__header py-2 px-2">
    <dxi-item location="before" locateInMenu="never">
      <div *dxTemplate>
        <h2 class="content-block responsive-paddings underline">{{itemType}}s</h2>
      </div>
    </dxi-item>
    <dxi-item location="after">
      <div *dxTemplate>
        <dx-button class="icon-button manage-button" hint="MANAGE ORGANIZATIONS">
          <div *dxTemplate="let data of 'content'">
            <div class="d-flex">
              <i class="dx-icon-preferences"></i>
            </div>
            <dx-context-menu
              target=".manage-button"
              showEvent="dxclick"
              [position]="{ my: { x: 'center', y: 'top' }, at: 'left bottom' }">
              <dxi-item text="New" icon="add" [onClick]="showAddModal"></dxi-item>
            </dx-context-menu>
          </div>
        </dx-button>
      </div>
    </dxi-item>
  </dx-toolbar>
</div>

<dx-data-grid class="dx-card wide-card"
  #grid
  [dataSource]="datasource$ | async"
  [height]="'75vh'"
  [showBorders]="false"
  [showColumnLines]="true"
  [showColumnLines]="true"
  [showRowLines]="true"
  [focusedRowEnabled]="true"
  [columnAutoWidth]="true">

  <dxo-scrolling mode="virtual"></dxo-scrolling>
  <dxo-filter-row [visible]="true"></dxo-filter-row>

  <dxi-column dataField="name" [sortOrder]="'asc'"></dxi-column>
  <dxi-column dataField="contactName"></dxi-column>
  <dxi-column dataField="address.address1" [caption]="'Address 1'" [visible]="false"></dxi-column>
  <dxi-column dataField="address.address2" [caption]="'Address 2'" [visible]="false"></dxi-column>
  <dxi-column dataField="address.city" [caption]="'City'"></dxi-column>
  <dxi-column dataField="address.state" [caption]="'State'">
    <dxo-lookup [dataSource]="states"></dxo-lookup>
  </dxi-column>
  <dxi-column dataField="address.zip" [caption]="'Zip Code'" [visible]="false"></dxi-column>
  <dxi-column dataField="address.country" [caption]="'Country'" [visible]="false"></dxi-column>
  <dxi-column dataField="phone.countryCode" [caption]="'Country Code'" [visible]="false"></dxi-column>
  <dxi-column dataField="phone.number" [caption]="'Number'" cellTemplate="phoneNumberCellTemplate"></dxi-column>
  <dxi-column dataField="phone.extension" [caption]="'Ext'" [visible]="false"></dxi-column>
  <dxi-column dataField="phone.type" [caption]="'Type'">
    <dxo-lookup [dataSource]="phone_types"></dxo-lookup>
  </dxi-column>
  <dxi-column type="buttons" caption="Actions" [allowReordering]="false">
    <dxi-button icon="edit" hint="EDIT" [onClick]="showEditModal"></dxi-button>
    <dxi-button icon="trash" hint="DELETE" [onClick]="delete"></dxi-button>
  </dxi-column>

  <div *dxTemplate="let cell of 'phoneNumberCellTemplate'">
    <div class="">
      {{ (cell.data?.phone?.countryCode ? "+" + cell.data?.phone?.countryCode : '')}} {{cell.data.phone? ((cell.data.phone | phoneNumberMask : false)) : '' }}
    </div>
  </div>
</dx-data-grid>

<dx-popup
  [showTitle]="true"
  [dragEnabled]="false"
  [visible]="isVisible$ | async"
  [width]="'60%'"
  [height]="'90%'"
  [showCloseButton]="true"
  (onHiding)="onCancel()">
  <dxi-toolbar-item toolbar="top" location="center">
    <div *dxTemplate>
      <p class="popup-title">
        {{ selectedItem?.id ? 'EDIT' : 'ADD' }} {{itemType | uppercase}}
      </p>
    </div>
  </dxi-toolbar-item>
  <div *dxTemplate="let data of 'content'">
    <div class="add-item-modal">
      <div class="add-item-modal__content" *ngIf="isVisible$ | async">
        <dx-form
          #addEditForm
          [(formData)]="selectedItem"
          [showColonAfterLabel]="false"
          labelLocation="left">
          <dxi-item itemType="group" [colCount]="1" [colSpan]="1">
            <dxi-item dataField="name" [colSpan]="1" [isRequired]="true"></dxi-item>
            <dxi-item dataField="contactName" [colSpan]="1" [isRequired]="true"></dxi-item>
          </dxi-item>
          <dxi-item itemType="group" caption="Address" [colCount]="6" [colSpan]="1">
            <dxi-item dataField="address.address1" [colSpan]="6" [label]="{ text: 'Address 1' }"></dxi-item>
            <dxi-item dataField="address.address2" [colSpan]="6" [label]="{ text: 'Address 2' }"></dxi-item>
            <dxi-item dataField="address.city" [colSpan]="3"  [label]="{ text: 'City' }"></dxi-item>
            <dxi-item dataField="address.state" [colSpan]="2" [label]="{ text: 'State' }">
              <div *dxTemplate>
                <dx-lookup
                  [showCancelButton]="false"
                  [items]="states"
                  [(value)]="selectedItem.address.state">
                </dx-lookup>
              </div>
              <dxo-lookup [dataSource]="states" [displayExpr]="'description'" [valueExpr]="'value'"></dxo-lookup>
            </dxi-item>
            <dxi-item dataField="address.zip" [colSpan]="1" [label]="{ text: 'Zip' }"></dxi-item>
          </dxi-item>
          <dxi-item itemType="group" caption="Phone" [colCount]="4" [colSpan]="1">
            <dxi-item dataField="phone.countryCode" [colSpan]="1"  [label]="{ text: 'Country Code' }"></dxi-item>
            <dxi-item dataField="phone.number" [colSpan]="2" [label]="{ text: 'Number' }" [editorOptions]="phoneEditorOptions"></dxi-item>
            <dxi-item dataField="phone.type" [colSpan]="2" [label]="{text: 'Type'}">
              <div *dxTemplate>
                <dx-select-box [(value)]="selectedItem.phone.type" [dataSource]="phone_types"></dx-select-box>
              </div>
            </dxi-item>
          </dxi-item>
        </dx-form>
      </div>
      <div class="add-item-modal__button-group">
        <dx-button
          text="CANCEL"
          stylingMode="contained"
          type="normal"
          [disabled]="inProgress$ | async"
          (onClick)="onCancel()">
        </dx-button>
        <app-indicator-button
          [isInProgress]="inProgress$ | async"
          [title]="'SAVE'"
          [disabled]="inProgress$ | async"
          (onClick)="onSave(selectedItem)">
        </app-indicator-button>
      </div>
    </div>
  </div>
</dx-popup>

