<dx-popup
  [showTitle]="true"
  [dragEnabled]="false"
  [visible]="isVisible$ | async"
  height="30%"
  width="30%"
  [showCloseButton]="true"
  (onHiding)="onCancel()">
  <dxi-toolbar-item toolbar="top" location="center">
    <div *dxTemplate>
      <p class="popup-title">
        {{ series?.id ? 'EDIT' : 'ADD' }} SERIES
      </p>
    </div>
  </dxi-toolbar-item>
  <div *dxTemplate="let data of 'content'">
    <div class="add-item-modal">
      <div class="add-item-modal__content" *ngIf="isVisible$ | async">
        <dx-form
          #addEditForm
          [(formData)]="series"
          [showColonAfterLabel]="false"
          labelLocation="left"
          [colCount]="3">
          <dxi-item dataField="order" [colSpan]="1" [isRequired]="true">
            <div *dxTemplate>
              <dx-number-box [(value)]="series.order"></dx-number-box>
            </div>
          </dxi-item>
          <dxi-item dataField="name" [colSpan]="2" [isRequired]="true"></dxi-item>
          <dxi-item dataField="imageUrl.name" [colSpan]="2" [disabled]="true"></dxi-item>
          <dxi-item>
            <div *dxTemplate>
              <dx-button
                text="Upload Image"
                width="250px"
                stylingMode="contained"
                type="normal"
                [disabled]="inProgress$ | async"
                (onClick)="showSingleImageModal()">
              </dx-button>
            </div>
          </dxi-item>
        </dx-form>
      </div>
      <div class="add-item-modal__button-group">
        <dx-button
          text="CANCEL"
          stylingMode="contained"
          type="normal"
          [disabled]="inProgress$ | async"
          (onClick)="onCancel()">
        </dx-button>
        <app-indicator-button
          [isInProgress]="inProgress$ | async"
          [title]="'SAVE'"
          [disabled]="inProgress$ | async"
          (onClick)="onSave(series)">
        </app-indicator-button>
      </div>
    </div>
  </div>
</dx-popup>

<ng-container *ngIf="isSingleImageVisible$ | async">
  <app-image-uploader
    [card]="series"
    [isList]="false"
    [field]="'imageUrl'"
    [selectionMode]="'single'"
    [imageSelectVisible]="isSingleImageVisible$ | async"
    (imageSelectClosed)="closeSingleImageModal()">
  </app-image-uploader>
</ng-container>

