<div class="content-block responsive-paddings">
  <dx-toolbar class="content-list__header py-2 px-2">
    <dxi-item location="before" locateInMenu="never">
      <div *dxTemplate>
        <h2 class="content-block responsive-paddings underline">{{itemType}}s</h2>
      </div>
    </dxi-item>
  </dx-toolbar>
</div>

<dx-data-grid class="dx-card wide-card"
  #grid
  [dataSource]="datasource$ | async"
  [height]="'75vh'"
  [showBorders]="false"
  [showColumnLines]="true"
  [showColumnLines]="true"
  [showRowLines]="true"
  [focusedRowEnabled]="true"
  [columnAutoWidth]="true">

  <dxo-scrolling mode="virtual"></dxo-scrolling>
  <dxo-filter-row [visible]="true"></dxo-filter-row>

  <dxi-column dataField="processedStatus"></dxi-column>
  <dxi-column dataField="id" [visible]="false"></dxi-column>
  <dxi-column dataField="dateProcessed" [dataType]="'datetime'" sortOrder="desc"></dxi-column>
  <dxi-column dataField="firstName"></dxi-column>
  <dxi-column dataField="lastName"></dxi-column>
  <dxi-column dataField="email"></dxi-column>
  <dxi-column dataField="receipt" cellTemplate="receiptTemplate"></dxi-column>
  <dxi-column dataField="count" cellTemplate="itemCountTemplate"></dxi-column>
  <dxi-column dataField="couponCode"></dxi-column>
  <dxi-column dataField="totalBeforeDiscount" [caption]="'Total'" cellTemplate="amountOtherTemplate"></dxi-column>
  <dxi-column dataField="estimatedTaxes" [caption]="'Taxes'" cellTemplate="amountOtherTemplate"></dxi-column>
  <dxi-column dataField="shippingRate" [caption]="'Shipping'" cellTemplate="amountOtherTemplate"></dxi-column>
  <dxi-column dataField="paymentIntent.amount" cellTemplate="amountDollarTemplate" [caption]="'Charged'"></dxi-column>
  <dxi-column dataField="refundAmount" cellTemplate="amountOtherTemplate" [caption]="'Refunded'"></dxi-column>
  <dxi-column type="buttons" caption="Actions" [allowReordering]="false">
    <dxi-button icon="edit" hint="EDIT" [onClick]="showEditModal"></dxi-button>
    <dxi-button icon="trash" hint="DELETE" [onClick]="delete"></dxi-button>
  </dxi-column>

  <div *dxTemplate="let data of 'receiptTemplate'">
    {{data.data?.paymentIntent?.id ? data.data.paymentIntent.id : data.data.paymentIntent }}
  </div>

  <div *dxTemplate="let data of 'itemCountTemplate'">
    {{data.data.cartItems.length}}
  </div>

  <div *dxTemplate="let data of 'amountDollarTemplate'">
    {{data.value > 0 ? (data.value / 100 | currency) : (0 | currency)}}
  </div>

  <div *dxTemplate="let data of 'amountOtherTemplate'">
    {{data.value > 0 ? (data.value | currency) : (0 | currency)}}
  </div>
</dx-data-grid>

<dx-popup
  #addEditPopup
  [showTitle]="true"
  [dragEnabled]="false"
  [visible]="isVisible$ | async"
  [width]="'75%'"
  [height]="'95%'"
  [showCloseButton]="true"
  (onHiding)="onCancel()">
  <dxi-toolbar-item toolbar="top" location="center">
    <div *dxTemplate>
      <p class="popup-title">
        {{ selectedItem?.id ? 'EDIT' : 'ADD' }} {{itemType | uppercase}}
      </p>
    </div>
  </dxi-toolbar-item>
  <dxi-toolbar-item toolbar="top" location="after" [visible]="this.selectedItem && this.selectedItem.processedStatus != 'PARTIAL_REFUND' && this.selectedItem.processedStatus != 'REFUNDED'">
    <div *dxTemplate>
      <dx-button
        text="REFUND ORDER"
        stylingMode="contained"
        type="normal"
        [disabled]="inProgress$ | async"
        (onClick)="refundOrder()">
      </dx-button>
    </div>
  </dxi-toolbar-item>
  <div *dxTemplate="let data of 'content'">
    <div class="add-item-modal">
      <div class="add-item-modal__content" *ngIf="isVisible$ | async">
        <dx-form
          #addEditForm
          [(formData)]="selectedItem"
          [showColonAfterLabel]="false"
          labelLocation="left"
          [colCount]="8">
          <dxi-item dataField="dateProcessed" [colSpan]="4" [disabled]="true"></dxi-item>
          <dxi-item dataField="processedStatus" [colSpan]="4" [disabled]="true"></dxi-item>

          <dxi-item dataField="firstName" [colSpan]="4" [disabled]="true"></dxi-item>
          <dxi-item dataField="lastName" [colSpan]="4" [disabled]="true"></dxi-item>

          <dxi-item dataField="email" [colSpan]="4" [disabled]="true"></dxi-item>
          <dxi-item dataField="couponCode" [colSpan]="4" [disabled]="true"></dxi-item>

          <dxi-item dataField="paymentIntent.status" [label]="{text: 'Status'}" [colSpan]="4" [disabled]="true"></dxi-item>
          <dxi-item [colSpan]="4" [label]="{text: 'Item Count'}" [disabled]="true">
            <div *dxTemplate>
              <dx-number-box [value]="selectedItem?.cartItems?.length"></dx-number-box>
            </div>
          </dxi-item>
          <dxi-item [colSpan]="2" [label]="{text: 'Taxes'}" [disabled]="true">
            <div *dxTemplate>
              {{selectedItem?.estimatedTaxes > 0 ? (selectedItem?.estimatedTaxes | currency) : (0 | currency)}}
            </div>
          </dxi-item>
          <dxi-item [colSpan]="2" [label]="{text: 'Shipping'}" [disabled]="true">
            <div *dxTemplate>
              {{selectedItem?.shippingRate > 0 ? (selectedItem?.shippingRate | currency) : (0 | currency)}}
            </div>
          </dxi-item>
          <dxi-item [colSpan]="2" [label]="{text: 'Total'}" [disabled]="true">
            <div *dxTemplate>
              {{selectedItem?.total > 0 ? (selectedItem?.total | currency) : (0 | currency)}}
            </div>
          </dxi-item>
          <dxi-item [colSpan]="2" [label]="{text: 'Refunded'}" [disabled]="true">
            <div *dxTemplate>
              {{getOrderRefundedAmount() | currency}}
            </div>
          </dxi-item>

          <dxi-item itemType="tabbed" [colSpan]="8">
            <dxi-tab title="Shipping / Billing Information">
              <dxi-item itemType="tabbed" [colSpan]="6">
                <dxi-tab title="Billing Address">
                  <dxi-item itemType="group" caption="Address" [colCount]="6" [colSpan]="2">
                    <dxi-item dataField="billingAddress.address1" [colSpan]="6" [label]="{ text: 'Address1' }"></dxi-item>
                    <dxi-item dataField="billingAddress.address2" [colSpan]="6" [label]="{ text: 'Address2' }"></dxi-item>
                    <dxi-item dataField="billingAddress.city" [colSpan]="3" [label]="{ text: 'City' }"></dxi-item>
                    <dxi-item dataField="billingAddress.state" [colSpan]="2" [label]="{ text: 'State' }">
                      <div *dxTemplate>
                        <dx-lookup
                        [showCancelButton]="false"
                          [items]="states"
                          [(value)]="selectedItem.billingAddress.state">
                        </dx-lookup>
                      </div>
                    </dxi-item>
                    <dxi-item dataField="billingAddress.zip" [colSpan]="2" [label]="{ text: 'Zip' }"></dxi-item>
                    <dxi-item dataField="billingAddress.country" [colSpan]="3" [label]="{ text: 'Country' }"></dxi-item>
                  </dxi-item>
                </dxi-tab>
                <dxi-tab title="Shipping Address">
                  <dxi-item itemType="group" caption="Address" [colCount]="6" [colSpan]="2">
                    <dxi-item dataField="shippingAddress.address1" [colSpan]="6" [label]="{ text: 'Address1' }"></dxi-item>
                    <dxi-item dataField="shippingAddress.address2" [colSpan]="6" [label]="{ text: 'Address2' }"></dxi-item>
                    <dxi-item dataField="shippingAddress.city" [colSpan]="3" [label]="{ text: 'City' }"></dxi-item>
                    <dxi-item dataField="shippingAddress.state" [colSpan]="2" [label]="{ text: 'State' }">
                      <div *dxTemplate>
                        <dx-select-box
                          [items]="states"
                          [(value)]="selectedItem.shippingAddress">
                        </dx-select-box>
                      </div>
                    </dxi-item>
                    <dxi-item dataField="shippingAddress.zip" [colSpan]="2" [label]="{ text: 'Zip' }"></dxi-item>
                    <dxi-item dataField="shippingAddress.country" [colSpan]="3" [label]="{ text: 'Country' }"></dxi-item>
                  </dxi-item>
                </dxi-tab>
                <dxi-tab title="Contact">
                  <dxi-item itemType="group" caption="Phone Number" [colCount]="6" [colSpan]="2">
                    <dxi-item dataField="phone.countryCode" [colSpan]="2" [label]="{ text: 'Country Code' }"></dxi-item>
                    <dxi-item dataField="phone.number" [colSpan]="2" [label]="{ text: 'Number' }" [editorOptions]="phoneEditorOptions"></dxi-item>
                    <dxi-item [label]="{ text: 'Type' }" [colSpan]="2">
                      <div *dxTemplate>
                        <dx-select-box
                          [items]="phone_types"
                          [(value)]="selectedItem.phone.type">
                        </dx-select-box>
                      </div>
                    </dxi-item>
                  </dxi-item>
                </dxi-tab>
              </dxi-item>
            </dxi-tab>
            <dxi-tab title="Sale Details">
              <dxi-item [colSpan]="6">
                <div *dxTemplate>
                  <dx-data-grid class="dx-card wide-card"
                    #grid
                    [dataSource]="selectedItem.cartItems"
                    [height]="'36vh'"
                    [showBorders]="false"
                    [showColumnLines]="true"
                    [wordWrapEnabled]="true"
                    [showColumnLines]="true"
                    [showRowLines]="true"
                    [columnAutoWidth]="true">

                    <dxo-scrolling mode="virtual"></dxo-scrolling>
                    <dxo-filter-row [visible]="true"></dxo-filter-row>

                    <dxi-column dataField="img" cellTemplate="imageCellTemplate" [caption]="''" [width]="120"></dxi-column>
                    <dxi-column dataField="itemName" cellTemplate="descriptionCellTemplate" [caption]="'Description'"></dxi-column>
                    <dxi-column dataField="orderQuantity" [dataType]="'number'" [caption]="'Count'" [width]="100"></dxi-column>
                    <dxi-column dataField="price" [dataType]="'number'" [format]="'currency'" [caption]="'Unit Price'" [width]="120"></dxi-column>
                    <dxi-column caption="Tax" cellTemplate="taxAmountTemplate"></dxi-column>
                    <dxi-column caption="Shipping" cellTemplate="shippingAmountTemplate"></dxi-column>
                    <dxi-column caption="Total" cellTemplate="totalAmountTemplate"></dxi-column>
                    <dxi-column dataField="processedStatus" [caption]="'Status'" [width]="150"></dxi-column>
                    <dxi-column type="buttons" [allowReordering]="false" [width]="75">
                      <dxi-button icon="taskcomplete" hint="Mark As Shipped" [onClick]="markAsShipped" [visible]="isShippedButtonsVisible"></dxi-button>
                      <dxi-button icon="taskrejected" hint="Refund Amount" [onClick]="refundLineItem" [visible]="isRefundedButtonsVisible"></dxi-button>
                    </dxi-column>

                    <div *dxTemplate="let data of 'taxAmountTemplate'">
                      <span width="100">{{getItemTaxableAmount(data) | currency}}</span>
                    </div>

                    <div *dxTemplate="let data of 'shippingAmountTemplate'">
                      <span width="100">{{getItemShippingAmount(data) | currency}}</span>
                    </div>

                    <div *dxTemplate="let data of 'totalAmountTemplate'">
                      <span width="100">{{getItemTotalAmount(data) | currency}}</span>
                    </div>

                    <div *dxTemplate="let data of 'imageCellTemplate'">
                      <img *ngIf="data?.value" width="100" [src]="data?.value?.url" [alt]="data?.value?.name"/>
                    </div>

                    <div *dxTemplate="let data of 'descriptionCellTemplate'">
                      <div>{{data.value}}</div>
                      <div *ngIf="(data.data.attendees?.length) > 0">
                        <ol type="1">
                          <li *ngFor="let attendee of data.data.attendees">
                            {{attendee.firstName}} {{attendee.lastName}} - ({{attendee.email}})
                          </li>
                        </ol>
                      </div>
                    </div>
                  </dx-data-grid>
                </div>
              </dxi-item>
            </dxi-tab>
          </dxi-item>
        </dx-form>
      </div>
      <div class="add-item-modal__button-group">
        <dx-button
          text="CANCEL"
          stylingMode="contained"
          type="normal"
          [disabled]="inProgress$ | async"
          (onClick)="onCancel()">
        </dx-button>
        <app-indicator-button
          [isInProgress]="inProgress$ | async"
          [title]="'SAVE'"
          [disabled]="inProgress$ | async"
          (onClick)="onSave(selectedItem)">
        </app-indicator-button>
      </div>
    </div>
  </div>
</dx-popup>
<dx-load-panel
    #loadPanel
    shadingColor="rgba(0,0,0,0.4)"
    [position]="{ of: '#addEditPopup' }"
    [visible]="isLoadingVisible$ | async"
    [message] = "'Please wait while refund is processing!'"
    [showIndicator]="true"
    [showPane]="true"
    [shading]="true"
    [closeOnOutsideClick]="false">
</dx-load-panel>
