<dx-data-grid class="dx-card wide-card"
  #grid
  [dataSource]="dataSource"
  [width]="'100%'"
  [showBorders]="false"
  [focusedRowEnabled]="true"
  [columnAutoWidth]="true"
  [columnHidingEnabled]="true"
  (onRowUpdating)="onRowUpdating($event)">

  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
  <dxo-search-panel [visible]="true" placeholder="Search..."></dxo-search-panel>
  <dxo-toolbar>
    <dxi-item location="before">
      <div *dxTemplate>
        <div class="toolbar-label">
          <b>Coupon Manager</b>
        </div>
      </div>
    </dxi-item>

    <dxi-item name="addRowButton"></dxi-item>
    <dxi-item name="searchPanel"></dxi-item>
  </dxo-toolbar>
  <dxo-editing
    mode="popup"
    [useIcons]="true"
    [allowAdding]="true"
    [allowUpdating]="true"
    [allowDeleting]="true">
    <dxo-popup
      title="Coupons"
      [showTitle]="true"
      [width]="500"
      [height]="250">
    </dxo-popup>
    <dxo-form [colCount]="2">
      <dxi-item dataField="code" [colSpan]="1"></dxi-item>
      <dxi-item dataField="isActive" [colSpan]="1" [editorType]="'dxSwitch'" [editorOptions]="{ switchedOnText: 'Yes', switchedOffText: 'No' }"></dxi-item>
      <dxi-item dataField="percentOff" [colSpan]="1"></dxi-item>
      <dxi-item dataField="percentOff" [colSpan]="1"></dxi-item>
    </dxo-form>
  </dxo-editing>
  <dxi-column dataField="code"></dxi-column>
  <dxi-column dataField="isActive" dataType="boolean"></dxi-column>
  <dxi-column dataField="percentOff" dataType="number"></dxi-column>
  <dxi-column dataField="dollarsOff" dataType="number" format="currency"></dxi-column>
</dx-data-grid>
