<div class="content-block responsive-paddings">
  <dx-toolbar class="content-list__header py-2">
    <dxi-item location="before" locateInMenu="never">
      <div *dxTemplate>
        <h2 class="content-block responsive-paddings underline">{{itemType}}s</h2>
      </div>
    </dxi-item>
    <dxi-item
      location="after"
      widget="dxButton"
      [options]="{
        hint: 'ADD ' + itemType | uppercase,
        type: 'default',
        text: 'ADD ' + itemType | uppercase,
        stylingMode: 'contained',
        onClick: showAddModal
      }">
    </dxi-item>
  </dx-toolbar>
</div>

<dx-data-grid class="dx-card wide-card"
  #grid
  [dataSource]="datasource$ | async"
  [height]="'75vh'"
  [showBorders]="false"
  [showColumnLines]="true"
  [showColumnLines]="true"
  [showRowLines]="true"
  [focusedRowEnabled]="true"
  [columnAutoWidth]="true">

  <dxo-scrolling mode="virtual"></dxo-scrolling>
  <dxo-filter-row [visible]="true"></dxo-filter-row>

  <dxi-column dataField="code"></dxi-column>
  <dxi-column dataField="isActive" dataType="boolean"></dxi-column>
  <dxi-column dataField="percentOff" dataType="number"></dxi-column>
  <dxi-column dataField="dollarsOff" dataType="number" format="currency"></dxi-column>
  <dxi-column dataField="tags">
    <dxo-lookup [dataSource]="eventTags" [allowClearing]="true" [displayExpr]="'name'" [valueExpr]="'id'"></dxo-lookup>
  </dxi-column>
  <dxi-column type="buttons" caption="Actions" [allowReordering]="false">
    <dxi-button icon="edit" hint="EDIT" [onClick]="showEditModal"></dxi-button>
    <dxi-button icon="trash" hint="DELETE" [onClick]="delete"></dxi-button>
  </dxi-column>
</dx-data-grid>

<dx-popup
  [showTitle]="true"
  [dragEnabled]="false"
  [visible]="isVisible$ | async"
  height="85%"
  width="70%"
  [showCloseButton]="true"
  (onHiding)="onCancel()">
  <dxi-toolbar-item toolbar="top" location="center">
    <div *dxTemplate>
      <p class="popup-title">
        {{ selectedItem?.id ? 'EDIT' : 'ADD' }} {{itemType | uppercase}}
      </p>
    </div>
  </dxi-toolbar-item>
  <div *dxTemplate="let data of 'content'">
    <div class="add-item-modal">
      <div class="add-item-modal__content" *ngIf="isVisible$ | async">
        <dx-form
          #addEditForm
          [(formData)]="selectedItem"
          [showColonAfterLabel]="false"
          labelLocation="left"
          [colCount]="4">
          <dxi-item dataField="code" [colSpan]="2"></dxi-item>
          <dxi-item dataField="isActive" [colSpan]="1" [editorType]="'dxSwitch'" [editorOptions]="{ switchedOnText: 'Yes', switchedOffText: 'No' }"></dxi-item>
          <dxi-item dataField="isAffilliate" [colSpan]="1" [editorType]="'dxSwitch'" [editorOptions]="{ switchedOnText: 'Yes', switchedOffText: 'No' }"></dxi-item>
          <dxi-item dataField="affilliateName" [visible]="selectedItem.isAffilliate" [colSpan]="2"></dxi-item>
          <dxi-item dataField="affiliatePaypalAccount" [visible]="selectedItem.isAffilliate" [colSpan]="2"></dxi-item>
          <dxi-item dataField="percentOff" [colSpan]="2">
            <div *dxTemplate>
              <dx-number-box [(value)]="selectedItem.percentOff"></dx-number-box>
            </div>
          </dxi-item>
          <dxi-item dataField="dollarsOff" [colSpan]="2">
            <div *dxTemplate>
              <dx-number-box [(value)]="selectedItem.dollarsOff" [format]="'currency'"></dx-number-box>
            </div>
          </dxi-item>
          <dxi-item [label]="{ text: 'Event Tags' }" [colSpan]="4">
            <div *dxTemplate>
              <dx-tag-box
                [dataSource]="eventTags"
                [(value)]="selectedItem.tags"
                [displayExpr]="'name'"
                [valueExpr]="'id'"
                [searchEnabled]="true"
                [hideSelectedItems]="true"
                placeholder="Tag this Coupon...">
              </dx-tag-box>
            </div>
          </dxi-item>
          <dxi-item [colSpan]="4">
            <div *dxTemplate>
              <div class="row">
                <div class="col-7">
                  <div class="content-block responsive-paddings">
                    <dx-toolbar class="content-list__header py-2">
                      <dxi-item location="before" locateInMenu="never">
                        <div *dxTemplate>
                          <h2 class="content-block responsive-paddings underline">Affilliate Sales</h2>
                        </div>
                      </dxi-item>
                      <dxi-item
                        location="after"
                        widget="dxButton"
                        [options]="{
                          hint: 'PAY',
                          type: 'default',
                          text: 'PAY',
                          stylingMode: 'contained',
                          onClick: pay
                        }">
                      </dxi-item>
                    </dx-toolbar>
                  </div>
                  <dx-data-grid class="dx-card wide-card"
                    #grid
                    [dataSource]="affilliateSales | async"
                    [height]="'35vh'"
                    [showBorders]="false"
                    [showColumnLines]="true"
                    [(selectedRowKeys)]="selectedRows"
                    [showColumnLines]="true"
                    [showRowLines]="true"
                    [columnAutoWidth]="true">

                    <dxo-selection mode="multiple"> </dxo-selection>
                    <dxo-scrolling mode="virtual"></dxo-scrolling>
                    <dxo-filter-row [visible]="true"></dxo-filter-row>

                    <dxi-column dataField="date" dataType="date"></dxi-column>
                    <dxi-column dataField="email"></dxi-column>
                    <dxi-column dataField="totalBeforeDiscount" dataType="number" format="currency" [caption]="'Total'"></dxi-column>
                    <dxi-column dataField="totalAfterDiscount" dataType="number" format="currency" [caption]="'Discounted Total'"></dxi-column>
                    <dxi-column dataField="amountPayed" dataType="number" format="currency" [caption]="'Payed Amount'"></dxi-column>
                    <dxi-column dataField="isPayed" dataType="boolean"></dxi-column>
                    <dxo-summary>
                      <dxi-total-item
                        column="date"
                        summaryType="count">
                      </dxi-total-item>
                      <dxi-total-item column="totalBeforeDiscount" summaryType="sum" valueFormat="currency"></dxi-total-item>
                      <dxi-total-item column="totalAfterDiscount" summaryType="sum" valueFormat="currency"></dxi-total-item>
                      <dxi-total-item column="payedAmount" summaryType="sum" valueFormat="currency"></dxi-total-item>
                    </dxo-summary>
                  </dx-data-grid>
                </div>
                <div class="col-5">
                  <h2 class="content-block responsive-paddings underline pb-1">Affilliate Payments</h2>
                  <dx-data-grid class="dx-card wide-card"
                    #grid
                    [dataSource]="affilliatePayments | async"
                    [height]="'35vh'"
                    [showBorders]="false"
                    [showColumnLines]="true"
                    [showColumnLines]="true"
                    [showRowLines]="true"
                    [columnAutoWidth]="true"
                    [columnHidingEnabled]="true">

                    <dxo-scrolling mode="virtual"></dxo-scrolling>
                    <dxo-filter-row [visible]="true"></dxo-filter-row>

                    <dxi-column dataField="date" dataType="date"></dxi-column>
                    <dxi-column dataField="receipt"></dxi-column>
                    <dxi-column dataField="amountPayed" dataType="number" format="currency" [caption]="'Payed Amount'"></dxi-column>
                    <dxi-column dataField="saleIdsPayed" [hidden]="true" ></dxi-column>
                    <dxo-summary>
                      <dxi-total-item column="date" summaryType="count">
                      </dxi-total-item>
                      <dxi-total-item column="amountPayed" summaryType="sum" valueFormat="currency"></dxi-total-item>
                    </dxo-summary>
                  </dx-data-grid>
                </div>
              </div>
            </div>
          </dxi-item>
        </dx-form>
      </div>
      <div class="add-item-modal__button-group">
        <dx-button
          text="CANCEL"
          stylingMode="contained"
          type="normal"
          [disabled]="inProgress$ | async"
          (onClick)="onCancel()">
        </dx-button>
        <app-indicator-button
          [isInProgress]="inProgress$ | async"
          [title]="'SAVE'"
          [disabled]="inProgress$ | async"
          (onClick)="onSave(selectedItem)">
        </app-indicator-button>
      </div>
    </div>
  </div>
</dx-popup>
