<ng-container *ngIf="view=='edit'">
  <dx-form>
    <dxi-item itemType="group" caption="Card Content" [colCount]="8">
      <dxi-item [colSpan]="7"></dxi-item>
      <dxi-item [colSpan]="1">
        <div *dxTemplate>
          <dx-button
            text="ADD ROW"
            stylingMode="contained"
            type="normal"
            (click)="addrow()">
          </dx-button>
        </div>
      </dxi-item>
      <dxi-item [colSpan]="8">
        <div *dxTemplate>
          <dx-sortable
            id="list"
            [itemOrientation]="'vertical'"
            [dragDirection]="'vertical'"
            handle=".list-title"
            (onReorder)="onListReorder($event)">
            <div *ngFor="let row of card.rows; let r = index" class="mb-5">
              <div class="list-title row d-flex" id="card-row" >
                <div class=""><p>Row {{r + 1}}</p></div>
                <dx-form [formData]="row" [colCount]="2">
                  <dxi-item dataField="row_height">
                    <div *dxTemplate>
                      <dx-number-box [(value)]="row.row_height" [height]="30"></dx-number-box>
                    </div>
                  </dxi-item>
                  <dxi-item dataField="distribution">
                    <div *dxTemplate>
                      <dx-select-box  [searchEnabled]="true" #distribution [items]="['Even', 'Offset']" [(value)]="row.distribution" [height]="30"></dx-select-box>
                    </div>
                  </dxi-item>
                </dx-form>
              <div class="add-item-modal__button-group">
                  <dx-button
                    text="ADD COMPONENT"
                    stylingMode="contained"
                    type="normal"
                    (onClick)="addcard(r)">
                  </dx-button>
                  <dx-button
                    text="DELETE ROW"
                    stylingMode="contained"
                    type="normal"
                    (onClick)="deleterow(r)">
                  </dx-button>
                </div>
              </div>
              <dx-sortable class="row"
                id="components"
                [itemOrientation]="'horizontal'"
                [dragDirection]="'horizontal'"
                handle=".component-title"
                (onReorder)="slide($event, row.components)">
                  <div class="col mx-1" *ngFor="let component of row.components; let c = index">
                    <div class="component-title row d-flex" id="component-row">
                      <span><h4 style="color:white; margin-top: 5px;">Component {{c + 1}}</h4></span>
                      <span><dx-button [icon]="'close'" (onClick)="deletecard(r, c)"></dx-button></span>
                    </div>
                    <div class="form">
                      <div class="dx-field m-2">
                        <div class="dx-field-label">Component Type</div>
                        <div class="dx-field-value">
                          <dx-select-box  [searchEnabled]="true" #componentSelect [items]="cardTypes" [(value)]="component.card_type" class="component-type-select"></dx-select-box>
                        </div>
                      </div>
                      <ng-template [ngIf]="row.distribution == 'Offset'">
                        <div class="dx-field m-2">
                          <div class="dx-field-label">
                            Column Span
                              <i class="mdi mdi-help-circle"
                                id="helpIcon"
                                (mouseenter)="toggleHelp()"
                                (mouseleave)="toggleHelp()">
                              </i>
                              <dx-tooltip
                                target="#helpIcon"
                                [(visible)]="helpVisible"
                                [hideOnOutsideClick]="false">
                                <div *dxTemplate="let data = data of 'content'">
                                  Width of Column in Row. (Based on all columns totaling 12).
                                </div>
                              </dx-tooltip>
                          </div>
                          <div class="dx-field-value">
                            <dx-select-box  [searchEnabled]="true" [items]="[12,11,10,9,8,7,6,5,4,3,2,1]" [(value)]="component.span" [selectedItem]="12"></dx-select-box>
                          </div>
                        </div>
                      </ng-template>

                      <ng-template [ngIf]="componentSelect.value == 'Video'">
                        <app-video-component [view]="view" [component]="component"></app-video-component>
                      </ng-template>
                      <ng-template [ngIf]="componentSelect.value == 'Image'">
                        <app-image-component [view]="view" [component]="component"></app-image-component>
                      </ng-template>
                      <ng-template [ngIf]="componentSelect.value == 'Content'">
                        <app-content-component [view]="view" [component]="component"></app-content-component>
                      </ng-template>
                      <ng-template [ngIf]="componentSelect.value == 'IFrame'">
                        <app-iframe-component [view]="view" [component]="component"></app-iframe-component>
                      </ng-template>
                      <ng-template [ngIf]="componentSelect.value == 'Custom'">
                        <app-custom-component [view]="view"[component]="component"></app-custom-component>
                      </ng-template>
                      <ng-template [ngIf]="componentSelect.value == 'Carousel'">
                        <app-carousel-component [view]="view"[component]="component"></app-carousel-component>
                      </ng-template>
                      <ng-template [ngIf]="componentSelect.value == 'Gallery'">
                        <app-gallery-component [view]="view" [component]="component"></app-gallery-component>
                      </ng-template>
                      <ng-template [ngIf]="componentSelect.value == 'Image Divider'">
                        <app-image-divider-component [view]="view" [component]="component"></app-image-divider-component>
                      </ng-template>
                      <ng-template [ngIf]="componentSelect.value == 'Team Member'">
                        <app-team-member-component [view]="view" [component]="component"></app-team-member-component>
                      </ng-template>
                      <ng-template [ngIf]="componentSelect.value == 'Testimonial'">
                        <app-testimonial-component [view]="view" [component]="component"></app-testimonial-component>
                      </ng-template>
                      <ng-template [ngIf]="componentSelect.value == 'Button'">
                        <app-button-component [view]="view" [component]="component"></app-button-component>
                      </ng-template>
                      <ng-template [ngIf]="componentSelect.value == 'Form'">
                        <app-form-maker-component [view]="view" [component]="component"></app-form-maker-component>
                      </ng-template>
                    </div>
                  </div>
              </dx-sortable>
            </div>
          </dx-sortable>
        </div>
      </dxi-item>
    </dxi-item>
    </dx-form>

  <hr color="#091D45" width="100%"/>
</ng-container>

<ng-container *ngIf="view == 'display' || view == 'preview'">
  <ng-container *ngFor="let row of card.rows; let r = index">
    <div class="row d-flex justify-content-center" id="body-view-row" [style.height]="row.row_height + 'px'" >
      <ng-container *ngFor="let component of row.components; let c = index">
        <div class="col-{{row.distribution == 'Even'? 12/row.components.length : component.span}}">
          <div class="card-body" >
            <ng-template [ngIf]="component.header">
              <div class="row d-flex justify-content-around">
                <app-card-header-view [view]="view" [card]="card"></app-card-header-view>
              </div>
            </ng-template>
            <ng-template [ngIf]="component.card_type=='Image'">
              <app-image-component [view]="'display'" [component]="component" [col_count]="row.components.length"></app-image-component>
            </ng-template>
            <ng-template [ngIf]="component.card_type=='Video'">
              <app-video-component [view]="view" [component]="component" [col_count]="row.components.length"></app-video-component>
            </ng-template>
            <ng-template [ngIf]="component.card_type=='Content'">
              <app-content-component [view]="view" [component]="component"></app-content-component>
            </ng-template>
            <ng-template [ngIf]="component.card_type=='IFrame'">
              <app-iframe-component [view]="view" [component]="component"></app-iframe-component>
            </ng-template>
            <ng-template [ngIf]="component.card_type=='Custom'">
              <app-custom-component [view]="'display'" [component]="component"></app-custom-component>
            </ng-template>
            <ng-template [ngIf]="component.card_type == 'Carousel'">
              <app-carousel-component [component]="component" [view]="view" [col_count]="row.components.length"></app-carousel-component>
            </ng-template>
            <ng-template [ngIf]="component.card_type == 'Gallery'">
              <app-gallery-component [component]="component" [view]="view" [col_count]="row.components.length"></app-gallery-component>
            </ng-template>
            <ng-template [ngIf]="component.card_type == 'Image Divider'">
              <app-image-divider-component [view]="view" [component]="component"></app-image-divider-component>
            </ng-template>
            <ng-template [ngIf]="component.card_type == 'Team Member'">
              <app-team-member-component [view]="view" [component]="component"></app-team-member-component>
            </ng-template>
            <ng-template [ngIf]="component.card_type == 'Testimonial'">
              <app-testimonial-component [view]="view" [component]="component"></app-testimonial-component>
            </ng-template>
            <ng-template [ngIf]="component.card_type == 'Button'">
              <app-button-component [view]="view" [component]="component"></app-button-component>
            </ng-template>
            <ng-template [ngIf]="component.card_type == 'Form'">
              <app-form-maker-component [view]="view" [component]="component"></app-form-maker-component>
            </ng-template>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
</ng-container>
