<div class="content-block responsive-paddings">
  <dx-toolbar class="content-list__header py-2">
    <dxi-item location="before" locateInMenu="never">
      <div *dxTemplate>
        <h2 class="content-block responsive-paddings underline">{{itemType}}</h2>
      </div>
    </dxi-item>
    <dxi-item
      location="after"
      widget="dxButton"
      [options]="{
        hint: 'ADD ' + itemType | uppercase,
        type: 'default',
        text: 'ADD ' + itemType | uppercase,
        stylingMode: 'contained',
        onClick: showAddModal
      }"
    ></dxi-item>
  </dx-toolbar>
</div>

<dx-data-grid class="dx-card wide-card"
  #grid
  [dataSource]="datasource$ | async"
  [height]="'50vh'"
  [showBorders]="false"
  [showColumnLines]="true"
  [showColumnLines]="true"
  [showRowLines]="true"
  [focusedRowEnabled]="true"
  [columnAutoWidth]="true">

  <dxo-scrolling mode="virtual"></dxo-scrolling>
  <dxo-filter-row [visible]="true"></dxo-filter-row>

  <dxi-column dataField="imageUrl" cellTemplate="imageCellTemplate"></dxi-column>
  <dxi-column dataField="order" dataType="number"></dxi-column>
  <dxi-column dataField="name"></dxi-column>
  <dxi-column type="buttons" caption="Actions" [allowReordering]="false">
    <dxi-button icon="edit" hint="EDIT" [onClick]="showEditModal"></dxi-button>
    <dxi-button icon="trash" hint="DELETE" [onClick]="delete"></dxi-button>
  </dxi-column>

  <div *dxTemplate="let data of 'imageCellTemplate'">
    <img *ngIf="data?.value" width="100" [src]="data?.value?.url" [alt]="data?.value?.name"/>
  </div>
</dx-data-grid>

<dx-popup
  [showTitle]="true"
  [dragEnabled]="false"
  [visible]="isVisible$ | async"
  height="40%"
  width="50%"
  [showCloseButton]="true"
  (onHiding)="onCancel()">
  <dxi-toolbar-item toolbar="top" location="center">
    <div *dxTemplate>
      <p class="popup-title">
        {{ selectedItem?.id ? 'EDIT' : 'ADD' }} {{itemType | uppercase}}
      </p>
    </div>
  </dxi-toolbar-item>
  <div *dxTemplate="let data of 'content'">
    <div class="add-item-modal">
      <div class="add-item-modal__content" *ngIf="isVisible$ | async">
        <dx-form
          #addEditForm
          [(formData)]="selectedItem"
          [showColonAfterLabel]="false"
          labelLocation="left"
          [colCount]="3">
          <dxi-item dataField="order" [colSpan]="1">
            <div *dxTemplate>
              <dx-number-box [(value)]="selectedItem.order"></dx-number-box>
            </div>
          </dxi-item>
          <dxi-item dataField="name" [colSpan]="2"></dxi-item>
          <dxi-item dataField="imageUrl.name" [colSpan]="3" [disabled]="true"></dxi-item>
        </dx-form>
      </div>
      <div class="add-item-modal__button-group">
        <dx-button
          text="Upload Image"
          width="250px"
          stylingMode="contained"
          type="normal"
          [disabled]="inProgress$ | async"
          (onClick)="showSingleImageModal()">
        </dx-button>
        <dx-button
          text="CANCEL"
          stylingMode="contained"
          type="normal"
          [disabled]="inProgress$ | async"
          (onClick)="onCancel()">
        </dx-button>
        <app-indicator-button
          [isInProgress]="inProgress$ | async"
          [title]="'SAVE'"
          [disabled]="inProgress$ | async"
          (onClick)="onSave(selectedItem)">
        </app-indicator-button>
      </div>
    </div>
  </div>
</dx-popup>

<ng-container *ngIf="isSingleImageVisible$ | async">
  <app-image-uploader
    [card]="selectedItem"
    [isList]="false"
    [field]="'imageUrl'"
    [selectionMode]="'single'"
    [imageSelectVisible]="isSingleImageVisible$ | async"
    (imageSelectClosed)="closeSingleImageModal()">
  </app-image-uploader>
</ng-container>
