<ng-container *ngIf="view=='edit'">
    <div class="mt-5 mb-5 text-center justify-content-around">
        <button class="btn btn-primary mr-3" id="edit-component-buttons" (click)="showPopup()">Configure Boolean Input</button>
    </div>
    <ng-container *ngIf="viewConfig">
        <dx-popup
            [width]="500"
            [height]="getScreenHeight()"
            [showTitle]="true"
            title="Configure Boolean Input"
            [dragEnabled]="true"
            [hideOnOutsideClick]="false"
            [(visible)]="viewConfig"
            [showCloseButton]="true">
            <dx-scroll-view [showScrollbar]="'true'" style="height:85%;">
                <div class="dx-field">
                        <div class="dx-field-label">Results Order</div>
                        <div class="dx-field-value">
                            <dx-text-box [(ngModel)]="input.result_order"></dx-text-box>
                        </div>
                    </div>
                    <div class="dx-field">
                        <div class="dx-field-label">Label</div>
                        <div class="dx-field-value">
                            <dx-text-box [(ngModel)]="input.boolean.label"></dx-text-box>
                        </div>
                    </div>
                    <div class="dx-field">
                        <div class="dx-field-label">Field Name</div>
                        <div class="dx-field-value">
                            <dx-text-box [(ngModel)]="input.boolean.field_name"></dx-text-box>
                        </div>
                    </div>
                    <div class="dx-field">
                        <div class="dx-field-label">On Value</div>
                        <div class="dx-field-value">
                          <dx-text-box [(ngModel)]="input.boolean.on_value"></dx-text-box>
                        </div>
                      </div>
                      <div class="dx-field">
                        <div class="dx-field-label">Off Value</div>
                        <div class="dx-field-value">
                          <dx-text-box [(ngModel)]="input.boolean.off_value"></dx-text-box>
                        </div>
                      </div>
                </dx-scroll-view>
                <div class="row d-flex my-5 justify-content-around" style="margin: 0 auto;">
                    <div class="col-lg-6 text-center">
                      <dx-button width="100" stylingMode="contained" text="Save" type="default" (onClick)="viewConfig = false"></dx-button>
                    </div>
                    <div class="col-lg-6 text-center">
                      <dx-button width="100" stylingMode="contained" text="Cancel" type="default" (onClick)="resetForm()"></dx-button>
                    </div>
                  </div>
        </dx-popup>
    </ng-container>
</ng-container>



<!--Boolean Display-->
<ng-container *ngIf="view == 'display' || view == 'preview'">
    <ng-container *ngIf="form.position == 'top' || form.position == 'placeholder'">
        <div class="col" style="padding:0 !important">
            <label class="pt-2" for="{{input.boolean.label}}">{{input.boolean.label}}</label>
        </div>
        <div class="col" style="padding:0 !important">
            <dx-switch
                [(ngModel)]="formToSubmit[input.boolean.field_name]"
                [switchedOnText]="input.boolean.on_value"
                [switchedOffText]="input.boolean.off_value"
                [width]="100">
            </dx-switch>
        </div>
    </ng-container>
    <ng-container *ngIf="form.position == 'left'">
        <div class="row">
            <div class="col" style="float:left; width: 80%;">
                <label for="{{input.boolean.label}}">{{input.boolean.label}}</label>
            </div>
            <div class="col" style=" float:right; width: 20%;">
                <dx-switch
                    [(ngModel)]="formToSubmit[input.boolean.field_name]"
                    [switchedOnText]="input.boolean.on_value"
                    [switchedOffText]="input.boolean.off_value"
                    [width]="100">
                </dx-switch>
            </div>
        </div>
    </ng-container>
</ng-container>
