<div class="container-fluid">
   <div id="data-grid-demo">
        <dx-data-grid id="gridContainer" [dataSource]="videoDataSource" [showBorders]="true" [renderAsync]="true" (onRowUpdating)="onRowUpdating($event)">
            <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
            <dxo-load-panel [enabled]="true"></dxo-load-panel>
            <dxo-scrolling mode="virtual"></dxo-scrolling>
            <dxo-editing mode="popup" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true" [useIcons]="true">
                <dxo-popup title="Video Information" [showTitle]="true" [width]="700" [height]="getScreenHeight()">
                </dxo-popup>
            </dxo-editing>
            <dxo-sorting mode="multiple"></dxo-sorting>
            <dxi-column dataField="video_title" [caption]="'Title'"></dxi-column>
            <dxi-column dataField="video_type">
                <dxo-lookup [dataSource]="['Take5', 'Other']" [allowClearing]="false">
                </dxo-lookup>
            </dxi-column>
            <dxi-column dataField="video_source">
                <dxo-lookup [dataSource]="['Youtube', 'Vimeo']" [allowClearing]="false">
                </dxo-lookup>
            </dxi-column>
            <dxi-column dataField="video_id"></dxi-column>
            <dxi-column dataField="video_height" [caption]="'Height'"></dxi-column>
            <dxi-column dataField="video_width" [caption]="'Width'"></dxi-column>
            <dxi-column dataField="video_month" [caption]="'Month'">
                <dxo-lookup [dataSource]="months" [allowClearing]="false" [displayExpr]="'name'" [valueExpr]="'value'">
                </dxo-lookup>
            </dxi-column>
            <dxi-column dataField="video_year" [caption]="'Year'">
                <dxo-lookup [dataSource]="years" [allowClearing]="false">
                </dxo-lookup>
            </dxi-column>
            <dxi-column type="buttons" [fixed]="true">
                <dxi-button name="edit"></dxi-button>
                <dxi-button name="delete"></dxi-button>
            </dxi-column>
        </dx-data-grid>
    </div>
