<ng-container *ngIf="view=='edit'">
  <div class="mt-5 mb-5 text-center justify-content-around">
    <button class="btn btn-primary mr-3" id="edit-component-buttons" (click)="showPopup()">Configure Testimonial</button>
  </div>

  <!--Testimonial Popup Configuration-->
  <ng-container *ngIf="viewConfig">
    <dx-popup
      [width]="800"
      [height]="getScreenHeight()"
      [showTitle]="true"
      title="Configure Testimonial"
      [dragEnabled]="true"
      [hideOnOutsideClick]="false"
      [(visible)]="viewConfig"
      [showCloseButton]="true"
      [position]="{ my: 'top', at: 'top'}">
      <dx-scroll-view [showScrollbar]="'true'" style="height:85%;">
        <div class="add-images-popup">
          <div class="dx-field mb-2">
            <div class="dx-field-label">Add Images</div>
            <div class="dx-field-value">
              <dx-button class="testimonials-popup-button" name="angulareditor" [icon]="'add'" (onClick)="displayImageSelection('url', editedTestimonial)"></dx-button>
            </div>
          </div>
          <dx-data-grid
            id="gridContainer"
            [width]="'100%'"
            [dataSource]="component.testimonial.items"
            [showBorders]="true"
            [width]="'100%'"
            [height]="150">
            <dxo-editing
              mode="popup"
              [allowDeleting]="true"
              [useIcons]="true">
            </dxo-editing>
            <dxo-row-dragging
              [allowReordering]="true"
              [onReorder]="onReorder"
              [showDragIcons]="true">
            </dxo-row-dragging>
            <dxo-scrolling mode="infinite"></dxo-scrolling>
            <dxo-sorting mode="multiple"></dxo-sorting>
            <dxi-column dataField="name" caption="Customer Name" dataType="string" ></dxi-column>
            <dxi-column dataField="title" caption="Customer Title" dataType="string"></dxi-column>
            <dxi-column dataField="quote" caption="Quote" dataType="string"></dxi-column>
            <dxi-column type="buttons" [width]="110">
              <dxi-button name="edit" [onClick]="displayImageSelection.bind(this ,'url')"></dxi-button>
              <dxi-button name="delete"></dxi-button>
            </dxi-column>
          </dx-data-grid>
        </div>
        <app-footer-view [component]="component"></app-footer-view>
      </dx-scroll-view>
      <div class="row d-flex my-5 justify-content-around" style="margin: 0 auto;">
        <div class="col-lg-6 text-center">
          <dx-button width="100" stylingMode="contained" text="Save" type="default" (onClick)="viewConfig = false"></dx-button>
        </div>
        <div class="col-lg-6 text-center">
          <dx-button width="100" stylingMode="contained" text="Cancel" type="default" (onClick)="resetForm()"></dx-button>
        </div>
      </div>
    </dx-popup>
  </ng-container>

  <!--Image Upload Popup-->
  <ng-container *ngIf="imageSelectVisible">
    <app-card-image-uploader
      [card]="editedTestimonial"
      [field]="editedField"
      [imageSelectVisible]="imageSelectVisible"
      (imageSelectClosed)="closeItemWindow($event)">
      <div class="row d-flex">
        <div class="col">
          <div class="dx-field mt-2">
            <div class="dx-field-label">Customer Name</div>
            <div class="dx-field-value">
              <dx-text-box [(ngModel)]="editedTestimonial.name"></dx-text-box>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="dx-field mt-2">
            <div class="dx-field-label">Customer Title</div>
            <div class="dx-field-value">
              <dx-text-box [(ngModel)]="editedTestimonial.title"></dx-text-box>
            </div>
          </div>
        </div>
      </div>
      <div class="row d-flex">
        <div class="col">
          <div class="dx-field mt-2">
            <div class="dx-field-label" style="width: auto;">Customer Quote</div>
            <div class="dx-field-value" style="width: 80.6%;">
              <dx-text-area [(ngModel)]="editedTestimonial.quote"></dx-text-area>
            </div>
          </div>
        </div>
      </div>
    </app-card-image-uploader>
  </ng-container>
</ng-container>


<!--Testimonial Display-->
<ng-container *ngIf="view == 'display' || view == 'preview'">
  <div class="col-xs-2 justify-content-around">
    <div class="testimonials-heading text-center">
      <p>Our Testimonials</p>
      <h3>WHAT THEY SAY ABOUT US</h3>
      <hr class="testimonial-hr">
    </div>
  </div>
  <div class="col-xs-2"></div>
</ng-container>


