<div class="row" *ngIf="currentVideo">
  <div class="col-8">
    <h1>{{currentVideo.video_title}}</h1>
  </div>
  <div class="col-4">
    <dx-select-box style="width: 100%;"
      [items]='allVideos'
      [displayExpr]="'video_title'"
      [valueExpr]="'dbId'"
      (onValueChanged)="changeCurrentRecord($event)"
      [(value)]="currentVideo.dbId">
    </dx-select-box>
  </div>
</div>

<ng-container *ngIf="currentVideo && currentVideo.video_source=='Youtube'">
  <div class="row d-flex justify-content-around">
    <iframe [src]="currentVideo | safeVideoYoutubeUrlPipe" [width]="getWidth(currentVideo)" [height]="getHeight(currentVideo)" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
  </div>
</ng-container>
<ng-container *ngIf="currentVideo && currentVideo.video_source=='Vimeo'">
  <div class="row d-flex justify-content-around">
    <iframe [src]="currentVideo | safeVideoVimeoUrlPipe" [width]="getWidth(currentVideo)" [height]="getHeight(currentVideo)" frameborder="0" allow="autoplay; fullscreen" allowfullscreen=""> </iframe>
  </div>
</ng-container>
