<div class="content-block responsive-paddings">
  <dx-toolbar class="content-list__header py-2">
    <dxi-item location="before" locateInMenu="never">
      <div *dxTemplate>
        <h2 class="content-block responsive-paddings underline">{{itemType}}s</h2>
      </div>
    </dxi-item>
    <dxi-item
      location="after"
      widget="dxButton"
      [options]="{
        hint: 'MANAGE CATEGORIES',
        type: 'default',
        text: 'MANAGE CATEGORIES',
        stylingMode: 'contained',
        onClick: showCategoriesModal
      }">
    </dxi-item>
    <dxi-item
      location="after"
      widget="dxButton"
      [options]="{
        hint: 'ADD ' + itemType | uppercase,
        type: 'default',
        text: 'ADD ' + itemType | uppercase,
        stylingMode: 'contained',
        onClick: showAddModal
      }"
    ></dxi-item>
  </dx-toolbar>
</div>

<dx-data-grid class="dx-card wide-card"
  #grid
  [dataSource]="datasource$ | async"
  [height]="'75vh'"
  [showBorders]="true"
  [showColumnLines]="true"
  [showRowLines]="true"
  [focusedRowEnabled]="true"
  [columnAutoWidth]="true">

  <dxo-scrolling mode="virtual"></dxo-scrolling>
  <dxo-filter-row [visible]="true"></dxo-filter-row>

  <dxi-column dataField="isActive" dataType="boolean" [width]="60" [caption]="'Active'"></dxi-column>
  <dxi-column dataField="mainImage" [width]="120" cellTemplate="imageCellTemplate"></dxi-column>
  <dxi-column dataField="date" [dataType]="'datetime'"></dxi-column>
  <dxi-column dataField="category">
    <dxo-lookup [dataSource]="blogCategories" [displayExpr]="'tag'" [valueExpr]="'id'"></dxo-lookup>
  </dxi-column>
  <dxi-column dataField="blogText" [visible]="false"></dxi-column>
  <dxi-column dataField="extraImages" [visible]="false"></dxi-column>
  <dxi-column dataField="tags"[visible]="false">
    <dxo-lookup [dataSource]="blogTags" [displayExpr]="'tag'" [valueExpr]="'id'"></dxo-lookup>
  </dxi-column>
  <dxi-column type="buttons" caption="Actions" [allowReordering]="false">
    <dxi-button icon="edit" hint="EDIT" [onClick]="showEditModal"></dxi-button>
    <dxi-button icon="trash" hint="DELETE" [onClick]="delete"></dxi-button>
  </dxi-column>

  <div *dxTemplate="let data of 'imageCellTemplate'">
    <img *ngIf="data?.value" width="100" [src]="data?.value?.url" [alt]="data?.value?.name"/>
  </div>
</dx-data-grid>

<dx-popup
  [showTitle]="true"
  [dragEnabled]="false"
  [visible]="isVisible$ | async"
  [width]="'70%'"
  [height]="'90%'"
  [showCloseButton]="true"
  (onHiding)="onCancel()">
  <dxi-toolbar-item toolbar="top" location="center">
    <div *dxTemplate>
      <p class="popup-title">
        {{ selectedItem?.id ? 'EDIT' : 'ADD' }} {{itemType | uppercase}}
      </p>
    </div>
  </dxi-toolbar-item>
  <dxi-toolbar-item toolbar="top" location="after" *ngIf="isVisible$ | async">
    <div *dxTemplate>
      <dx-switch [(value)]="selectedItem.isActive" [switchedOnText]="'Live'" [switchedOffText]="'Hidden'" [width]="100"></dx-switch>
    </div>
  </dxi-toolbar-item>
  <div *dxTemplate="let data of 'content'">
    <div class="add-item-modal">
      <div class="add-item-modal__content" *ngIf="isVisible$ | async">
        <dx-form
          #addEditForm
          class="pb-2"
          [(formData)]="selectedItem"
          [showColonAfterLabel]="false"
          labelLocation="left"
          [colCount]="2">
          <dxi-item dataField="date" [editorType]="'dxDateBox'" [isRequired]="true" [colSpan]="1"></dxi-item>
          <dxi-item dataField="category" [colSpan]="1">
            <div *dxTemplate>
              <dx-select-box [(value)]="selectedItem.category" [dataSource]="blogCategories" [displayExpr]="'tag'" [valueExpr]="'id'" [showClearButton]="true"></dx-select-box>
            </div>
          </dxi-item>
          <dxi-item dataField="title" [isRequired]="true" [colSpan]="2"></dxi-item>
          <dxi-item dataField="mainImage.name" [colSpan]="2" [label]="{text: 'Image Name'}" [disabled]="true"></dxi-item>
          <dxi-item [colSpan]="2">
            <div *dxTemplate>
              <dx-html-editor [height]="'400px'" [(value)]="selectedItem.blogText">
                <dxo-toolbar [multiline]="false">
                  <dxi-item name="undo"></dxi-item>
                  <dxi-item name="redo"></dxi-item>
                  <dxi-item name="separator"></dxi-item>
                  <dxi-item
                    name="size"
                    [acceptedValues]="['8pt', '10pt', '12pt', '14pt', '18pt', '24pt', '36pt']"
                    [options]="{ inputAttr: { 'aria-label': 'Font size' } }">
                  </dxi-item>
                  <dxi-item
                    name="font"
                    [acceptedValues]="[
                      'Arial',
                      'Courier New',
                      'Georgia',
                      'Impact',
                      'Lucida Console',
                      'Tahoma',
                      'Times New Roman',
                      'Verdana'
                    ]"
                    [options]="{ inputAttr: { 'aria-label': 'Font family' } }">
                  </dxi-item>
                  <dxi-item name="separator"></dxi-item>
                  <dxi-item name="bold"></dxi-item>
                  <dxi-item name="italic"></dxi-item>
                  <dxi-item name="strike"></dxi-item>
                  <dxi-item name="underline"></dxi-item>
                  <dxi-item name="separator"></dxi-item>
                  <dxi-item name="alignLeft"></dxi-item>
                  <dxi-item name="alignCenter"></dxi-item>
                  <dxi-item name="alignRight"></dxi-item>
                  <dxi-item name="alignJustify"></dxi-item>
                  <dxi-item name="separator"></dxi-item>
                  <dxi-item name="orderedList"></dxi-item>
                  <dxi-item name="bulletList"></dxi-item>
                  <dxi-item name="separator"></dxi-item>
                  <dxi-item
                    name="header"
                    [acceptedValues]="[false, 1, 2, 3, 4, 5]"
                    [options]="{ inputAttr: { 'aria-label': 'Header' } }">
                  </dxi-item>
                  <dxi-item name="separator"></dxi-item>
                  <dxi-item name="color"></dxi-item>
                  <dxi-item name="background"></dxi-item>
                  <dxi-item name="separator"></dxi-item>
                  <dxi-item name="link"></dxi-item>
                  <dxi-item name="image"></dxi-item>
                  <dxi-item name="separator"></dxi-item>
                  <dxi-item name="clear"></dxi-item>
                  <dxi-item name="codeBlock"></dxi-item>
                  <dxi-item name="blockquote"></dxi-item>
                  <dxi-item name="separator"></dxi-item>
                  <dxi-item name="insertTable"></dxi-item>
                  <dxi-item name="deleteTable"></dxi-item>
                  <dxi-item name="insertRowAbove"></dxi-item>
                  <dxi-item name="insertRowBelow"></dxi-item>
                  <dxi-item name="deleteRow"></dxi-item>
                  <dxi-item name="insertColumnLeft"></dxi-item>
                  <dxi-item name="insertColumnRight"></dxi-item>
                  <dxi-item name="deleteColumn"></dxi-item>
                </dxo-toolbar>
              </dx-html-editor>
            </div>
          </dxi-item>
          <dxi-item [label]="{text: 'Tags'}" [colSpan]="2">
            <div *dxTemplate>
              <dx-tag-box
                [dataSource]="blogTags"
                [(value)]="selectedItem.tags"
                [displayExpr]="'tag'"
                [acceptCustomValue]="true"
                [hideSelectedItems]="true"
                placeholder="Tag this Blog..."
                (onCustomItemCreating)="onCustomItemCreating($event)">
              </dx-tag-box>
            </div>
          </dxi-item>
        </dx-form>
      </div>
      <div class="add-item-modal__button-group pb-2">
        <dx-button
          text="Upload Main Image"
          width="250px"
          stylingMode="contained"
          type="normal"
          [disabled]="inProgress$ | async"
          (onClick)="showSingleImageModal()">
        </dx-button>
        <dx-button
          text="Upload Other Image"
          width="250px"
          stylingMode="contained"
          type="normal"
          [disabled]="inProgress$ | async"
          (onClick)="showMultipleImageModal()">
        </dx-button>
        <dx-button
          text="CANCEL"
          stylingMode="contained"
          type="normal"
          [disabled]="inProgress$ | async"
          (onClick)="onCancel()">
        </dx-button>
        <app-indicator-button
          [isInProgress]="inProgress$ | async"
          [title]="'SAVE'"
          [disabled]="inProgress$ | async"
          (onClick)="onSave(selectedItem)">
        </app-indicator-button>
      </div>
    </div>
  </div>
</dx-popup>

<ng-container *ngIf="isSingleImageVisible$ | async">
  <app-image-uploader
    [card]="selectedItem"
    [isList]="false"
    [field]="'mainImage'"
    [selectionMode]="'single'"
    [imageSelectVisible]="isSingleImageVisible$ | async"
    (imageSelectClosed)="closeSingleImageModal()">
  </app-image-uploader>
</ng-container>

<ng-container *ngIf="isMultipleImageVisible$ | async">
  <app-image-uploader
    [card]="selectedItem"
    [isList]="true"
    [field]="'extraImages'"
    [selectionMode]="'multiple'"
    [imageSelectVisible]="isMultipleImageVisible$ | async"
    (imageSelectClosed)="closeMultipleImageModal()">
  </app-image-uploader>
</ng-container>

<dx-popup
  [showTitle]="true"
  [dragEnabled]="false"
  [visible]="isCategoriesVisible$ | async"
  [width]="'30%'"
  [height]="'60%'"
  [showCloseButton]="true"
  (onHiding)="onCategoriesCancel()">
  <app-blog-categories (seriesSelectClosed)="onCategoriesCancel()"></app-blog-categories>
</dx-popup>



