<div class="container-fluid">
    <div id="data-grid-demo">
        <dx-data-grid id="gridContainer"
            [dataSource]="dataSource"
            [showBorders]="true"
            [renderAsync]="true"
            (onRowUpdating)="onRowUpdating($event)">
            <dxo-load-panel [enabled]="true"></dxo-load-panel>
            <dxo-scrolling mode="virtual"></dxo-scrolling>
            <dxi-column dataField="title"></dxi-column>

            <dxi-column dataField="field">
                <dxo-lookup [dataSource]="fieldSource" [allowClearing]="false" [displayExpr]="'name'" [valueExpr]="'value'"></dxo-lookup>
            </dxi-column>
            <dxi-column dataField="value" editCellTemplate="valueTemplate"></dxi-column>
            <dxi-column dataField="card_id" [caption]="'Card'">
                <dxo-lookup [dataSource]="cardSource" [allowClearing]="false" [valueExpr]="'dbId'" [displayExpr]="'name'"></dxo-lookup>
            </dxi-column>
            <dxi-column type="buttons" [width]="145" [fixed]="true" [caption]="'Command'">
                <dxi-button name="edit"></dxi-button>
                <dxi-button name="delete"></dxi-button>
                <dxi-button hint="View Splash Screen" icon="search" [visible]="true" [onClick]="viewSplashScreen.bind(this)"></dxi-button>
            </dxi-column>

            <div *dxTemplate="let cellInfo of 'valueTemplate'">
                <dx-select-box [items]="getDataSource(cellInfo)" [(value)]="cellInfo.value" [displayExpr]="'name'" [valueExpr]="'value'" (onValueChanged)="cellInfo.setValue($event.value)"></dx-select-box>
            </div>
        </dx-data-grid>
    </div>
</div>

<dx-popup [visible]="showSplashScreen" [showTitle]="true" [title]="'Announcements'" (onHidden)="hideSplashScreen()">
    <dx-scroll-view width="100%" height="100%"
        [showScrollbar]="'true'"
        [scrollByContent]="true"
        [scrollByThumb]="true">
        <div #carddiv></div>
    </dx-scroll-view>
</dx-popup>
