<ng-container *ngIf="view=='edit'">
  <div class="mt-5 mb-5 text-center justify-content-around">
    <button class="btn btn-primary mr-3" id="edit-component-buttons" (click)="showPopup()">Configure Custom</button>
  </div>

  <!--Custom Popup Configuration-->
  <ng-container *ngIf="viewConfig">
    <dx-popup
      [width]="800"
      [height]="getScreenHeight()"
      [showTitle]="true"
      title="Configure Custom Component"
      [dragEnabled]="true"
      [hideOnOutsideClick]="false"
      [(visible)]="viewConfig"
      [showCloseButton]="true"
      [position]="{ my: 'top', at: 'top'}">
      <dx-scroll-view [showScrollbar]="'always'" style="height:85%;">
        <app-component-header-view [component]="component" [view]="view"></app-component-header-view>
        <div class="row">
          <div class="col">
              <h3>Component Body</h3>
          </div>
        </div>
        <div class="dx-field">
          <div class="dx-field-label custom-field-label">HTML</div>
          <div class="dx-field-value custom-field-value">
            <dx-text-area [(ngModel)]="component.custom_item.html" [height]="75"></dx-text-area>
          </div>
        </div>
        <div class="dx-field">
          <div class="dx-field-label custom-field-label">Script Source File</div>
          <div class="dx-field-value custom-field-value">
            <dx-text-box [(ngModel)]="component.custom_item.script_source_file"></dx-text-box>
          </div>
        </div>
        <div class="dx-field">
          <div class="dx-field-label custom-field-label">Custom Script</div>
          <div class="dx-field-value custom-field-value">
            <dx-text-area [(ngModel)]="component.custom_item.custom_script" [height]="75"></dx-text-area>
          </div>
        </div>
        <app-footer-view [component]="component" [view]="view"></app-footer-view>
      </dx-scroll-view>
      <div class="row d-flex my-5 justify-content-around" style="margin: 0 auto;">
        <div class="col-lg-6 text-center">
          <dx-button width="100" stylingMode="contained" text="Save" type="default" (onClick)="viewConfig = false"></dx-button>
        </div>
        <div class="col-lg-6 text-center">
          <dx-button width="100" stylingMode="contained" text="Cancel" type="default" (onClick)="resetForm()"></dx-button>
        </div>
      </div>
    </dx-popup>
  </ng-container>
</ng-container>



<!--Custom Display-->
<ng-container *ngIf="view == 'display' || view == 'preview'">
  <app-component-header-view [component]="component" [view]="view"></app-component-header-view>
  <div class="row d-flex justify-content-around">
    <div [innerHTML]="component.custom_item.html | safeHTMLUrl"></div>
  </div>
  <app-footer-view [component]="component" [view]="view"></app-footer-view>
</ng-container>

