<ng-container *ngIf="view=='edit'">
    <div class="mt-5 mb-5 text-center justify-content-around">
        <button class="btn btn-primary mr-3" id="edit-component-buttons" (click)="showPopup()">Configure Select Box Input</button>
    </div>
    <ng-container *ngIf="viewConfig">
        <dx-popup
            [width]="500"
            [height]="getScreenHeight()"
            [showTitle]="true"
            title="Configure Select Box Input"
            [dragEnabled]="true"
            [hideOnOutsideClick]="false"
            [(visible)]="viewConfig"
            [showCloseButton]="true">
            <dx-scroll-view [showScrollbar]="'true'" style="height:85%;">
                <div class="dx-field">
                    <div class="dx-field-label">Results Order</div>
                    <div class="dx-field-value">
                        <dx-text-box [(ngModel)]="input.result_order"></dx-text-box>
                    </div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label">Required</div>
                    <div class="dx-field-value">
                        <dx-select-box [(ngModel)]="input.required" [items]="[true, false]"></dx-select-box>
                    </div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label">Label</div>
                    <div class="dx-field-value">
                    <dx-text-box [(ngModel)]="input.select.label"></dx-text-box>
                    </div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label">Field Name</div>
                    <div class="dx-field-value">
                    <dx-text-box [(ngModel)]="input.select.field_name"></dx-text-box>
                    </div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label">Select Values</div>
                    <div class="dx-field-value">
                        <dx-tag-box
                        [(value)]="input.select.select_values"
                        displayExpr="value"
                        [openOnFieldClick]="false"
                        [acceptCustomValue]="true"
                        (onCustomItemCreating)="onCustomItemCreating($event)">
                        </dx-tag-box>
                    </div>
                </div>
                <div class="row d-flex my-5 justify-content-around" style="margin: 0 auto;">
                    <div class="col-lg-6 text-center">
                        <dx-button width="100" stylingMode="contained" text="Save" type="default" (onClick)="viewConfig = false"></dx-button>
                    </div>
                    <div class="col-lg-6 text-center">
                        <dx-button width="100" stylingMode="contained" text="Cancel" type="default" (onClick)="resetForm()"></dx-button>
                    </div>
                </div>
            </dx-scroll-view>
        </dx-popup>
    </ng-container>
</ng-container>

<!--Select Display-->
<ng-container *ngIf="view == 'display' || view == 'preview'">
    <ng-container *ngIf="form.position == 'top'">
        <label class="align-text-middle pt-2" for="{{input.select.label}}">{{input.select.label}}</label>
        <dx-select-box
            [searchEnabled]="true"
            [items]="input.select.select_values"
            [displayExpr]="'value'"
            [valueExpr]="'value'">
            <dx-validator>
                <dxi-validation-rule
                  type="required"
                  message="Field is required">
                </dxi-validation-rule>
              </dx-validator>
        </dx-select-box>
    </ng-container>
    <ng-container *ngIf="form.position == 'left'">
        <label  style="float: left; width: 19%; margin-right:1%;" class="align-text-middle pt-2" for="{{input.select.label}}">{{input.select.label}}</label>
        <dx-select-box
            [searchEnabled]="true"
            style="float: right; width: 80%;"
            [items]="input.select.select_values"
            [displayExpr]="'value'"
            [valueExpr]="'value'">
            <dx-validator>
                <dxi-validation-rule
                  type="required"
                  message="Field is required">
                </dxi-validation-rule>
              </dx-validator>
        </dx-select-box>
    </ng-container>
    <ng-container *ngIf="form.position == 'placeholder'">
        <dx-select-box
            [searchEnabled]="true"
            [items]="input.select.select_values"
            [displayExpr]="'value'"
            [valueExpr]="'value'"
            [placeholder]="input.select.label">
            <dx-validator>
                <dxi-validation-rule
                  type="required"
                  message="Field is required">
                </dxi-validation-rule>
              </dx-validator>
        </dx-select-box>
    </ng-container>
</ng-container>








