<ng-container *ngIf="view=='edit'">
    <div class="mt-5 mb-5 text-center justify-content-around">
        <button class="btn btn-primary mr-3" id="edit-component-buttons" (click)="showPopup()">Configure Team Member</button>
    </div>

    <!--Team Member Popup Configuration-->
    <ng-container *ngIf="viewConfig">
		<dx-popup
			[width]="800"
			[height]="getScreenHeight()"
			[showTitle]="true"
			title="Configure Team Member"
			[dragEnabled]="true"
			[hideOnOutsideClick]="false"
			[(visible)]="viewConfig"
			[showCloseButton]="true"
			[position]="{ my: 'top', at: 'top'}">
			<dx-scroll-view [showScrollbar]="'always'" style="height:85%;">
				<div class="dx-field">
					<div class="dx-field-label">Team Member Name</div>
					<div class="dx-field-value">
							<dx-text-box [(value)]="component.team_member.name"></dx-text-box>
					</div>
				</div>
				<div class="dx-field">
					<div class="dx-field-label">Team Member Title</div>
					<div class="dx-field-value">
							<dx-text-box [(value)]="component.team_member.title"></dx-text-box>
					</div>
				</div>
				<div class="dx-field">
					<div class="dx-field-label">Team Member Linked-In Url</div>
					<div class="dx-field-value">
							<dx-text-box [(value)]="component.team_member.linkedin"></dx-text-box>
					</div>
				</div>
				<div class="dx-field">
					<div class="dx-field-label">Team Member Email Address</div>
					<div class="dx-field-value">
							<dx-text-box [(value)]="component.team_member.email"></dx-text-box>
					</div>
				</div>
				<div class="dx-field">
					<div class="dx-field-label">Image URL</div>
					<div class="dx-field-value">
						<dx-text-box [(value)]="component.team_member.url" class="team-member-textbox"></dx-text-box>
						<dx-button style="float: right" [icon]="'add'" (onClick)="displayImageSelection('url', component.team_member)"></dx-button>
					</div>
				</div>
			</dx-scroll-view>
			<div class="row d-flex my-5 justify-content-around" style="margin: 0 auto;">
				<div class="col-lg-6 text-center">
					<dx-button width="100" stylingMode="contained" text="Save" type="default" (onClick)="viewConfig = false"></dx-button>
				</div>
				<div class="col-lg-6 text-center">
					<dx-button width="100" stylingMode="contained" text="Cancel" type="default" (onClick)="resetForm()"></dx-button>
				</div>
				</div>
		</dx-popup>
    </ng-container>
		<!--Image Uploader Popup-->
    <ng-container *ngIf="imageSelectVisible">
        <app-card-image-uploader
            [card]="component"
            [field]="editedField"
            [imageSelectVisible]="imageSelectVisible"
            (imageSelectClosed)="imageSelectClosed($event)">
        </app-card-image-uploader>
    </ng-container>
</ng-container>


<!--Team Member Display-->
<ng-container *ngIf="view == 'display' || view == 'preview'">
	<div class="row d-flex justify-content-around">
		<div class="container team-member-container">
			<div class="team-member-img" [ngStyle]="ag_team_member_image">
				<div class="team-info">
					<div class="team-member-name">{{ component.team_member.name }}</div>
					<div class="team-member-title">{{ component.team_member.title}}</div>
				</div>
				<div class="team-member-links">
					<div class="links">
						<a class="social-link" href="{{ component.team_member.linkedin }}">
								<img class="social-linkedin" src="../../../../assets/images/linkedin-icon.png">
						</a>
						<a class="social-link" href="mailto: {{ component.team_member.email }}">
								<img class="social-email" src="../../../../assets/images/mail-icon.png">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-container>
