@import 'ngx-toastr/toastr';
@import './assets/theme/css/fontAwesome5Pro.css';
@import './assets/theme/css/ionicons.min.css';
@import './assets/theme/css/animate.min.css';
@import "~bootstrap/dist/css/bootstrap.css";
@import './assets/theme/scss/main.scss';
@import './assets/theme/scss/variables';


.toolbar-label,
.toolbar-label > b {
  padding-left: 10px;
  font-size: 16px;
}

.toolbar {
  padding-top: 10px;
}

.content-list__header {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

//buttons
.impact-btn {
	position: relative;
	display: inline-block;
	text-transform: uppercase;
	text-align: center;
	font-weight: 600;
	height: 50px;
	line-height: 46px;
	padding: 0 42px;
	border: 2px solid #ebebeb;
	color: $black-2;
	background: transparent;
	z-index: 1;
	font-size: 12px;
	cursor: pointer;
	.dx-button-content {
		display: flex;
		justify-content: center;
	}
	& span{
		color: $theme-color;
	}
	&::after{
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 0;
		background-color: $theme-color;
		z-index: -1;
	}
	&:hover{
		color: $white;
		border-color: $theme-color;
		&::after{
			height: 100%;
		}
		& span{
			color: $white;
		}
	}
  &-primary{
		color: $white;
		background-color: $theme-color;
		border-color: $theme-color;
		&::after{
			background-color: $black-2;
		}
		&:hover{
			border-color: $black-2;
		}
    & span{
      color: $white;
    }
	}
	&-black-bg{
		color: $white;
		background-color: $black-2;
		border-color: $black-2;
		&::after{
			background-color: $theme-color;
		}
		&:hover{
			border-color: $theme-color;
		}
		.dx-icon {
			color: $white;
		}
	}
	&-black-border{
		color: $black-2;
		background-color: $white;
		border-color: $black-2;
		&::after{
			background-color: $theme-color;
		}
		&:hover{
			border-color: $theme-color;
		}
	}
	&-white{
		color: $white;
		border-color: $white;
		&:hover{
			color: $black-2;
			border-color: $white;
			&::after{
				background: $white;
			}
		}
	}
  &-white-primary {
    color: $white;
		border-color: $white;
    &:hover{
			color: $white;
			border-color: $theme-color;
			&::after{
				background: $theme-color;
			}
		}
  }
}

.impact-icon-btn {
	background: transparent;
	position: relative;
	z-index: 1;
	border: 2px solid #ebebeb;
	color: $black-2;
	position: relative;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	text-align: center;
	height: 50px;
	line-height: 46px;
  padding: 0 20px;
	i {
		font-size: 20px;
		margin-right: 10px;
	}
	cursor: pointer;
	.dx-button-content {
		display: flex;
		justify-content: center;
	}
	&::after{
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 0;
		background-color: $theme-color;
		z-index: -1;
	}
	&:hover{
		color: $white;
		border-color: $theme-color;
		&::after{
			height: 100%;
		}
		& span{
			color: $white;
		}
		i {
			color: $white;
		}
	}
	&:focus {
		i {
			color: $white;
		}
	}
	&-no-border {
		color: $black-2;
		background-color: $white;
		border-color: transparent;
		&::after{
			background-color: $theme-color;
		}
		&:hover{
			border-color: $theme-color;
		}
	}
	&-black-bg{
		color: $white;
		background-color: $black-2;
		border-color: $black-2;
		&::after{
			background-color: $theme-color;
		}
		&:hover{
			border-color: $theme-color;
		}
		.dx-icon {
			color: $white;
		}
	}
	&-black-border{
		color: $black-2;
		background-color: $white;
		border-color: $black-2;
		&::after{
			background-color: $theme-color;
		}
		&:hover{
			border-color: $theme-color;
		}
	}
}


//DX-OVERRIDES

.dx-switch {
  .dx-switch-container {
    background-color: rgb(218, 38, 38);
  }
}

.dx-switch.dx-state-hover {
  .dx-switch-container {
    background-color: rgb(218, 38, 38);
  }
}

.dx-switch-on-value, .dx-switch-on-value.dx-state-hover {
  .dx-switch-container {
    background-color: #099309;
  }
}

.dx-switch-on {
  color: #fff;
  letter-spacing: 1.2px;
  font-size: 12px;
}

.dx-switch-off {
  color: #fff;
  letter-spacing: 1.2px;
  font-size: 12px;
}

.dx-switch-on-value .dx-switch-handle::before {
  background-color: #ffffff;
}
.dx-switch-handle::before {
  background-color: #ffffff;
}

.dx-state-focused .dx-switch-handle::before {
  background-color: #ffffff !important;
}

.dx-switch.dx-state-hover .dx-switch-container {
  background-color: rgb(218, 38, 38);
  border-color: #fff;
}

.dx-switch.dx-switch-on-value.dx-state-hover .dx-switch-container {
  background-color: #099309;
  border-color: #fff;
}

.dx-switch.dx-state-hover .dx-switch-handle::before {
  background-color: #fff;
}

.dx-switch.dx-state-focused .dx-switch-container {
  border-color: #fff;
}
