<ng-container *ngIf="view=='edit'">
  <div class="dx-field">
    <div class="dx-field-label">Button Value</div>
    <div class="dx-field-value">
      <dx-text-box [(value)]="component.footer.button_name"></dx-text-box>
    </div>
  </div>
  <div class="dx-field">
    <div class="dx-field-label">Button</div>
    <div class="dx-field-value">
      <dx-select-box
        #cardButtonSelect
        [items]="buttonStyles"
        [(value)]="component.footer.button_style"
        [searchEnabled]="true">
      </dx-select-box>
      <div *ngIf="cardButtonSelect.value" class="mt-2 text-center" style="background-color: darkgrey;">
        <button
          type="button"
          class="btn-link {{component.footer.button_style}}">
            {{component.footer.button_name}}
          </button>
      </div>
    </div>
  </div>
  <div class="dx-field">
    <div class="dx-field-label">URL</div>
    <div class="dx-field-value">
      <dx-select-box #imageclickable
        [value]="component.footer.link_external ? 'External Link': 'Internal Link'"
        [items]="['External Link', 'Internal Link']"
        (onValueChanged)="onSelectionChanged($event)"
        [searchEnabled]="true"></dx-select-box>
    </div>
  </div>
  <ng-container *ngIf="imageclickable.value=='External Link'">
    <div class="dx-field">
      <div class="dx-field-label">On Click URL</div>
      <div class="dx-field-value">
        <dx-text-box [(value)]="component.footer.link.link"></dx-text-box>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="imageclickable.value=='Internal Link'">
    <div class="dx-field">
      <div class="dx-field-label">On Click URL</div>
      <div class="dx-field-value">
        <dx-text-box [(value)]="component.footer.link.label" style="width: 90%; float: left"></dx-text-box>
        <dx-button style="float: right" [icon]="'add'" (onClick)="displayPageSelection('link', component.footer)"></dx-button>
      </div>
    </div>
  </ng-container>

  <dx-popup
    [width]="500"
    [height]="650"
    [showTitle]="true"
    title="Select File"
    [dragEnabled]="false"
    [hideOnOutsideClick]="false"
    [(visible)]="pageSelectVisible"
    [showCloseButton]="true">

    <div class="row">
      <div class="col-12">
        <dx-select-box #page_type [items]="['Page', 'Product']"></dx-select-box>
      </div>
      <div class="col-12">
        <dx-list
          *ngIf="page_type.value == 'Page'"
          height="400"
          [displayExpr]="'name'"
          [dataSource]="pageList | async"
          selectionMode="single"
          [showSelectionControls]="true"
          [showScrollbar]="'always'"
          [(selectedItems)]="selectedPage">
        </dx-list>
        <dx-list
          *ngIf="page_type.value == 'Product'"
          height="400"
          [displayExpr]="'title'"
          [dataSource]="productList | async"
          selectionMode="single"
          [showSelectionControls]="true"
          [showScrollbar]="'always'"
          [(selectedItems)]="selectedProduct">
        </dx-list>
      </div>
    </div>
    <div class="row d-flex mt-5 justify-content-around" style="margin: 0 auto;">
      <div class="col-lg-6 text-center">
        <dx-button *ngIf="page_type.value == 'Page'" width="100" stylingMode="contained" text="Save" type="default" (onClick)="selectPage($event)"></dx-button>
        <dx-button *ngIf="page_type.value == 'Product'" width="100" stylingMode="contained" text="Save" type="default" (onClick)="selectProduct($event)"></dx-button>
      </div>
      <div class="col-lg-6 text-center">
        <dx-button width="100" stylingMode="contained" text="Cancel" type="default" (onClick)="closePageWindow()"></dx-button>
      </div>
    </div>
  </dx-popup>
</ng-container>

<ng-container *ngIf="view == 'display' || view == 'preview'">
  <button type="button" class="{{component.footer.button_style}}" (click)="selectItem(component.footer)">{{component.footer.button_name}}</button>
</ng-container>


