<ng-container *ngIf="view=='edit'">
  <div class="mt-5 mb-5 text-center justify-content-around">
    <button class="btn btn-primary mr-3" id="edit-component-buttons" (click)="showPopup()">Configure Content</button>
  </div>

  <!--Content Popup Configuration-->
  <ng-container *ngIf="viewConfig">
    <dx-popup
      [width]="800"
      [height]="getScreenHeight()"
      [showTitle]="true"
      title="Configure Content"
      [dragEnabled]="true"
      [hideOnOutsideClick]="false"
      [(visible)]="viewConfig"
      [showCloseButton]="true"
      [position]="{ my: 'top', at: 'top'}">
      <dx-scroll-view [showScrollbar]="'always'" style="height:85%;">
        <app-component-header-view [component]="component" [view]="view"></app-component-header-view>
        <div class="row">
          <div class="col">
              <h3>Component Body</h3>
          </div>
        </div>
        <div class="dx-field">
          <div class="dx-field-label content-field-label">Text</div>
          <div class="dx-field-value content-field-value">
            <dx-text-area [(value)]="component.content.html" [height]="150"></dx-text-area>
            <dx-button [icon]="'edit'" (onClick)="displayCardEditor('html', component.content)"></dx-button>
          </div>
        </div>
        <app-footer-view [component]="component" [view]="view"></app-footer-view>
      </dx-scroll-view>
      <div class="row d-flex my-5 justify-content-around" style="margin: 0 auto;">
        <div class="col-lg-6 text-center">
          <dx-button width="100" stylingMode="contained" text="Save" type="default" (onClick)="viewConfig = false"></dx-button>
        </div>
        <div class="col-lg-6 text-center">
          <dx-button width="100" stylingMode="contained" text="Cancel" type="default" (onClick)="resetForm()"></dx-button>
        </div>
      </div>
    </dx-popup>
  </ng-container>

  <app-card-text-editor
    [card]="editedComponent"
    [field]="editedField"
    [textEditorVisible]="textEditorVisible"
    (textEditorClosed)="closeEditorWindow()"
    [htmlContent]="htmlContent">
  </app-card-text-editor>

</ng-container>



<!--Content Display-->
<ng-container *ngIf="view == 'display' || view == 'preview'">
  <app-component-header-view [component]="component" [view]="view"></app-component-header-view>
  <div *ngIf="component.content.html">
    <div class="row d-flex justify-content-around">
      <div class="content-paragraph" [innerHTML]="component.content.html | safeHTMLUrl"></div>
    </div>
  </div>
  <app-footer-view [component]="component" [view]="view"></app-footer-view>
</ng-container>
