<div class="content-block">
  <dx-data-grid class="dx-card wide-card"
    #grid
    [dataSource]="dataSource | async"
    [width]="'100%'"
    [showBorders]="false"
    [focusedRowEnabled]="true"
    [columnAutoWidth]="true"
    [columnHidingEnabled]="true"
    (onRowUpdating)="onRowUpdating($event)">

    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
    <dxo-search-panel [visible]="true" placeholder="Search..."></dxo-search-panel>
    <dxo-toolbar>
      <dxi-item location="before">
        <div *dxTemplate>
          <div class="toolbar-label">
            <b>Consultation Request</b>
          </div>
        </div>
      </dxi-item>

      <dxi-item name="addRowButton"></dxi-item>
      <dxi-item name="searchPanel"></dxi-item>
    </dxo-toolbar>
    <dxo-editing
      mode="popup"
      [allowAdding]="true"
      [allowUpdating]="true"
      [allowDeleting]="true"
      [useIcons]="true">
      <dxo-popup
        title="Consultation Request"
        [showTitle]="false"
        [width]="650"
        [height]="550">
      </dxo-popup>
      <dxo-form [colCount]="1">
        <dxi-item itemType="group" caption="Event" [colCount]="4" [colSpan]="1">
          <dxi-item dataField="firstName" [colSpan]="2"></dxi-item>
          <dxi-item dataField="lastName" [colSpan]="2"></dxi-item>
          <dxi-item dataField="email" [colSpan]="4"></dxi-item>
          <dxi-item dataField="message" [colSpan]="4" [editorType]="'dxTextArea'" [editorOptions]="{ height: 150 }"></dxi-item>
        </dxi-item>
      </dxo-form>
    </dxo-editing>
    <dxi-column dataField="firstName"></dxi-column>
    <dxi-column dataField="lastName"></dxi-column>
    <dxi-column dataField="email"></dxi-column>
    <dxi-column dataField="message"></dxi-column>
  </dx-data-grid>
</div>
