<div class="container-fluid" id="card-display-container">
  <div id="script_anchor"></div>
  <ng-template [ngIf] = "loading | async">

    <ng-template [ngIf]="currentCard != null">

      <ng-template [ngIf]="currentCard.card_section == 'Card' || currentCard.card_section == '' || currentCard.card_section == null">
        <div class="card" id="card-display" [style.background-color]="currentCard.card_color">
          <div class="card-body">
            <app-card-header-view [view]="mode" [card]="currentCard"></app-card-header-view>
            <app-card-body-view [view]="mode" [card]="currentCard"></app-card-body-view>
            <ng-container *ngIf="currentCard.line == true">
              <hr [ngStyle]="card_line">
            </ng-container>
          </div>
        </div>
      </ng-template>

      <ng-template [ngIf]="currentCard.card_section == 'Section'">
        <div class="card" id="section-display"  [style.background-color]="currentCard.card_color">
          <div class="section-body">
            <app-card-header-view [view]="mode" [card]="currentCard"></app-card-header-view>
            <app-card-body-view [view]="mode" [card]="currentCard"></app-card-body-view>
            <ng-container *ngIf="currentCard.line == true">
              <hr [ngStyle]="card_line">
            </ng-container>
          </div>
        </div>

      </ng-template>

    </ng-template>

  </ng-template>
</div>

