<div class="container-fluid" id="card-display-container">
  <div id="script_anchor"></div>
    <ng-template [ngIf]="card.card_section == 'Card' || card.card_section == '' || card.card_section == null">
      <div class="card" id="card-display" [style.background-color]="card.card_color">
        <div class="card-body">
          <app-card-header-view [view]="mode" [card]="card"></app-card-header-view>
          <app-card-body-view [view]="mode" [card]="card"></app-card-body-view>
          <ng-container *ngIf="card.line == true">
            <hr [ngStyle]="card_line">
          </ng-container>
        </div>
      </div>
    </ng-template>

    <ng-template [ngIf]="card.card_section == 'Section'">
      <div class="card" id="section-display"  [style.background-color]="card.card_color">
        <div class="section-body">
          <app-card-header-view [view]="mode" [card]="card"></app-card-header-view>
          <app-card-body-view [view]="mode" [card]="card"></app-card-body-view>
          <ng-container *ngIf="card.line == true">
            <hr [ngStyle]="card_line">
          </ng-container>
        </div>
      </div>
  </ng-template>
</div>

