#section-display {
  box-shadow: none !important;
  border-radius: 0;
  .card-body {
    padding: 0 !important;
  }
}

#section-display:before {
  content: "";
  position: absolute;
  left: 5%;
  right: 5%;
  bottom: 0;
  width: 90%;
}

.section-body {
  padding: 25px;
}
